<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
</head>
<body>
	<th:block layout:fragment="content">
		<div class="aboutbox">
			<div class="head">
				add/edit categories<a class="pull-right"><i class="fa fa-close close_menu"></i></a>
			</div>
			<!-- <th:block th:each="categories : ${categories}"> -->
			<div class="about-contents ingredients-sec categry-sec">
				<div class="row">
					<p>Add or edit categories here.</p>
				</div>
				<div class="row add">
					<input type="text" placeholder="Add Category name"
						class="category_name" th:required="required" autofocus>
					<button class="btn add_category fa fa-plus">&nbsp;Add</button>
				</div>

				<div class="clearfix"></div>

				<div class="row cetogry">
					<input type="hidden" class="category_id">
					<ul>
						<th:block th:each="categories : ${categories}">
							<li class="cat_select" th:id="${categories.id}">
								<span class="category_select" th:text="${categories.name}"></span>
								<a class="msg" th:if="${categories.message} != ''">
									<i class="fa fa-envelope category_msg"></i>
								</a>
								<a class="gray" th:if="${categories.message} == ''">
									<i class="fa fa-envelope category_msg"></i>
								</a>
							</li>
						</th:block>
					</ul>
					<div id="messageModal"></div>
				</div>
				<button class="btn delete_category ">Delete Category</button>
				<!-- <button class="btn save-btn category-button">Save</button> -->
				<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="deleteConfirm">
				</div>
			</div>
			<!-- </th:block> -->
		</div>
	</th:block>
</body>
</html>