<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
	<link th:href="@{/css/dropzone.css}" rel="stylesheet" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
</head>
	<body>
		<th:block layout:fragment="content">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content about-modal-content">
					<div class="aboutbox upload-section client-upload">
					<div class="head">
						<i class="fa fa-image"></i> Upload File<a class="pull-right"><i class="fa fa-close close_menu"></i></a>
					</div>
					<div class="about-contents">
						<div class="row" id="area">
							<div class="upload-box dropzone item-dropzone1">
								<div class="dispaly_item_image" style="margin-top: 30px;">
								
								 <th:block th:each="images : ${images}">
									<div class="image" >
										<div th:if="${images.picture.toLowerCase().contains('jpg') or images.picture.toLowerCase().contains('jpeg') or images.picture.toLowerCase().contains('gif') or images.picture.toLowerCase().contains('bmp') or images.picture.toLowerCase().contains('png')}">
											<img th:src="@{/user/Image/image/{id}(id=${images.id})}" th:id="${images.id}" style="margin: 5% 0% 10% 7%;height: 150px;"/>
										</div>
										<div th:unless="${images.picture.toLowerCase().contains('jpg') or images.picture.toLowerCase().contains('jpeg') or images.picture.toLowerCase().contains('gif') or images.picture.toLowerCase().contains('bmp') or images.picture.toLowerCase().contains('png')}">
											<img th:src="@{/images/filesymbol.png}" th:id="${images.id}" style="margin: 10% 0% 10% 25%;;height: 150px;"/>
										</div>
										<span th:text="${images.picture}"></span>	
										<a onclick="deleteUploadImage(this);" class="close-img close-item_img" th:id="${images.id}" style="right: 10px;">
											<i class="fa fa-close"></i></a>
									</div>
								</th:block>
								<div class="dz-message" data-dz-message><span>Drop file here to upload</span></div>
								</div>
							</div>
						</div>
						<div class="item_loader"></div>
					</div>
				</div>
			</div>
		</div>
	
		<script type="text/javascript">
			$(function() {
				Dropzone.autoDiscover = false;
				var myDropZone = new Dropzone(".item-dropzone1",{
				      url: "./clientUpload/create_image",
				      paramName: "picture",
				      maxFiles: 1,
				      parallelUploads: 1,
				      uploadMultiple: false,
				      autoProcessQueue : true,
				      acceptedFiles: ".zip,.rar,.jpg,.png,.jpeg,.pdf,.doc,.gif,.xls,.odt,.ppt,.rtf,.docx,.dotm,.dotx,.docm,.pptx,.odp",
				      init: function() {
							this.on('maxfilesexceeded', function(file){
							this.removeAllFiles();
						});
						this.on("uploadprogress", function(file, progress, bytesSent){
							 progress = 0
							 document.querySelector(".dz-upload").style.width =  10 + "%";
							 document.querySelector(".dz-upload").style.width =  20 + "%";
							 document.querySelector(".dz-upload").style.width =  40 + "%";
							 document.querySelector(".dz-upload").style.width = 60 + "%";
							 document.querySelector(".dz-upload").style.width =  80 + "%"; 
						});  
						this.on("sending", function(file, xhr, data){
							data.append("id", $(".item-selected").attr("id"));
						});						
				    },		
			      	success: function(file, response){
			        	toastr.success("File Uploaded  successfully");
			        	location.reload();
			        	  /* $(".dispaly_item_image").load(location.href + " .dispaly_item_image"); */
			     	 }
				});
				myDropZone.on("error", function(file, errormessage, xhr){
				});
				myDropZone.on("complete", function(file){
					myDropZone.removeFile(file)
				});
			});
			
			$(document).on('click','img',function(){downloadImage($(this).attr("id"));})
		
			function downloadImage(id) {
				 $.ajax({
			  		type: "get",
			        url: contextURL + "user/clientUpload/download",
			        data: { 'id' : id },
			        success: function() {
			        	window.location = contextURL + "user/clientUpload/download?id="+id;
			        	toastr.success("File Downloaded Successfully")
			         },
			        error: function() {
			        	toastr.error("Error in Downloading File")
			        }
			   	}); 
		    }
				
		</script>
	
		</th:block>
	</body>
</html>