<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
</head>
<body>
	<th:block layout:fragment="content">

		<div class="aboutbox">
			<div class="head">
				delivery <a class="pull-right"><i class="fa fa-close close_menu"></i></a>
			</div>

			<div class="about-contents delivery-sec">
				<div class="row head-row">
					<p>Select delivery fees per distance.</p>
				</div>

				<!-- <% number = 0 %> -->
				<form th:object="${userDeliveriesVO}"> <!-- data-remote="true" id="delivery_form" -->
					<div class="delivery-contents">
						<!-- <% @user_delivery.each do |delivery| %> -->
						<th:block th:each="userDeliverie, iter : ${userDeliveries}">
							<div class="row">
								<div class="left-side">
									<span class="delivery_text" th:text="${iter.index+1}"></span>
									<p>UPTO</p>
									<input type="text" th:field="*{userDeliveries[__${iter.index}__]?.deliveriesMiles}" placeholder=""
									onkeyup="stoppedTyping()">
									<p>Miles</p>
								</div>
								<div class="right-side">
									<p>Price</p>
									<input type="text" th:field="*{userDeliveries[__${iter.index}__]?.price}" placeholder=""
									onkeyup="stoppedTyping()"> 
								</div>
								<input type="hidden" th:field="*{userDeliveries[__${iter.index}__]?.id}"/> 
							</div>
						</th:block>
						<!-- <% end %> -->
					</div>
					<button type="button" class="btn save-btn delivery_update">Save</button>
				</form>
			</div>
		</div>

		<script type="text/javascript">
			function stoppedTyping() {
				if ($('input[name="miles1"]').val() != ""
						|| $('input[name="price1"]').val() != "") {
					$('input[name="miles2"]').removeAttr("disabled");
					$('input[name="price2"]').removeAttr("disabled");
				} else {
					$('input[name="miles2"]').attr("disabled", "disabled");
					$('input[name="price2"]').attr("disabled", "disabled");
					$('input[name="miles3"]').attr("disabled", "disabled");
					$('input[name="price3"]').attr("disabled", "disabled");
				}

				if ($('input[name="miles2"]').val() != ""
						|| $('input[name="price2"]').val() != "") {
					$('input[name="miles3"]').removeAttr("disabled");
					$('input[name="price3"]').removeAttr("disabled");
				} else {
					$('input[name="miles3"]').attr("disabled", "disabled");
					$('input[name="price3"]').attr("disabled", "disabled");
				}
			}
			$(document).ready(
					function() {
						$('.delivery_update').click(
								function() {
									$('.delivery_miles, .delivery_price').attr(
											'readonly', true);
								});
						if ($('input[name="miles1"]').val() == ""
								&& $('input[name="price1"]').val() == "") {
							$('input[name="miles2"]').attr("disabled",
									"disabled");
							$('input[name="price2"]').attr("disabled",
									"disabled");
							$('input[name="miles3"]').attr("disabled",
									"disabled");
							$('input[name="price3"]').attr("disabled",
									"disabled");
						} else if ($('input[name="miles2"]').val() == ""
								&& $('input[name="price2"]').val() == "") {
							$('input[name="miles3"]').attr("disabled",
									"disabled");
							$('input[name="price3"]').attr("disabled",
									"disabled");
						}
					});
		</script>
	</th:block>
</body>
</html>