<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
</head>
<body>
	<th:block layout:fragment="content">
		<div class="aboutbox menuorder">
			<div class="about-contents ingredients-sec">
				<div class="row editMenu" role="tablist">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#menu-builder" aria-controls="menu-builder" role="tab" data-toggle="tab">Menu Builder</a>
						</li>
						<li role="presentation" class="user_edit_menu">
							<a href="#menu-order" aria-controls="menu-order" role="tab" data-toggle="tab">Menu Order</a>
						</li>
						<li>
							<a class="pull-right"><i class="fa fa-close close_menu"></i></a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="menu-builder">
							<div class="row head-row">
								<p> <i class="fa fa-play"></i> select category and include items </p>
							</div>
							<form method="post" th:object="${menuCategoryItem}" th:action="@{/user/menu/update_editmenu}">
								<input type="hidden" id="createdId" th:field="*{id}">
								<div class="row select-row">
									<select id="select_menu" th:field="*{userMenu}" class="select_menu_builder" required="required">
										<option value="" selected>Please select menu</option>
										<th:block th:each="menuList : ${userMenus}">
											<option th:id="${menuList.id}" th:value="${menuList.id}" th:text="${menuList.menuName}"></option>
										</th:block>
									</select> 
									<input type="hidden" value="" class="builder_menu" > 
									
									<select id="select_category" th:field="*{categories}" class="menu_builder_category select_menu_builder" required="required">
										<option value="" selected>Please select category</option>
										<th:block th:each="category : ${categories}">
											<option th:id="${category.id}" th:value="${category.id}" th:text="${category.name}"></option>
										</th:block>
										<option value="" class="add_category_color">Add Category</option>
									</select>
									 
									<input type="hidden" value="" class="builder_category">
								</div>
								<div class="row">
									<div class="food-list" id="foodlist">
										<input type="text" placeholder=" &#xF002; Search Item" style="font-family:Arial, FontAwesome;padding: 0px 0px 0px 10px;" value="" class="find-items find_business"> 
										<ul class="items">
											<th:block th:each="item,iter : ${items}">
												<li th:id="${item.id}">
													<input type="hidden" class="demoClass" th:value="${item.id}" required="required" disabled="disabled">
													<span th:text="${item.name}"></span>
												</li>
											</th:block>
										</ul>
										<input type="hidden" id="listItemId" th:field="*{items}">
									</div>
								</div>

								<div class="modal fade bs-example-modal-sm" tabindex="-1"
									role="dialog" aria-labelledby="mySmallModalLabel" id="category">
									<div class="modal-dialog modal-sm" role="document">
										<div class="modal-content about-modal-content">
											<div class="aboutbox upload-section">
												<div class="head">
													Add Category <a class="pull-right">
													<i class="fa fa-close close-add-cat-popup"></i></a>
												</div>

												<div class="about-contents">
													<div class="row add">
														<input type="text" placeholder="Add Category name" class="new_category form-control">
													</div>
													
													<div class="clearfix"></div>
													<button class="btn save-btn category_button" type="button" data-dismiss="modal">Ok</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<button class="btn save-btn menu_builder">Save</button>
							</form>
						</div>
						<div role="tabpanel" class="tab-pane" id="menu-order">

							<!-- <% @menus = get_menu %> <% @categories = get_category %> <%
							@items = [] %> -->
							<div class="row head-row">
								<p> <i class="fa fa-play"></i> select menu,category and drag item order </p>
								<!-- <p> <i class="fa fa-play"></i> select category to add message </p> -->
							</div>
							<div class="row select-row">
								<select class="select_menu_order">
									<option selected>Please select menu</option>
									<th:block th:each="menuList : ${userMenus}">
										<option th:id="${menuList.id}" th:text="${menuList.menuName}"></option>
									</th:block>
								</select>
								<select class="select_menu_order">
									<option selected>Please select category</option>
									<th:block th:each="category : ${categories}">
										<option th:id="${category.id}" th:text="${category.name}"></option>
									</th:block>
								</select>
							</div>
							<div class="row select_i">
								<div class="food-list menuorderlist">
									<ul id="sortable" style="border-radius: 7px">
										<!-- <% if @items.present? %> <% @items.each do |i| %> -->
										<li>
											<!-- <%= i.name %> -->
										</li>
										<!-- <% end %> <% end %> -->
									</ul>
								</div>
							</div>
							<button class="btn save-btn menu_order">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				$("#foodlist ul li").click(function(event) {
					selectItem(this);
				});
				$("#sortable").sortable();
				$("#sortable").disableSelection();
				$("#sortable2").sortable();
				$("#sortable2").disableSelection();
				$("#sortable3").sortable();
				$("#sortable3").disableSelection();

				jQuery('.tabs .tab-links a').on('click',function(e) {
					var currentAttrValue = jQuery(this).attr('href');
					// Show/Hide Tabs
					jQuery('.tabs ' + currentAttrValue).show().siblings().hide();
					// Change/remove current tab to active
					jQuery(this).parent('li').addClass('active').siblings().removeClass('active');
					e.preventDefault();
				});
			});
			function selectItem(obj,ids){
				if (($("#select_menu").val() != "") && ($("#select_category").val() != "")) {
					$(obj).toggleClass("selected");
					$(obj).find("input").prop('disabled', function(i, v) { return !v; });	
					var filtered = new Array();
					$("#foodlist ul li").each(function(index){
						if($(this).hasClass("selected")){
							filtered.push($(this).attr("id"));
						}
					});
					var joined = filtered.join(",");
					$("#listItemId").val(joined);
				}
				else{
					toastr.warning("please select menu and category first");
				}
			}
		</script>
	</th:block>
</body>
</html>