<ul>
	<th:block th:each="Ingredient : ${IngredientsList}">
		<li class="ingredient_select" th:id="${Ingredient.id}" value="true">
			<span th:text="${Ingredient.name}"></span> <span
			th:text="${Ingredient.price}"></span>
		</li>
	</th:block>
</ul>