<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
</head>
<body>
	<th:block layout:fragment="content">
		<div class="aboutbox">
		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="deleteConfirm">
				</div>
			<div class="head">
			add / edit ingredients <a class="pull-right"><i class="fa fa-close close_menu"></i></a>
			</div>
			<div class="about-contents ingredients-sec ingredients-body">
				<div class="row">
					<p style="color: #fff;font-size: 16px;margin-left: 3px;"><i class="fa fa-play"></i>  &nbsp;Select or add new ingredient, no price is FREE ingredient.</p>
				</div>
				<div class="row add">
					<form method="post" th:object="${ingredientModal}"
						th:action="@{/user/ingredients/add_edit_items}">
						<input type="text" class="ingredient_name" th:field="*{name}"
							placeholder="Ingridient Name" th:required="required" />
						<p>price:</p>
							<input placeholder="" type="text" class="ingredient_price" th:field="*{price}">
							<input type="hidden" th:field="*{id}" class="ingredient_id">
						<button class="btn plus"> <i class="fa fa-plus"></i> </button>
					</form>
				</div>

				<div class="row cetogry">
					<input type="text" placeholder="Search Ingredients" value="" class="search_ingredient find_business">
					<div id="ingredientData">
						<ul>
							<th:block th:each="Ingredient : ${IngredientsList}">
								<li class="ingredient_select" th:id="${Ingredient.id}" value="true">
									<span th:text="${Ingredient.name}"></span>
									<span th:text="${Ingredient.price}"></span>
								</li>
							</th:block>
						</ul>
					</div>
				</div>
				<button class="btn delete_ingredient ">Delete Ingredient</button>
				<button class="btn save-btn save_ingrediends-button">Save</button>
			</div>
		</div>
	</th:block>
</body>
</html>