<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<style type="text/css">
	.mydropdown select {
		background: #fff url(../assets/arrow.png) no-repeat 101% 0;
		background-size: auto 27px !important;
		border-radius: 7px;
		width: 90%;
		height: 28px !important;
		margin-top: 2%; 
		padding-left: 10px;
		font-size: 19px;
		font-family: "Calibri";
		color: BLUE;
		font-weight: bold;
		text-transform: uppercase;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		border: 1px solid #b5b5b5;
	}
	.main-contain .about-contents .item-table{
		border : 3px solid #FFFF;
		border-radius: 8px;
		margin-bottom: 2%;
	}
	
</style>
</head>
<body>
	<th:block layout:fragment="content">
		<div th:if="${errorMsg != null}">
			<script type="text/javascript">
				$(function() {
					toastr.error("Try Again and insert all required fields.");
				});
			</script>
		</div>
		<div th:if="${successMsg != null}">
			<script type="text/javascript">
				$(function() {
					toastr.success("Day And Hours Added successfully.");
				});
			</script>
		</div>
		<div class="aboutbox addeditbox" id="add-item">
			<div class="head">
				<span>Add / edit item</span> <a
					class="pull-right"><i class="fa fa-close close_menu"></i></a>
			</div>
			<div class="about-contents ingredients-sec">
				<div class="client-section row">
					<div class="col-xs-4 pd-none client-left">
						<div class="row">
							<div class="food-list" id="foodlist" style="white-space: nowrap;">
								<input type="text" placeholder="&#xF002; Search Item Here" style="font-family:Arial, FontAwesome" value="" class="search_item find_business">
								<ul id="items_list">
									<th:block th:each="item : ${itemList}">
										<li class="select_item" th:id="${item.id}" th:text="${item.name}"></li>
									</th:block>
								</ul>
							</div>
						<div class="item_counts">ITEMS : <span th:text="${#lists.size(itemList)}"></span></div>
						</div>
					</div>
					<div class="col-xs-8 client-right pd-rgt-nn" id="updateItemId">
						<th:block th:insert="site/fragments/itemAddEditForm :: itemAddEditForm"></th:block>
					</div>
				</div>
				<div id="allModalDialogue"></div>
				<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="itemDeleteModal">
				</div>
			</div>
		</div>
		
		
		<script type="text/javascript">
			function stoppedTyping() {
				if ($('input[name="price1"]').val() != "") {
					$('input[name="price2"]').removeAttr("disabled");
				} else {
					$('input[name="price2"]').attr("disabled", "disabled");
				}
				if ($('input[name="price2"]').val() != "") {
					$('input[name="price3"]').removeAttr("disabled");
				} else {
					$('input[name="price3"]').attr("disabled", "disabled");
				}
				if ($('input[name="price3"]').val() != "") {
					$('input[name="price4"]').removeAttr("disabled");
				} else {
					$('input[name="price4"]').attr("disabled", "disabled");
				}
				if ($('input[name="price4"]').val() != "") {
					$('input[name="price5"]').removeAttr("disabled");
				} else {
					$('input[name="price5"]').attr("disabled", "disabled");
				}
			}
		
		/* 	$(function() {
				$('.datetimepicker').timepicki();
			}); */
			
			function enableAllInItemAddForm(){
				if ($('.item_name').val() == "") {
					$('.item_description').removeAttr("disabled");
					$('.add-item-contents input').removeAttr("disabled");
					$('.additemfields input').removeAttr("disabled");
					$('#item_user_menu').removeAttr("disabled");
				}
			}
		
			function stoppedTypingItem() {
				if ($('.item_name').val() != "") {
					$('.item_description').removeAttr("disabled");
					$('.add-item-contents input').removeAttr("disabled");
					$('.additemfields input').removeAttr("disabled");
					$('#item_user_menu').removeAttr("disabled");
				} else {
					$('.item_description').attr("disabled", "disabled");
					$('.add-item-contents input').attr("disabled", "disabled");
					$('.additemfields input').attr("disabled", "disabled");
					$('#item_user_menu').attr("disabled", "disabled");
				}
			}
			
			function removeNewLinesOnPaste(){
				var noLineBreaks = $('#descriptiontextarea').val().replace(/\n/g,' ');
				//noLineBreaks = noLineBreaks.replace(/\s\s+/g, ' ');
				$('#descriptiontextarea').val(noLineBreaks);
			}
			
			$('#descriptiontextarea').on('input', function() {
				var noLineBreaks = $(this).val().replace(/\n/g,' ');
				$(this).val(noLineBreaks);
			});
			
			function preventEnter(e){
				var code = (e.keyCode ? e.keyCode : e.which);
			    if (code == 13) {
			        e.preventDefault();
			    };
			}
			
			 	 $(document).ready(function() {
			 		/*	$('.formPrice').mask("#.00", {reverse: true});*/
				$('.item_description').attr("disabled","disabled");
				$('.add-item-contents input').attr("disabled","disabled");
				$('.additemfields input').attr("disabled","disabled");
				$('#item_user_menu').attr("disabled", "disabled");
				
		 	$('.image_picture').unbind().on('click',function() {
				//$("#itempicture").modal();
				if ($('.item-selected').attr('id') != null) {
					$("#itempicture").modal();
					$.ajax({
						type : 'get',
						url : '/item/get_item_image',
						data : {
							'item_id' : $('.item-selected').attr('id')
						},
						success : function(data) {
							$("#itempicture").html(data);
							$("#itempicture").modal();
						}
					});
				} else {
					toastr.info("Please create Item first.");
				}
			});  
				// with plugin options
				$("#input-id").rating({
					min : 0,
					max : 5,
					step : 0.1,
					stars : 5,
					size : 'lg'
				});
				//hide item day time pop-up 
				$(document).on('click', '.item_picture', function() {
					$('#itempicture').modal('hide');
				})
			});
			
			$(".price_combos_user_menu").attr("value",$('#item_user_menu').find(":selected").val());
			$("#item_user_menu").on("change",function(){
				$(".price_combos_user_menu").attr("value",$(this).val());
			});
		</script>
	</th:block>
</body>
</html>