<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
</head>
<body>
	<div class="modal fade ingredient-popup" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel" id="itemingredientModal">
		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content about-modal-content" id="itemIngredients">
				<div class="aboutbox ingredient_box">
					<div class="head">
						<i class="fa fa-info-circle"></i>Ingredients
					</div>
					<div class="about-contents ingredients-sec">
						<form method="post" th:object="${ingredientsVO}"
							th:action="@{/user/item/update_items}">
							<div class="row cetogry" id="foodlist">
								<input type="hidden" th:field="*{itemId}">
								<ul class="ingredient_ids">
									<th:block
										th:each="Ingredient,iter : ${ingredientsVO.ingredients}">
										<li class="item_ingredient_select selected"
											th:if="${#arrays.contains(selectedItems ,#strings.toString(Ingredient.id))}"
											th:id="${Ingredient.id}"><span
											th:text="${Ingredient.name}"></span> <span
											th:text="${Ingredient.price}"></span><input type="hidden"
											th:field="*{ingredients[__${iter.index}__].id}"
											class="selected_ingredients"></li>
										<li class="item_ingredient_select"
											th:unless="${#arrays.contains(selectedItems ,#strings.toString(Ingredient.id))}"
											th:id="${Ingredient.id}"><span
											th:text="${Ingredient.name}"></span> <span
											th:text="${Ingredient.price}"></span><input type="hidden"
											th:field="*{ingredients[__${iter.index}__].id}"
											class="selected_ingredients" disabled="disabled"></li>
									</th:block>
								</ul>
							</div>
							<button class="btn save-btn item_ingredient">Save</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>