<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link th:href="@{/css/custom.css}" rel="stylesheet" />
<link th:href="@{/css/phonemyfood.css}" rel="stylesheet" />
<link th:href="@{/css/application.css}" rel="stylesheet" />
</head>
<body>
	<th:block layout:fragment="content">

		<div th:if="${errorMsg != null}" class="text-center alert alert-danger">
			<script th:inline="javascript">
				/*<![CDATA[*/
				window.onload = function() {
					errorMsg([[${errorMsg}]]);
				}
				/*]]>*/
			</script>
		</div>
		<div th:if="${successMsg != null}" class="text-center">
			<script th:inline="javascript">
				/*<![CDATA[*/
				window.onload = function() {
					successMsg([[${successMsg}]]);
				}
				/*]]>*/
			</script>
		</div>

		<div class="aboutbox loginbox menubox">
			<div class="head">
				<span>Add Menu</span> <a class="pull-right"><i class="fa fa-close close_menu"></i></a>
			</div>
			<!-- Main Bg start -->
			<div class="main-bg1">
				<div class="clearfix"></div>

				<!-- Rewards content start -->
				<form th:object="${userMenuVO}" >
					<div class="login-contents addmenu">
						<div class="row">
							<input type="hidden" th:field="*{userMenu.id}">
							<input type="text" class="form-control menu_title_value"
								placeholder="Add new menu here..." lass="add-menu-field1" th:field="*{userMenu.menuName}"
								th:required="required" onkeyup="stoppedTypingmenu()">
						</div>
						<div class="row selecthrs">
							<p><i class="fa fa-clock-o"></i>select days and hours</p>
						</div>
					</div>

					<div class="reward-contents addmenu-sec menu_disable">
						<div th:class="*{daysAndHours[7].startTime == '' && daysAndHours[7].endTime == ''} ? 'row disabled all_row' : 'row all_row'">
							<div class="col1">
								<span class="menu_closeicon cross_all" th:classappend="*{daysAndHours[7].startTime == '' && daysAndHours[7].endTime == ''} ? disabled : ''">
									<i th:data-id="*{daysAndHours[7].startTime == '' && daysAndHours[7].endTime == ''} ? 'false' : 'true'" day_type="all" class="fa fa-close menu_image"></i>
								</span>
							</div>
							<input type="hidden" th:field="*{daysAndHours[7].id}">
							<div th:class="*{daysAndHours[7].startTime == '' && daysAndHours[7].endTime == ''} ? 'col2 disabled all_day' : 'col2 all_day'">
								<span th:text="${userMenuVO.daysAndHours[7].dayName} "> </span>
							</div>
							<div class="col6">
								<input type="text" placeholder="09:30 AM" class="datetimepicker menu_all" th:field="*{daysAndHours[7].startTime}" autocomplete="off"
									th:style="*{daysAndHours[7].startTime == '' && daysAndHours[7].endTime == ''} ? 'display:none;' : 'display:block;'">
								<p class="arrow-right">
									<img th:src="@{/images/arrow1.png}" class="arrow_all" th:style="*{daysAndHours[7].startTime == '' && daysAndHours[7].endTime == ''} ? 'display:none;' : 'display:block;'"/>
								</p>
								<input type="text" placeholder="09:30 PM" class="datetimepicker menu_all all_last_value" autocomplete="off" 
									th:style="*{daysAndHours[7].startTime == '' && daysAndHours[7].endTime == ''} ? 'display:none;' : 'display:block;'" th:field="*{daysAndHours[7].endTime}">
								<div class="close_menu_div all" th:text="*{daysAndHours[7].startTime == '' && daysAndHours[7].endTime == ''} ? 'Closed' : ''">
									<span value=""></span>								
								</div>
							</div>
						</div>
						<div th:class="*{daysAndHours[0].startTime == '' && daysAndHours[0].endTime == ''} ? 'row disabled mon_row' : 'row mon_row'">
							<div class="col1">
								<span class="menu_closeicon cross_mon " th:classappend="*{daysAndHours[0].startTime == '' && daysAndHours[0].endTime == ''} ? disabled : ''">
									<i th:data-id="*{daysAndHours[0].startTime == '' && daysAndHours[0].endTime == ''} ? 'false' : 'true'" day_type="mon" class="fa fa-close menu_image"></i>
								</span>
							</div>
							<input type="hidden" th:field="*{daysAndHours[0].id}">
							<div th:class="*{daysAndHours[0].startTime == '' && daysAndHours[0].endTime == ''} ? 'col2 disabled mon_day' : 'col2 mon_day'">
								<span th:text="${userMenuVO.daysAndHours[0].dayName} "> </span>
							</div>
							<div class="col6">
								<input type="text" placeholder="09:30 AM" class="datetimepicker menu_mon" th:field="*{daysAndHours[0].startTime}" autocomplete="off"
									th:style="*{daysAndHours[0].startTime == '' && daysAndHours[0].endTime == ''} ? 'display:none;' : 'display:block;'">
								<p class="arrow-right">
									<img th:src="@{/images/arrow1.png}" class="arrow_mon" th:style="*{daysAndHours[0].startTime == '' && daysAndHours[0].endTime == ''} ? 'display:none;' : 'display:block;'"/>
								</p>
								<input type="text" placeholder="09:30 PM" class="datetimepicker menu_mon mon_last_value" autocomplete="off" 
									th:style="*{daysAndHours[0].startTime == '' && daysAndHours[0].endTime == ''} ? 'display:none;' : 'display:block;'" th:field="*{daysAndHours[0].endTime}">
								<div class="close_menu_div mon" th:text="*{daysAndHours[0].startTime == '' && daysAndHours[0].endTime == ''} ? 'Closed' : ''">
									<span value=""></span>								
								</div>
							</div>
						</div>
						
						<div th:class="*{daysAndHours[1].startTime == '' && daysAndHours[1].endTime == ''} ? 'row disabled tue_row' : 'row tue_row'">
							<div class="col1">
								<span class="menu_closeicon cross_tue" th:classappend="*{daysAndHours[1].startTime == '' && daysAndHours[1].endTime == ''} ? disabled : ''">
									<i th:data-id="*{daysAndHours[1].startTime == '' && daysAndHours[1].endTime == ''} ? 'false' : 'true'" day_type="tue" class="fa fa-close menu_image "></i>
								</span>
							</div>
							<input type="hidden" th:field="*{daysAndHours[1].id}">
							<div th:class="*{daysAndHours[1].startTime == '' && daysAndHours[1].endTime == ''} ? 'col2 disabled tue_day' : 'col2 tue_day'">
								<span class=" " th:text="${userMenuVO.daysAndHours[1].dayName}"></span>
							</div>
							<div class="col6">
								<input type="text" placeholder="09:30 AM" class="datetimepicker menu_tue" th:field="*{daysAndHours[1].startTime}" autocomplete="off" 
									th:style="*{daysAndHours[1].startTime == '' && daysAndHours[1].endTime == ''} ? 'display:none;' : 'display:block;'">
								<p class="arrow-right">
									<img th:src="@{/images/arrow1.png}" class="arrow_tue" th:style="*{daysAndHours[1].startTime == '' && daysAndHours[1].endTime == ''} ? 'display:none;' : 'display:block;'"/>
								</p>
								<input type="text" placeholder="09:30 PM" class="datetimepicker menu_tue tue_last_value" th:style="*{daysAndHours[1].startTime == '' && daysAndHours[1].endTime == ''} ? 'display:none;' : 'display:block;'"
									th:field="*{daysAndHours[1].endTime}" autocomplete="off">
								<div class="close_menu_div tue" th:text="*{daysAndHours[1].startTime == '' && daysAndHours[1].endTime == ''} ? 'Closed' : ''">
									<span value=""></span>
								</div>
							</div>
						</div>
						
						<div th:class="*{daysAndHours[2].startTime == '' && daysAndHours[2].endTime == ''} ? 'row disabled wed_row' : 'row wed_row'">
							<div class="col1">
								<span class="menu_closeicon cross_wed" th:classappend="*{daysAndHours[2].startTime == '' && daysAndHours[2].endTime == ''} ? disabled : ''">
									<i th:data-id="*{daysAndHours[2].startTime == '' && daysAndHours[2].endTime == ''} ? 'false' : 'true'"  day_type="wed" class="fa fa-close menu_image"></i>
								</span>
							</div>
							<input type="hidden" th:field="*{daysAndHours[2].id}">
							<div th:class="*{daysAndHours[2].startTime == '' && daysAndHours[2].endTime == ''} ? 'col2 disabled wed_day' : 'col2 wed_day'">	
								<span th:text="${userMenuVO.daysAndHours[2].dayName}">Wed</span>
							</div>
							<div class="col6">
								<input type="text" placeholder="09:30 AM" class="datetimepicker menu_wed" th:field="*{daysAndHours[2].startTime}" autocomplete="off"
									th:style="*{daysAndHours[2].startTime == '' && daysAndHours[2].endTime == ''} ? 'display:none;' : 'display:block;'">
								<p class="arrow-right" >
									<img th:src="@{/images/arrow1.png}" class="arrow_wed" th:style="*{daysAndHours[2].startTime == '' && daysAndHours[2].endTime == ''} ? 'display:none;' : 'display:block;'"/>
								</p>
								<input type="text" placeholder="09:30 PM"  class="datetimepicker menu_wed wed_last_value" th:style="*{daysAndHours[2].startTime == '' && daysAndHours[2].endTime == ''} ? 'display:none;' : 'display:block;'"
									 th:field="*{daysAndHours[2].endTime}" autocomplete="off">
								<div class="close_menu_div wed" th:text="*{daysAndHours[2].startTime == '' && daysAndHours[2].endTime == ''} ? 'Closed' : ''">
									<span value=""></span>
								</div>
							</div>
						</div>
						
						<div th:class="*{daysAndHours[3].startTime == '' && daysAndHours[3].endTime == ''} ? 'row disabled thu_row' : 'row thu_row'">
							<div class="col1">
								<span class="menu_closeicon cross_thu" th:classappend="*{daysAndHours[3].startTime == '' && daysAndHours[3].endTime == ''} ? disabled : ''">
									<i th:data-id="*{daysAndHours[3].startTime == '' && daysAndHours[3].endTime == ''} ? 'false' : 'true'" day_type="thu" class="fa fa-close menu_image "></i>
								</span>
							</div>
							<input type="hidden" th:field="*{daysAndHours[3].id}">
							<div th:class="*{daysAndHours[3].startTime == '' && daysAndHours[3].endTime == ''} ? 'col2 disabled thu_day' : 'col2 thu_day'">
								<span th:text="${userMenuVO.daysAndHours[3].dayName}">Thu</span>
							</div>
							<div class="col6">
								<input type="text" placeholder="09:30 AM" class="datetimepicker menu_thu" th:field="*{daysAndHours[3].startTime}" autocomplete="off"
									th:style="*{daysAndHours[3].startTime == '' && daysAndHours[3].endTime == ''} ? 'display:none;' : 'display:block;'">
								<p class="arrow-right">
									<img th:src="@{/images/arrow1.png}" class="arrow_thu" th:style="*{daysAndHours[3].startTime == '' && daysAndHours[3].endTime == ''} ? 'display:none;' : 'display:block;'"/>
								</p>
								<input type="text" placeholder="09:30 PM" class="datetimepicker menu_thu thu_last_value" th:field="*{daysAndHours[3].endTime}" autocomplete="off"
									th:style="*{daysAndHours[3].startTime == '' && daysAndHours[3].endTime == ''} ? 'display:none;' : 'display:block;'">
								<div class="close_menu_div thu" th:text="*{daysAndHours[3].startTime == '' && daysAndHours[3].endTime == ''} ? 'Closed' : ''">
									<span value=""></span>
								</div>
							</div>
						</div>
						
						<div th:class="*{daysAndHours[4].startTime == '' && daysAndHours[4].endTime == ''} ? 'row disabled fri_row' : 'row fri_row'">
							<div class="col1">
								<span class="menu_closeicon cross_fri" th:classappend="*{daysAndHours[4].startTime == '' && daysAndHours[4].endTime == ''} ? disabled : ''">
									<i th:data-id="*{daysAndHours[4].startTime == '' && daysAndHours[4].endTime == ''} ? 'false' : 'true'" day_type="fri" class="fa fa-close menu_image "></i>
								</span>
							</div>
							<input type="hidden" th:field="*{daysAndHours[4].id}">
							<div th:class="*{daysAndHours[4].startTime == '' && daysAndHours[4].endTime == ''} ? 'col2 disabled fri_day' : 'col2 fri_day'">
								<span th:text="${userMenuVO.daysAndHours[4].dayName}">Fri</span>
							</div>
							<div class="col6">
								<input type="text" placeholder="09:30 AM" class="datetimepicker menu_fri" th:field="*{daysAndHours[4].startTime}" autocomplete="off"
									th:style="*{daysAndHours[4].startTime == '' && daysAndHours[4].endTime == ''} ? 'display:none;' : 'display:block;'">
								<p class="arrow-right">
									<img th:src="@{/images/arrow1.png}" class="arrow_fri" th:style="*{daysAndHours[4].startTime == '' && daysAndHours[4].endTime == ''} ? 'display:none;' : 'display:block;'"/>
								</p>
								<input type="text" placeholder="09:30 PM" class="datetimepicker menu_fri fri_last_value" th:field="*{daysAndHours[4].endTime}" autocomplete="off"
									th:style="*{daysAndHours[4].startTime == '' && daysAndHours[4].endTime == ''} ? 'display:none;' : 'display:block;'">
								<div class="close_menu_div fri" th:text="*{daysAndHours[4].startTime == '' && daysAndHours[4].endTime == ''} ? 'Closed' : ''">
									<span value=""></span>
								</div>
							</div>
						</div>
						<div th:class="*{daysAndHours[5].startTime == '' && daysAndHours[5].endTime == ''} ? 'row disabled sat_row' : 'row sat_row'">
							<div class="col1">
								<span class="menu_closeicon cross_sat" th:classappend="*{daysAndHours[5].startTime == '' && daysAndHours[5].endTime == ''} ? disabled : ''">
									<i th:data-id="*{daysAndHours[5].startTime == '' && daysAndHours[5].endTime == ''} ? 'false' : 'true'" day_type="sat" class="fa fa-close menu_image "></i>
								</span>
							</div>
							<input type="hidden" th:field="*{daysAndHours[5].id}">
							<div th:class="*{daysAndHours[5].startTime == '' && daysAndHours[5].endTime == ''} ? 'col2 disabled sat_day' : 'col2 sat_day'">
								<span th:text="${userMenuVO.daysAndHours[5].dayName}">Sat</span>
							</div>
							<div class="col6">
								<input type="text" placeholder="09:30 AM" class="datetimepicker menu_sat" th:field="*{daysAndHours[5].startTime}" autocomplete="off"
									th:style="*{daysAndHours[5].startTime == '' && daysAndHours[5].endTime == ''} ? 'display:none;' : 'display:block;'">
								<p class="arrow-right">
									<img th:src="@{/images/arrow1.png}" class="arrow_sat" th:style="*{daysAndHours[5].startTime == '' && daysAndHours[5].endTime == ''} ? 'display:none;' : 'display:block;'">
								</p>
								<input type="text" placeholder="09:30 PM" class="datetimepicker menu_sat sat_last_value" th:field="*{daysAndHours[5].endTime}" autocomplete="off"
									th:style="*{daysAndHours[5].startTime == '' && daysAndHours[5].endTime == ''} ? 'display:none;' : 'display:block;'">
								<div class="close_menu_div sat" th:text="*{daysAndHours[5].startTime == '' && daysAndHours[5].endTime == ''} ? 'Closed' : ''">
									<span value=""></span>
								</div>
							</div>
						</div>
						<div th:class="*{daysAndHours[6].startTime == '' && daysAndHours[6].endTime == ''} ? 'row disabled sun_row' : 'row sun_row'">
							<div class="col1">
								<span class="menu_closeicon cross_sun" th:classappend="*{daysAndHours[6].startTime == '' && daysAndHours[6].endTime == ''} ? disabled : ''">
									<i th:data-id="*{daysAndHours[6].startTime == '' && daysAndHours[6].endTime == ''} ? 'false' : 'true'" day_type="sun" class="fa fa-close menu_image "></i>
								</span>
							</div>
							<input type="hidden" th:field="*{daysAndHours[6].id}">
							<div th:class="*{daysAndHours[6].startTime == '' && daysAndHours[6].endTime == ''} ? 'col2 disabled sun_day' : 'col2 sun_day'">	
								<span th:text="${userMenuVO.daysAndHours[6].dayName}">Sun</span>
							</div>
							<div class="col6">
								<input type="text" placeholder="09:30 AM" class="datetimepicker menu_sun" th:field="*{daysAndHours[6].startTime}" autocomplete="off"
									th:style="*{daysAndHours[6].startTime == '' && daysAndHours[6].endTime == ''} ? 'display:none;' : 'display:block;'">
								<p class="arrow-right">
									<img th:src="@{/images/arrow1.png}"  class="arrow_sun" th:style="*{daysAndHours[6].startTime == '' && daysAndHours[6].endTime == ''} ? 'display:none;' : 'display:block;'">
								</p>
								<input type="text" placeholder="09:30 PM" class="datetimepicker menu_sun sat_last_value" th:field="*{daysAndHours[6].endTime}" autocomplete="off"
									th:style="*{daysAndHours[6].startTime == '' && daysAndHours[6].endTime == ''} ? 'display:none;' : 'display:block;'">
								<div class="close_menu_div sun" th:text="*{daysAndHours[6].startTime == '' && daysAndHours[6].endTime == ''} ? 'Closed' : ''">
									<span value=""></span>
								</div>
							</div>
						</div>	
					</div>	
					<div class="clearfix"></div>
					<div class="loader"></div>
						<div class="row last_row">
							<div><span>Applies To</span></div>
							<div class="triangle-div-border"></div>
							<div class="triangle-div"></div>
							<div class="col-sm-3">
							<span class="check_box make_appOnly">
								<input type="checkbox" data-id="true" th:checked="${userMenuVO.userMenu.appOnly}" name="userMenu.appOnly">
								<label></label>
							</span>
							<span style="line-height: 33px">APP</span>
							</div>
							<div class="col-sm-5">
							<span class="check_box make_digitalmenuOnly">
								<input type="checkbox" data-id="true" th:checked="${userMenuVO.userMenu.digitalmenuOnly}" name="userMenu.digitalmenuOnly">
								<label></label>
							</span>
							<span style="line-height: 33px">DIGI MENU</span>
							</div>
						</div>
					<button class="btn save-btn" id="add_menu_button" type="button">Save</button>
				</form>
			</div>
			<!-- Main Bg end -->
		</div>

		<script type="text/javascript">
		
		function successMsg(msg){
			toastr.success(msg);
		}
		function errorMsg(msg){
			toastr.error(msg);
		};
		function stoppedTypingmenu() {
				if ($('.menu_title_value').val() != "") {
					$('.menu_disable input').removeAttr("disabled");
				} else {
					$('.menu_disable input').attr("disabled", "disabled")
				}
			}

			$(document).ready(function() {
				
				  // hide item
				$(document).on('click','.make_appOnly',function(){
				    if($(this).find('input').attr('data-id') == "true"){
				      $(this).find('input').attr('value','true');
				      $(this).find('input').attr('data-id','false');
				    }else{
				      $(this).find('input').attr('value','false'); 
				      $(this).find('input').attr('data-id','true'); 
				    }
				  });
				$(document).on('click','.make_digitalmenuOnly',function(){
			    	if($(this).find('input').attr('data-id') == "true"){
				      $(this).find('input').attr('value','true');
				      $(this).find('input').attr('data-id','false');
				    }else{
				      $(this).find('input').attr('value','false'); 
				      $(this).find('input').attr('data-id','true'); 
				    }
				  });
			});
		</script>
	</th:block>
</body>
</html>