<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
</head>
<body>
	<th:block layout:fragment="content">
		<div class="aboutbox">
			<div class="head">
				<i class="fa fa-star"></i>  modify rewards <a class="pull-right"><i
					class="fa fa-close close_menu"></i></a>
			</div>
			<form th:object="${Rewards}">
				<div class="main-bg">
					<div class="clearfix"></div>
					<!-- Rewards content start -->
					<div class="reward-contents" id="reward-contents">
						<th:block th:each="reward, iter:*{rewards}">
						
							<div class="row" th:if="${Rewards.rewards[iter.index].rewardText == RewardsList[iter.index].rewardText}">
								<th:block th:if="${RewardsList[iter.index].active}">
									<div th:class="${'user_reward'+iter.index+' col-sm-9'}">
										<span th:class="${Rewards.rewards[__${iter.index}__].rewardValue}==''?'closeicon selected' : 'closeicon'">
											<i th:data-id="${Rewards.rewards[__${iter.index}__].rewardValue}==''?'false' : 'true'" 
												th:reward-type="*{rewards[__${iter.index}__].rewardText}" class="user_reward"></i>
										</span>
										<th:block th:if="*{rewards[__${iter.index}__].rewardText == '${value1} Free Food!'}">
											<div th:with="val = ${Rewards.rewards[iter.index].value1}" class="free_food">
												<div th:with="testString=${Rewards.rewards[iter.index].rewardText}, input='	<input type=text id=rewards__${iter.index}__.value1 
														name=rewards[__${iter.index}__].value1 value=LLLL>'">
													<p th:if="${Rewards.rewards[iter.index].value1 != null}" th:utext="${#strings.replace(testString,'{value1}', #strings.replace(input,'LLLL',val))}"></p>
													<p th:if="${Rewards.rewards[iter.index].value1 == null}" th:utext="${#strings.replace(testString,'{value1}', #strings.replace(input,'LLLL',''))}"></p>
												</div>
											</div>
										</th:block>
										<th:block th:unless="*{rewards[__${iter.index}__].rewardText == '${value1} Free Food!'}">
											<p th:text="${Rewards.rewards[iter.index].rewardText}"></p>
										</th:block>	
									</div>
									<input type="hidden" th:field="*{rewards[__${iter.index}__].id}">
									<input type="hidden" th:field="*{rewards[__${iter.index}__].rewardText}">
									<div class="col-sm-1 input">
										<p th:class="${'user_reward'+iter.index}">
											<input type="text" th:field="*{rewards[__${iter.index}__].rewardValue}" th:disabled="${Rewards.rewards[__${iter.index}__].rewardValue}==''?'disabled':''">
										</p>
									</div>
									<div class="col-sm-2 points">
										<th:block th:if="*{rewards[__${iter.index}__].rewardText == 'Free Gift' OR rewards[__${iter.index}__].rewardText == 'Wheel of food (Great Prizes)' OR rewards[__${iter.index}__].rewardText == '${value1} Free Food!'}">
											POINTS
										</th:block>
										<th:block th:unless="*{rewards[__${iter.index}__].rewardText == 'Free Gift' OR rewards[__${iter.index}__].rewardText == 'Wheel of food (Great Prizes)' OR rewards[__${iter.index}__].rewardText == '${value1} Free Food!'}">
											OFF
										</th:block>
									</div>
								</th:block>
								
								<th:block th:unless="${RewardsList[iter.index].active}">
									<div th:class="${'user_reward'+iter.index+' col-sm-9'}">
										<span th:class="${Rewards.rewards[__${iter.index}__].rewardValue}==''?'closeicon selected' : 'closeicon'">
											<i th:data-id="${Rewards.rewards[__${iter.index}__].rewardValue}==''?'false' : 'true'" 
												th:reward-type="*{rewards[__${iter.index}__].rewardText}" class="user_reward"></i>
										</span>
										<th:block th:if="*{rewards[__${iter.index}__].rewardText == '${value1} Free Food!'}" >
											<div th:with="val = ${Rewards.rewards[iter.index].value1}" class="free_food">
												<div th:with="testString=${Rewards.rewards[iter.index].rewardText}, input='	<input type=text disabled=disabled id=rewards__${iter.index}__.value1 
														name=rewards[__${iter.index}__].value1 value=LLLL>' th:text='${val}'">
													<p th:if="${Rewards.rewards[iter.index].value1 != null}" th:utext="${#strings.replace(testString,'{value1}', #strings.replace(input,'LLLL',val))}"></p>
													<p th:if="${Rewards.rewards[iter.index].value1 == null}" th:utext="${#strings.replace(testString,'{value1}', #strings.replace(input,'LLLL',''))}"></p>
												</div>
											</div>
										</th:block>
										<th:block th:unless="*{rewards[__${iter.index}__].rewardText == '${value1} Free Food!'}">
											<p th:text="${Rewards.rewards[iter.index].rewardText}"></p>
										</th:block>	
									</div>
									<input type="hidden" th:field="*{rewards[__${iter.index}__].id}">
									<input type="hidden" th:field="*{rewards[__${iter.index}__].rewardText}">
									<div class="col-sm-1 input">
										<p th:class="${'user_reward'+iter.index}">
											<input type="text" th:field="*{rewards[__${iter.index}__].rewardValue}" th:disabled="${Rewards.rewards[__${iter.index}__].rewardValue}==''?'disabled':''">
										</p>
									</div>
									<div class="col-sm-2 points">
										<th:block th:if="*{rewards[__${iter.index}__].rewardText == 'Free Gift' OR rewards[__${iter.index}__].rewardText == 'Wheel of food (Great Prizes)' OR rewards[__${iter.index}__].rewardText == '${value1} Free Food!'}">
											POINTS
										</th:block>
										<th:block th:unless="*{rewards[__${iter.index}__].rewardText == 'Free Gift' OR rewards[__${iter.index}__].rewardText == 'Wheel of food (Great Prizes)' OR rewards[__${iter.index}__].rewardText == '${value1} Free Food!'}">
											OFF
										</th:block>
									</div>
								</th:block>
							</div>
							
							<div class="row" th:unless="${Rewards.rewards[iter.index].rewardText == RewardsList[iter.index].rewardText}">
								<th:block th:if="${Rewards.rewards[iter.index].active}">
									<div th:class="${'user_reward'+iter.index+' col-sm-9'}">
										<span th:class="${Rewards.rewards[__${iter.index}__].rewardValue}==''?'closeicon selected' : 'closeicon'">
											<i th:data-id="${Rewards.rewards[__${iter.index}__].rewardValue}==''?'false' : 'true'" 
												th:reward-type="*{rewards[__${iter.index}__].rewardText}" class="user_reward"></i>
										</span>
										<th:block th:if="*{rewards[__${iter.index}__].rewardText == '${value1} Free Food!'}">
											<div th:with="val = ${Rewards.rewards[iter.index].value1}" class="free_food">
												<div th:with="testString=${Rewards.rewards[iter.index].rewardText}, input='	<input type=text id=rewards__${iter.index}__.value1 
														name=rewards[__${iter.index}__].value1 value=LLLL>'">
													<p th:if="${Rewards.rewards[iter.index].value1 != null}" th:utext="${#strings.replace(testString,'{value1}', #strings.replace(input,'LLLL',val))}"></p>
													<p th:if="${Rewards.rewards[iter.index].value1 == null}" th:utext="${#strings.replace(testString,'{value1}', #strings.replace(input,'LLLL',''))}"></p>
												</div>
											</div>
										</th:block>
										<th:block th:unless="*{rewards[__${iter.index}__].rewardText == '${value1} Free Food!'}">
											<p th:text="${Rewards.rewards[iter.index].rewardText}"></p>
										</th:block>	
									</div>
										<input type="hidden" th:field="*{rewards[__${iter.index}__].id}">
										<input type="hidden" th:field="*{rewards[__${iter.index}__].rewardText}">
									<div class="col-sm-1 input">
										<p th:class="${'user_reward'+iter.index}">
											<input type="text" th:field="*{rewards[__${iter.index}__].rewardValue}" th:disabled="${Rewards.rewards[__${iter.index}__].rewardValue}==''?'disabled':''">
										</p>
									</div>
									<div class="col-sm-2 points">
										<th:block th:if="*{rewards[__${iter.index}__].rewardText == 'Free Gift' OR rewards[__${iter.index}__].rewardText == 'Wheel of food (Great Prizes)' OR rewards[__${iter.index}__].rewardText == '${value1} Free Food!'}">
											POINTS
										</th:block>
										<th:block th:unless="*{rewards[__${iter.index}__].rewardText == 'Free Gift' OR rewards[__${iter.index}__].rewardText == 'Wheel of food (Great Prizes)' OR rewards[__${iter.index}__].rewardText == '${value1} Free Food!'}">
											OFF
										</th:block>
									</div>
								</th:block>
								
								<th:block th:unless="${Rewards.rewards[iter.index].active}">
									<div th:class="${'user_reward'+iter.index+' col-sm-9'}">
										<span th:class="${Rewards.rewards[__${iter.index}__].rewardValue}==''?'closeicon selected' : 'closeicon'">
											<i th:data-id="${Rewards.rewards[__${iter.index}__].rewardValue}==''?'false' : 'true'" 
												th:reward-type="*{rewards[__${iter.index}__].rewardText}" class="user_reward"></i>
										</span>
										<th:block th:if="*{rewards[__${iter.index}__].rewardText == '${value1} Free Food!'}">
											<div th:with="val = ${Rewards.rewards[iter.index].value1}" class="free_food">
												<div th:with="testString=${Rewards.rewards[iter.index].rewardText}, input='	<input type=text disabled=disabled id=rewards__${iter.index}__.value1 
														name=rewards[__${iter.index}__].value1 value=LLLL>'">
													<p th:if="${Rewards.rewards[iter.index].value1 != null}" th:utext="${#strings.replace(testString,'{value1}', #strings.replace(input,'LLLL',val))}"></p>
													<p th:if="${Rewards.rewards[iter.index].value1 == null}" th:utext="${#strings.replace(testString,'{value1}', #strings.replace(input,'LLLL',''))}"></p>
												</div>
											</div>
										</th:block>
										<th:block th:unless="*{rewards[__${iter.index}__].rewardText == '${value1} Free Food!'}" >
											<p th:text="${Rewards.rewards[iter.index].rewardText}"></p>
										</th:block>	
									</div>
									<input type="hidden" th:field="*{rewards[__${iter.index}__].id}">
									<input type="hidden" th:field="*{rewards[__${iter.index}__].rewardText}">
									<div class="col-sm-1 input">
										<p th:class="${'user_reward'+iter.index}">
											<input type="text" th:field="*{rewards[__${iter.index}__].rewardValue}" th:disabled="${Rewards.rewards[__${iter.index}__].rewardValue}==''?'disabled':''">
										</p>
									</div>
									<div class="col-sm-2 points">
										<th:block th:if="*{rewards[__${iter.index}__].rewardText == 'Free Gift' OR rewards[__${iter.index}__].rewardText == 'Wheel of food (Great Prizes)' OR rewards[__${iter.index}__].rewardText == '${value1} Free Food!'}">
											POINTS
										</th:block>
										<th:block th:unless="*{rewards[__${iter.index}__].rewardText == 'Free Gift' OR rewards[__${iter.index}__].rewardText == 'Wheel of food (Great Prizes)' OR rewards[__${iter.index}__].rewardText == '${value1} Free Food!'}">
											OFF
										</th:block>
									</div>
								</th:block>
							</div>
						</th:block>
					</div>
					<button type="button" class="btn save-btn save_rewards">Save</button>
					<div class="clearfix"></div>
				</div>
			</form>
			<div class="loader"></div>
		</div>
		<!-- </div> -->
	</th:block>
</body>
</html>