<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
</head>
<body>
	<th:block layout:fragment="content">
		<div class="specialsbox">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#addnew" aria-controls="home" role="tab" data-toggle="tab">Add New</a>
				</li>
				<li role="presentation">
					<a href="#modify" aria-controls="profile" role="tab" data-toggle="tab"  >Modify</a>
				</li>
				<li>
					<a class="pull-right"><i class="fa fa-close close_menu"></i></a>
				</li>
				<!-- th:onclick="${'loadTab();'}" -->
			</ul>
			<div th:if="${errorMsg != null}">
				<script type="text/javascript">
					$(function() {
						toastr.error("Try Again and insert all required fields.");
					});
				</script>
			</div>
			<div th:if="${successMsg != null}">
				<script type="text/javascript">
					$(function() {
						toastr.success("Title created successfully.");
					});
				</script>
			</div>
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="addnew">
					<form th:action="@{/user/specials/add_specials}" th:object="${specials}" method="post">
						<div class="row title">
							<input type="text" class="form-control special_title" placeholder="Special Name" th:field="*{title}"
								required="required" onkeyup="stoppedTypingspecial()" autocomplete="off">
						</div>

						<div class="row">
							<input type="text" class="form-control special_description" placeholder="Description" style="padding-bottom: 2px;"
								th:field="*{descriptionText}" required="required" autocomplete="off">
						</div>

						<div class="row discount">	
							<p>discount type:</p>
							<div class="triangle-div-border"></div>
							<div class="triangle-div"></div>
								<div class="radio" style="margin-left: -10px">
									<input type="radio" class="persent_radio special_radio" th:field="*{discountType}" value="percent">
									<span><i class="fa fa-circle"></i></span>
								</div>
							<p>%</p>
							<input type="text" th:field="*{discountValue}" class="persent" disabled="disabled" autocomplete="off">
							<div class="radio">
								<input type="radio" class="dollar_radio special_radio" th:field="*{discountType}" value="dollar">
								<span><i class="fa fa-circle"></i></span>
							</div>
							<p>$</p>
							<input type="text" th:field="*{discountValue}" class="dollar" disabled="disabled" autocomplete="off">
							<div class="radio">
								<input type="radio" class="custom_radio special_radio" th:field="*{discountType}" value="custom">
								<span><i class="fa fa-circle"></i></span>
							</div>
							<p>Custom</p>
						</div>

						<div class="row">
							<select class="form-control" id="special_discount_value" th:field="*{discountValue}" disabled="disabled">
								<option value="Buy 1 Get 1 free!">Buy 1 Get 1 free!</option>
								<option value="Buy 1 Get 2 free!">Buy 1 Get 2 free!</option>
								<option value="Buy 1 Get 3 free!">Buy 1 Get 3 free!</option>
								<option value="Buy 1 Get 4 free!">Buy 1 Get 4 free!</option>
							</select>
						</div>
						
						<div class="row">
							<select class="form-control" id="special_items" th:field="*{item}"  disabled="disabled">
								<option value="">Select Items</option>
								<th:block th:each="item,iter : ${items}">
										<option th:value="${item.id}" th:text="${item.name}"></option>
									</th:block>
							</select>
						</div>
									
						
						<!-- <input type="hidden" name="custom_value" value=""
							class="custom_value"> -->
						<!-- <div class="row discount minbuy"> -->
						<div class="row discount requirements">
							<p>Requirements:</p>
							<div class="triangle-div-border"></div>
							<div class="triangle-div"></div>
							<p class="first-p">Min Buy :</p>
							<input type="text" th:field="*{minBuy}" value="" autocomplete="off">								
							<p>Date :</p>
							<input type="text" placeholder="00/00/00" class="start_date" th:field="*{startDate}" id="start_date_select" autocomplete="off">
							<p>To</p>
							<input type="text" placeholder="00/00/00" class="start_date" th:field="*{endDate}" id="end_date_select" autocomplete="off">
						</div>


						<div class="row filter_menu">
							<p>Filter Menu:</p>
							<div class="triangle-div-border"></div>
							<div class="triangle-div"></div>
							<p>
								<select id="second" data-placeholder="Select a menu..." class="chosen chosen-select special_menu" multiple tabindex="-1">
									<th:block th:each="userMenu,iter : ${userMenus}">
										<option th:id="${userMenu.id}" th:text="${userMenu.menuName}"></option>
									</th:block>
								</select>
							</p>
						</div>
						<div class="row filter">
							<div class="form-group">
								<div class="col-xs-12 pd-none disable_slect_menu">
									<input type="hidden" th:field="*{userMenu}" class="special_menu_selected">
									<div class="options">
										<ul class="special_cat_ids">
											<!-- <% get_category.each do |c| %> -->
											<th:block th:each="category,iter : ${categories}">
												<li class="special_category" value="" th:id="${category.id}">
													<a th:text="${category.name}"></a>
												</li>
											</th:block>
											<!-- name=special_category[] <% end %> -->
										</ul>
										<div class="clearfix"></div>
										<input type="hidden" th:field="*{selectedCategory}" class="selected_category_id">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<div class="check_box disabled hide_special ">
									<input type="checkbox" name="active" data-idnum="true" value="false" class="modify_checked" data-id="false">
									<label></label>
						            <p class="modify_active">Active</p>
						        </div>
							</div>
							<input type="hidden" name="ingredient" value="" id="hidden_ingredient">
							<input type="hidden" name="special_image_id" class="special_image_id" value="">
							<div class="col-xs-4">
								<!-- <button class="btn special_image" data-toggle="modal" type="button">
									<i class="fa fa-photo (alias)"></i> Photo
								</button> -->
								<button class="btn special_image" data-toggle="modal" type="button">
									<i class="fa fa-photo (alias)"></i> Photo
								</button>
							</div>
							<div class="col-xs-4">
								<button class="btn save-btn special_save">Save</button>
							</div>
						</div>

					</form>
				</div>

				<div role="tabpanel" class="tab-pane fade" id="modify">
					<form th:action="@{/user/specials/add_specials}" th:object="${specials}" method="post">
						<!-- method="patch" action="<%= specials_path %>" -->
					<div class="row">
						<select class="form-control modify_special_page">
							<option>Existing specials...</option>
							<th:block th:each="userSpecial,iter : ${userSpecials}">
								<option class="modify_special_id" th:id="${userSpecial.id}" th:value="${userSpecial.id}"
									th:text="${userSpecial.title}"></option>
							</th:block>
						</select>
					</div>
						<input type="hidden" th:field="*{id}" id="specId" />
						<input type="hidden" th:field="*{title}" id="specTitle"/>
						<div class="row">
							<input type="text" class="form-control modify_description" autocomplete="off"
							placeholder="When you buy aby item one meal, get one more equal or less value" th:field="*{descriptionText}">
						</div>
						<div class="row discount">
							<p>discount type:</p>
							<div class="triangle-div-border"></div>
							<div class="triangle-div"></div>
							<div class="radio" style="margin-left: -25px">
								<input type="radio" class="modify_persent_radio modify_radio" th:field="*{discountType}" value="percent" autocomplete="off">
								<span><i class="fa fa-circle"></i></span>
							</div>
							<p>%</p>
							<input type="text" th:field="*{discountValue}" class="modify_persent" disabled="disabled" autocomplete="off">
							<div class="radio">
								<input type="radio" class="modify_dollar_radio modify_radio" th:field="*{discountType}" value="dollar">
								<span><i class="fa fa-circle"></i></span>
							</div>
							<p>$</p>
							<input type="text" th:field="*{discountValue}" class="modify_dollar" disabled="disabled" autocomplete="off">
							<div class="radio custom">
								<input type="radio" class="modify_custom_radio modify_radio" th:field="*{discountType}" value="custom">
								<span><i class="fa fa-circle"></i></span>
							</div>
							<p>Custom</p>
						</div>
						<div class="row">
							<select class="form-control" id="modify_discount_value" th:field="*{discountValue}" disabled="disabled">
								<option value="Buy 1 Get 1 free!">Buy 1 Get 1 free!</option>
								<option value="Buy 1 Get 2 free!">Buy 1 Get 2 free!</option>
								<option value="Buy 1 Get 3 free!">Buy 1 Get 3 free!</option>
								<option value="Buy 1 Get 4 free!">Buy 1 Get 4 free!</option>
							</select>
							<input type="hidden" name="custom_modify_value" value="" class="custom_modify_value">
						</div>
						
						<div class="row">
							<select class="form-control" id="modify_special_items" th:field="*{item}" disabled="disabled">
								<option value="">Select Items</option>
								<th:block th:each="item,iter : ${items}">
									<option th:value="${item.id}" th:text="${item.name}"></option>
								</th:block>
							</select>
						</div>
						
						<div class="row discount requirements">
							<p>Requirements:</p>
							<div class="triangle-div-border"></div>
							<div class="triangle-div"></div>
							<p class="first-p">Min Buy:</p>
							<input type="text" th:field="*{minBuy}" class="modify_min_buy" value="" autocomplete="off">
							<p>Date:</p>
							<input type="text" placeholder="00/00/00" class="modify_date modify_start_date" th:field="*{startDate}" autocomplete="off">
							<p>TO</p>
							<input type="text" placeholder="00/00/00" class="modify_date modify_end_date" th:field="*{endDate}" autocomplete="off">
						</div>
						
						<div class="row filter_menu">
							<p>Filter Menu:</p>
							<div class="triangle-div-border"></div>
							<div class="triangle-div"></div>  
							<p>
								<select id="second" data-placeholder="Select a menu..." class="modify_chosen-select modify_menu" multiple tabindex="4">
									<th:block th:each="userMenu,iter : ${userMenus}">
										<option th:id="${userMenu.id}" th:text="${userMenu.menuName}"></option>
									</th:block>
									<input type="hidden" th:field="*{userMenu}" class="modify_menu_selected">
								</select>
							</p>
						</div>
							
						<div class="row filter">
							<div class="form-group">
								<!-- <label for="inputEmail3" class="col-xs-3 pd-none control-label">
									<img th:src="@{/assets/ok.png}" alt="" /><span>Filter:</span>
								</label> -->
								<div class="col-xs-12 pd-none">
									<div class="options">
										<ul class="modify_cat_ids">
											<th:block th:each="category,iter : ${categories}">
												<li class="special_category" value="" th:id="${category.id}">
													<a th:text="${category.name}"></a>
												</li>
											</th:block>
										</ul>
										<input type="hidden" th:field="*{selectedCategory}" class="modify_category_id">
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-xs-3">
								<div class="check_box disabled hide_special ">
						            <input type="checkbox" name="active" data-idnum="true" value="false" class="modify_checked" data-id="false">
						            <label></label>
						            <p class="modify_active">Active</p>
						          </div>
								<input type="hidden" name="modify_image_id" class="modify_image_id" value="" />
							</div>
							<div class="col-xs-4">
								<button class="btn modify_image" data-toggle="modal" type="button">
									<!-- <img th:src="@{/assets/layer.png}" alt="">  --><i class="fa fa-photo (alias)"></i>&nbsp;Photo
								</button>
							</div>
							<div class="col-xs-4">
								<button class="btn save-btn modify_special">Update</button>
							</div>
						</div>
						<!-- </div> -->
					</form>
					
					<!-- Upload Photo Popoup contents -->
						<div class="modal fade modify-example-modal-sm" tabindex="-1"
							role="dialog" aria-labelledby="mySmallModalLabel" id="modifyimage">
							<div class="modal-dialog modal-sm" role="document">
								<div class="modal-content about-modal-content">
									<!-- <%=
							render(:partial => 'specials/special_image', :locals => { :c =>
							'' }) %> -->
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(function() {$(".start_date").datepicker({
					dateFormat : "mm/dd/yy",
					onSelect : function() {
						var enteredDate = $(".start_date").val();
						var start_date = $("#start_date_select").prop("value");
						var end_date = $("#end_date_select").prop("value");
						//var parsed = Date.parse(enteredDate); 
						var currentDate = $.datepicker.formatDate('mm/dd/yy', new Date());
						if(start_date != "" || end_date != ""){
							if(start_date >= currentDate || end_date >= currentDate){
								if(start_date != "" && end_date != ""){
									if(end_date >= start_date){
									}else{
											toastr.error("Please select valid Date.");
											$(".start_date").val("");
										}
								}else{
								}
							}else{
								toastr.error("Please select valid Date.");
								$(".start_date").val("");
							}
						}
						/* if (start_date >= start|| end_date > enteredDate) {
							if (end_date != "") {
								if (end_date > start_date) {
								} else {
									toastr.error("Please select valid Date.");
									$(".start_date").val("");
								}
							}
						} else {
							toastr.warning("Please select valid Date.");
							$(".start_date").val("");
						} */
					}
				});
			});
			
			$(function() {$(".modify_date").datepicker({
				dateFormat : "mm/dd/yy",
				onSelect : function() {
					var start_date = $(".modify_start_date").val();
					var end_date = $(".modify_end_date").prop("value");
					var currentDate = $.datepicker.formatDate('mm/dd/yy', new Date());
					if(start_date != "" || end_date != ""){
						if(start_date >= currentDate || end_date >= currentDate){
							if(start_date != "" && end_date != ""){
								if(end_date >= start_date){
								}else{
										toastr.error("Please select valid Date.");
										$(".modify_date").val("");
									}
							}else{
							}
						}else{
							toastr.error("Please select valid Date.");
							$(".modify_date").val("");
						}
					}
				}
			});
		});
			
			function stoppedTypingspecial() {
				if ($('.special_title').val() != "") {
					$('.special_description').removeAttr("disabled");
				} else {
					$('.special_description').attr("disabled", "disabled");
				}
			}
			$(document).ready(function() {
				$('.special_description').attr("disabled", "disabled");

				$('.modify_image').unbind().on('click',function() {
					if ($('.modify_special_page').val() != "Existing specials...") {
						$("#modifyimage").modal();
						$.ajax({
							type : 'get',
							url : './specials/get_special_image',
							data : {
								'special_id' : $('.modify_special_page').find("option:selected").attr('id')},
							success : function(data) {
								$("#modifyimage").html(data);
								$("#modifyimage").modal();
							}
						});
					} else	toastr.warning("Please select Special first.");
				});
		//hide item day time pop-up 
			$(document).on('click', '.specialimage',function() {
				$('#modifyimage').modal('hide');
			})

		//special menu select
			$(".chosen-select").chosen({width: "550px"});
			$(document).on('click','button',function() {$(".chosen-select").val('').trigger("chosen:updated");
		});
		
		//modify menu select
			$(".modify_chosen-select").chosen({width: "550px"});
			$('button').click(function() {
				$(".modify_chosen-select").val('').trigger("chosen:updated");
			});

			$(document).on('click','.close-special_img',function() {
				$(this).parent().hide();
				$.ajax({
					type : 'delete',
					url : '/delete_profile_image',
					data : {
						'i_id' : this.id
					},
					success : function(data) {
						toastr.success("Selected image deleted successfully.")
						//I assume you want to do something on controller action execution success?
					}
				});
			});
		});
		$(document).on('click', '.profile_image',function() {
			$('#modifyimage').modal('hide');
		});
	</script>
</th:block>
</body>
</html>
