<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
</head>
<body>
	<div class="pd-rgt-nn" id="updateItemId">
		<th:block th:insert="site/fragments/itemAddEditForm :: itemAddEditForm"></th:block>
	</div>
	<div class="modal fade bs-example-modal-sm" tabindex="-1"
			role="dialog" aria-labelledby="mySmallModalLabel" id="itempicture">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content about-modal-content">
					<div class="aboutbox upload-section">
						<div class="head">
							<i class="fa fa-image"></i> select photo
							<!-- <a class="pull-right" href="javascript:void(0);"><i class="fa fa-close"></i></a> -->
						</div>
						<div class="about-contents">
							<div class="row" id="area">
								<div class="upload-box dropzone item-dropzone1" >
									<div class="dispaly_special_image">
										<!-- <form action="/file-upload" class="dropzone"
											id="my-awesome-dropzone"></form> -->
									</div>
								</div>
							</div>
							<div class="special_loader"></div>
							<button class="btn save-btn specialimage" type="button">ok</button>
						</div>
					</div>
				</div>
			</div>
	</div>
	<div class="modal fade change-hours" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel" id="itemdaytime">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content about-modal-content">
				<div class="aboutbox loginbox time_hours">
					<!-- Main Bg start -->
					<div class="main-bg1">
						<div class="clearfix"></div>
						<!-- Rewards content start -->
						<div class="login-contents addmenu">
							<div class="row text-center selecthrs">
								<p>
									<i class="fa fa-clock-o"></i>select days and hours
									<!-- <a class="pull-right hour-close"><i class="fa fa-close"></i></a> -->
								</p>
							</div>
						</div>
						<form method="post" th:object="${daysAndHoursVO}" th:action="@{/user/Item/add_update_DH}">
							<div class="reward-contents addmenu-sec">
								<!-- <input type="hidden" name="timeableId" th:value="${itemDetails.itemModel.id}"> -->
								<div th:class="${daysAndHoursVO.daysAndHours[0].startTime == '' && daysAndHoursVO.daysAndHours[0].endTime == ''} ? 'row disabled mon_row' : 'row mon_row'">
									<div class="col1">
										<span th:class="${daysAndHoursVO.daysAndHours[0].startTime == '' && daysAndHoursVO.daysAndHours[0].endTime == ''} ? 'item_closeicon disabled cross_mon' : 'item_closeicon cross_mon'">
											<i th:data-id="${daysAndHoursVO.daysAndHours[0].startTime == '' && daysAndHoursVO.daysAndHours[0].endTime == ''} ? false : true" day_type="mon"
											class="fa fa-close item_menu_image"></i>
										</span>
									</div>
									<div th:class="${daysAndHoursVO.daysAndHours[0].startTime == '' && daysAndHoursVO.daysAndHours[0].endTime == ''} ? 'col2 disabled mon_day' : 'col2 mon_day'">
										<span>Mon</span>
									</div>
									<input type="hidden" th:field="*{daysAndHours[0].id}">
									<input type="hidden" th:field="*{daysAndHours[0].timeableId}">
									<input type="hidden" th:field="*{daysAndHours[0].timeableType}">
									<div class="col6">
										<input type="text" placeholder="09:30 AM" class="datetimepicker menu_mon mon_start_value" autocomplete="off"
											th:field="*{daysAndHours[0].startTime}" th:style="${daysAndHoursVO.daysAndHours[0].startTime == '' && daysAndHoursVO.daysAndHours[0].endTime == ''} ? 'display: none' : 'display: block'">
										<p class="arrow-right">
											<img th:src="@{/assets/arrow1.png}" class="arrow_mon" th:style="${daysAndHoursVO.daysAndHours[0].startTime == '' && daysAndHoursVO.daysAndHours[0].endTime == ''} ? 'display: none' : 'display: block'"/>
										</p>
										<input type="text" placeholder="09:30 PM" class="datetimepicker menu_mon mon_last_value" autocomplete="off"
											th:field="*{daysAndHours[0].endTime}" th:style="${daysAndHoursVO.daysAndHours[0].startTime == '' && daysAndHoursVO.daysAndHours[0].endTime == ''} ? 'display: none' : 'display: block'">
										<div class="close_menu_div mon">
											<span th:text="${daysAndHoursVO.daysAndHours[0].startTime == '' && daysAndHoursVO.daysAndHours[0].endTime == ''} ? 'CLOSED' : ''"></span>
										</div>
									</div>
								</div>
								<div th:class="${daysAndHoursVO.daysAndHours[1].startTime == '' && daysAndHoursVO.daysAndHours[1].endTime == ''} ? 'row disabled tue_row' : 'row tue_row'">
									<div class="col1">
									<span th:class="${daysAndHoursVO.daysAndHours[1].startTime == '' && daysAndHoursVO.daysAndHours[1].endTime == ''} ? 'item_closeicon disabled cross_tue' : 'item_closeicon cross_tue'">
										<i th:data-id="${daysAndHoursVO.daysAndHours[1].startTime == '' && daysAndHoursVO.daysAndHours[1].endTime == ''} ? false : true" day_type="tue"
										class="fa fa-close item_menu_image "></i>
									</span>
									</div>
									<div th:class="${daysAndHoursVO.daysAndHours[1].startTime == '' && daysAndHoursVO.daysAndHours[1].endTime == ''} ? 'col2 disabled tue_day' : 'col2 tue_day'">
									<span>Tue</span>
									</div>
									<input type="hidden" th:field="*{daysAndHours[1].id}">
									<input type="hidden" th:field="*{daysAndHours[1].timeableId}">
									<input type="hidden" th:field="*{daysAndHours[1].timeableType}">
									<div class="col6">
									<input type="text" placeholder="09:30 AM" class="datetimepicker menu_tue tue_start_value" autocomplete="off"
										th:field="*{daysAndHours[1].startTime}" th:style="${daysAndHoursVO.daysAndHours[1].startTime == '' && daysAndHoursVO.daysAndHours[1].endTime == ''} ? 'display: none' : 'display: block'">
									<p class="arrow-right">
										<img th:src="@{/assets/arrow1.png}" class="arrow_tue" th:style="${daysAndHoursVO.daysAndHours[1].startTime == '' && daysAndHoursVO.daysAndHours[1].endTime == ''} ? 'display: none' : 'display: block'"/>
									</p>
									<input type="text" placeholder="09:30 PM" class="datetimepicker menu_tue tue_last_value" autocomplete="off"
										th:field="*{daysAndHours[1].endTime}" th:style="${daysAndHoursVO.daysAndHours[1].startTime == '' && daysAndHoursVO.daysAndHours[1].endTime == ''} ? 'display: none' : 'display: block'">
									<div class="close_menu_div tue">
										<span th:text="${daysAndHoursVO.daysAndHours[1].startTime == '' && daysAndHoursVO.daysAndHours[1].endTime == ''} ? 'CLOSED' : ''"></span>
									</div>
									</div>
								</div>
								<div th:class="${daysAndHoursVO.daysAndHours[2].startTime == '' && daysAndHoursVO.daysAndHours[2].endTime == ''} ? 'row disabled wed_row' : 'row wed_row'">
								<div class="col1">
									<span th:class="${daysAndHoursVO.daysAndHours[2].startTime == '' && daysAndHoursVO.daysAndHours[2].endTime == ''} ? 'item_closeicon disabled cross_wed' : 'item_closeicon cross_wed'">
										<i th:data-id="${daysAndHoursVO.daysAndHours[2].startTime == '' && daysAndHoursVO.daysAndHours[2].endTime == ''} ? false : true" day_type="wed"
										class="fa fa-close item_menu_image "></i>
									</span>
									</div>
									<div th:class="${daysAndHoursVO.daysAndHours[2].startTime == '' && daysAndHoursVO.daysAndHours[2].endTime == ''} ? 'col2 disabled wed_day' : 'col2 wed_day'">
									<span>Wed</span>
									</div>
									<input type="hidden" th:field="*{daysAndHours[2].id}">
									<input type="hidden" th:field="*{daysAndHours[2].timeableId}">
									<input type="hidden" th:field="*{daysAndHours[2].timeableType}">
									<div class="col6">
									<input type="text" placeholder="09:30 AM" class="datetimepicker menu_wed wed_start_value" autocomplete="off"
										th:field="*{daysAndHours[2].startTime}" th:style="${daysAndHoursVO.daysAndHours[2].startTime == '' && daysAndHoursVO.daysAndHours[2].endTime == ''} ? 'display: none' : 'display: block'">
									<p class="arrow-right">
										<img th:src="@{/assets/arrow1.png}" class="arrow_wed" th:style="${daysAndHoursVO.daysAndHours[2].startTime == '' && daysAndHoursVO.daysAndHours[2].endTime == ''} ? 'display: none' : 'display: block'"/>
									</p>
									<input type="text" placeholder="09:30 PM" class="datetimepicker menu_wed wed_last_value"autocomplete="off" 
										th:field="*{daysAndHours[2].endTime}" th:style="${daysAndHoursVO.daysAndHours[2].startTime == '' && daysAndHoursVO.daysAndHours[2].endTime == ''} ? 'display: none' : 'display: block'">
									<div class="close_menu_div wed">
										<span th:text="${daysAndHoursVO.daysAndHours[2].startTime == '' && daysAndHoursVO.daysAndHours[2].endTime == ''} ? 'CLOSED' : ''"></span>
									</div>
									</div>
								</div>
								<div th:class="${daysAndHoursVO.daysAndHours[3].startTime == '' && daysAndHoursVO.daysAndHours[3].endTime == ''} ? 'row disabled thu_row' : 'row thu_row'">
								<div class="col1">
									<span th:class="${daysAndHoursVO.daysAndHours[3].startTime == '' && daysAndHoursVO.daysAndHours[3].endTime == ''} ? 'item_closeicon disabled cross_thu' : 'item_closeicon cross_thu'">
										<i th:data-id="${daysAndHoursVO.daysAndHours[3].startTime == '' && daysAndHoursVO.daysAndHours[3].endTime == ''} ? false : true" day_type="thu"
										class="fa fa-close item_menu_image "></i>
									</span>
									</div>
									<div th:class="${daysAndHoursVO.daysAndHours[3].startTime == '' && daysAndHoursVO.daysAndHours[3].endTime == ''} ? 'col2 disabled thu_day' : 'col2 thu_day'">
									<span>Thu</span>
									</div>
									<input type="hidden" th:field="*{daysAndHours[3].id}">
									<input type="hidden" th:field="*{daysAndHours[3].timeableId}">
									<input type="hidden" th:field="*{daysAndHours[3].timeableType}">
									<div class="col6">
									<input type="text" placeholder="09:30 AM"
										class="datetimepicker menu_thu thu_start_value" autocomplete="off"
										th:field="*{daysAndHours[3].startTime}" th:style="${daysAndHoursVO.daysAndHours[3].startTime == '' && daysAndHoursVO.daysAndHours[3].endTime == ''} ? 'display: none' : 'display: block'">
									<p class="arrow-right">
										<img th:src="@{/assets/arrow1.png}" class="arrow_thu" th:style="${daysAndHoursVO.daysAndHours[3].startTime == '' && daysAndHoursVO.daysAndHours[3].endTime == ''} ? 'display: none' : 'display: block'"/>
									</p>
									<input type="text" placeholder="09:30 PM"
										class="datetimepicker menu_thu thu_last_value" autocomplete="off"
										th:field="*{daysAndHours[3].endTime}" th:style="${daysAndHoursVO.daysAndHours[3].startTime == '' && daysAndHoursVO.daysAndHours[3].endTime == ''} ? 'display: none' : 'display: block'">
									<div class="close_menu_div thu">
										<span th:text="${daysAndHoursVO.daysAndHours[3].startTime == '' && daysAndHoursVO.daysAndHours[3].endTime == ''} ? 'CLOSED' : ''"></span>
									</div>
									</div>
								</div>
								<div th:class="${daysAndHoursVO.daysAndHours[4].startTime == '' && daysAndHoursVO.daysAndHours[4].endTime == ''} ? 'row disabled fri_row' : 'row fri_row'">
								<div class="col1">
									<span th:class="${daysAndHoursVO.daysAndHours[4].startTime == '' && daysAndHoursVO.daysAndHours[4].endTime == ''} ? 'item_closeicon disabled cross_fri' : 'item_closeicon cross_fri'">
										<i th:data-id="${daysAndHoursVO.daysAndHours[4].startTime == '' && daysAndHoursVO.daysAndHours[4].endTime == ''} ? false : true" data-id="true" day_type="fri"
										class="fa fa-close item_menu_image "></i>
									</span>
									</div>
									<div th:class="${daysAndHoursVO.daysAndHours[4].startTime == '' && daysAndHoursVO.daysAndHours[4].endTime == ''} ? 'col2 disabled fri_day' : 'col2 fri_day'">
									<span>Fri</span>
									</div>
									<input type="hidden" th:field="*{daysAndHours[4].id}">
									<input type="hidden" th:field="*{daysAndHours[4].timeableId}">
									<input type="hidden" th:field="*{daysAndHours[4].timeableType}">
									<div class="col6">
									<input type="text" placeholder="09:30 AM"
										class="datetimepicker menu_fri fri_start_value" autocomplete="off"
										th:field="*{daysAndHours[4].startTime}" th:style="${daysAndHoursVO.daysAndHours[4].startTime == '' && daysAndHoursVO.daysAndHours[4].endTime == ''} ? 'display: none' : 'display: block'">
									<p class="arrow-right">
										<img th:src="@{/assets/arrow1.png}" class="arrow_fri" th:style="${daysAndHoursVO.daysAndHours[4].startTime == '' && daysAndHoursVO.daysAndHours[4].endTime == ''} ? 'display: none' : 'display: block'"/>
									</p>
									<input type="text" placeholder="09:30 PM"
										class="datetimepicker menu_fri fri_last_value" autocomplete="off"
										th:field="*{daysAndHours[4].endTime}" th:style="${daysAndHoursVO.daysAndHours[4].startTime == '' && daysAndHoursVO.daysAndHours[4].endTime == ''} ? 'display: none' : 'display: block'">
									<div class="close_menu_div fri">
										<span th:text="${daysAndHoursVO.daysAndHours[4].startTime == '' && daysAndHoursVO.daysAndHours[4].endTime == ''} ? 'CLOSED' : ''"></span>
									</div>
									</div>
								</div>
								<div th:class="${daysAndHoursVO.daysAndHours[5].startTime == '' && daysAndHoursVO.daysAndHours[5].endTime == ''} ? 'row disabled sat_row' : 'row sat_row'">
								<div class="col1">
									<span th:class="${daysAndHoursVO.daysAndHours[5].startTime == '' && daysAndHoursVO.daysAndHours[5].endTime == ''} ? 'item_closeicon disabled cross_sat' : 'item_closeicon cross_sat'">
										<i th:data-id="${daysAndHoursVO.daysAndHours[5].startTime == '' && daysAndHoursVO.daysAndHours[5].endTime == ''} ? false : true" data-id="true" day_type="sat"
										class="fa fa-close item_menu_image "></i>
									</span>
									</div>
									<div th:class="${daysAndHoursVO.daysAndHours[5].startTime == '' && daysAndHoursVO.daysAndHours[5].endTime == ''} ? 'col2 disabled sat_day' : 'col2 sat_day'">
									<span>Sat</span>
									</div>
									<input type="hidden" th:field="*{daysAndHours[5].id}">
									<input type="hidden" th:field="*{daysAndHours[5].timeableId}">
									<input type="hidden" th:field="*{daysAndHours[5].timeableType}">
									<div class="col6">
									<input type="text" placeholder="09:30 AM"
										class="datetimepicker menu_sat sat_start_value" autocomplete="off"
										th:field="*{daysAndHours[5].startTime}" th:style="${daysAndHoursVO.daysAndHours[5].startTime == '' && daysAndHoursVO.daysAndHours[5].endTime == ''} ? 'display: none' : 'display: block'">
									<p class="arrow-right">
										<img th:src="@{/assets/arrow1.png}" class="arrow_sat" th:style="${daysAndHoursVO.daysAndHours[5].startTime == '' && daysAndHoursVO.daysAndHours[5].endTime == ''} ? 'display: none' : 'display: block'"/>
									</p>
									<input type="text" placeholder="09:30 PM"
										class="datetimepicker menu_sat sat_last_value" autocomplete="off"
										th:field="*{daysAndHours[5].endTime}" th:style="${daysAndHoursVO.daysAndHours[5].startTime == '' && daysAndHoursVO.daysAndHours[5].endTime == ''} ? 'display: none' : 'display: block'">
									<div class="close_menu_div sat">
										<span th:text="${daysAndHoursVO.daysAndHours[5].startTime == '' && daysAndHoursVO.daysAndHours[5].endTime == ''} ? 'CLOSED' : ''"></span>
									</div>
									</div>
								</div>
								<div th:class="${daysAndHoursVO.daysAndHours[6].startTime == '' && daysAndHoursVO.daysAndHours[6].endTime == ''} ? 'row disabled sun_row' : 'row sun_row'">
								<div class="col1">
									<span th:class="${daysAndHoursVO.daysAndHours[6].startTime == '' && daysAndHoursVO.daysAndHours[6].endTime == ''} ? 'item_closeicon disabled cross_sun' : 'item_closeicon cross_sun'">
										<i th:data-id="${daysAndHoursVO.daysAndHours[6].startTime == '' && daysAndHoursVO.daysAndHours[6].endTime == ''} ? false : true" data-id="true" day_type="sun"
										class="fa fa-close item_menu_image "></i>
									</span>
									</div>
									<div th:class="${daysAndHoursVO.daysAndHours[6].startTime == '' && daysAndHoursVO.daysAndHours[6].endTime == ''} ? 'col2 disabled sun_day' : 'col2 sun_day'">
									<span>Sun</span>
									</div>
									<input type="hidden" th:field="*{daysAndHours[6].id}">
									<input type="hidden" th:field="*{daysAndHours[6].timeableId}">
									<input type="hidden" th:field="*{daysAndHours[6].timeableType}">
									<div class="col6">
									<input type="text" placeholder="09:30 AM"
										class="datetimepicker menu_sun sun_start_value" autocomplete="off"
										th:field="*{daysAndHours[6].startTime}" th:style="${daysAndHoursVO.daysAndHours[6].startTime == '' && daysAndHoursVO.daysAndHours[6].endTime == ''} ? 'display: none' : 'display: block'">
									<p class="arrow-right">
										<img th:src="@{/assets/arrow1.png}" class="arrow_sun" th:style="${daysAndHoursVO.daysAndHours[6].startTime == '' && daysAndHoursVO.daysAndHours[6].endTime == ''} ? 'display: none' : 'display: block'"/>
									</p>
									<input type="text" placeholder="09:30 PM"
										class="datetimepicker menu_sun sun_last_value" autocomplete="off"
										th:field="*{daysAndHours[6].endTime}" th:style="${daysAndHoursVO.daysAndHours[6].startTime == '' && daysAndHoursVO.daysAndHours[6].endTime == ''} ? 'display: none' : 'display: block'">
									<div class="close_menu_div sun">
										<span th:text="${daysAndHoursVO.daysAndHours[6].startTime == '' && daysAndHoursVO.daysAndHours[6].endTime == ''} ? 'CLOSED' : ''"></span>
									</div>
									</div>
								</div>

							</div>
							<button class="btn save-btn close_about_day_time" type="submit">Save</button>
						</form>

						<div class="clearfix"></div>
					</div>
					<!-- Main Bg end -->
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	 $(document).on('click','.item_avalibility',function(){
		    if($('.item-selected').attr('id') != null){
		      $('#itemdaytime').modal();
		    }else{
		      toastr.info("Please create Item first.");
		    }
		  });
		function stoppedTyping() {
			if ($('input[name="price1"]').val() != "") {
				$('input[name="price2"]').removeAttr("disabled");
			} else {
				$('input[name="price2"]').attr("disabled", "disabled");
			}
			if ($('input[name="price2"]').val() != "") {
				$('input[name="price3"]').removeAttr("disabled");
			} else {
				$('input[name="price3"]').attr("disabled", "disabled");
			}
			if ($('input[name="price3"]').val() != "") {
				$('input[name="price4"]').removeAttr("disabled");
			} else {
				$('input[name="price4"]').attr("disabled", "disabled");
			}
			if ($('input[name="price4"]').val() != "") {
				$('input[name="price5"]').removeAttr("disabled");
			} else {
				$('input[name="price5"]').attr("disabled", "disabled");
			}
		}

		$(function() {$('.datetimepicker').clockpicker({
			    twelvehour: true
			});
		});
		
		function stoppedTypingItem() {
			if ($('.item_name').val() != "") {
				$('.item_description').removeAttr("disabled");
				$('.add-item-contents input').removeAttr("disabled");
				$('.additemfields input').removeAttr("disabled");
				$('#item_user_menu').removeAttr("disabled");
			} else {
				$('.item_description').attr("disabled", "disabled");
				$('.add-item-contents input').attr("disabled", "disabled");
				$('.additemfields input').attr("disabled", "disabled");
				$('#item_user_menu').attr("disabled", "disabled");
			}
		}
		
		$('#descriptiontextarea').on('input', function() {
			var noLineBreaks = $(this).val().replace(/\n/g,' ');
			$(this).val(noLineBreaks);
		});
			 
		$(document).ready(function() {
			$('.item_description').attr("disabled", "disabled");
			$('.add-item-contents input').attr("disabled", "disabled");
			$('.additemfields input').attr("disabled", "disabled");

			$('.image_picture').unbind().on('click', function() {
				if ($('.item-selected').attr('id') != null) {
					$.ajax({
						type : 'get',
						url : './item/get_item_image',
						data : {
							'item_id' : $('.item-selected').attr('id')
						},
						success : function(data) {
							$('.dispaly_item_image').empty();
							if (data != null) {
								$("#itempicture").html(data);
								$("#itempicture").modal();
							}
						}
					});
				} else {
					toastr.info("Please create Item first.");
				}
			});
			// with plugin options
			$("#input-id").rating({
				min : 0,
				max : 5,
				step : 0.1,
				stars : 5,
				size : 'lg'
			});

			//hide item day time pop-up
			/* $('.formPrice').mask("#.00", {reverse: true}); */
			
			var selectedMenuId = $('#item_user_menu').find(":selected").val();
			var selectedItemId = $("#itemAddForm").find("input[name=itemId]").val();
			$(".price_combos_user_menu").attr("value",selectedMenuId);
			findPriceAndCombosOfMenuAndItem(selectedMenuId,selectedItemId);
		});
			
	 $('.formPrice').keypress(function (event) {
      	  return isNumber(event, this)
    	 });
 
	 function isNumber(evt, element) {
	     var charCode = (evt.which) ? evt.which : event.keyCode
	    	
	     /* var data=JSON.stringify($(element).val()).split(["."])[1];
	     var str=data.substring(0, data.length - 1);
	     console.log(str);
	     if(str != undefined" && str.length >= 2){
	    	 alert(str+" "+str.length );
	     } */
	     
	     if ((charCode != 46 || $(element).val().indexOf('.') != -1) && 
	    		 (charCode < 48 || charCode > 57)){
	         return false;
	     }
	     else{
	     	return true;
	     }
	 }
		
		function emptyPrice(price){
			if($(price).val()=="NaN"){
				$(price).val("");
			}
		}
		
		$("#item_user_menu").on("change",function(){
			var selectedMenuId = $(this).val();
			var selectedItemId = $("#itemAddForm").find("input[name=itemId]").val();
			$(".price_combos_user_menu").attr("value",selectedMenuId);
			findPriceAndCombosOfMenuAndItem(selectedMenuId,selectedItemId);
		});

		function findPriceAndCombosOfMenuAndItem(selectedMenuId,selectedItemId){
			$.ajax({
				type : 'get',
				url : contextURL + "user/item/find_price_and_combos",
				data : {
					'menuid' : selectedMenuId,
					'itemid' : selectedItemId 
				}
			}).done(function(data){
				if(data.length==0){
					for (i = 0; i < 6; i++) {
						$(".name"+ (i+1)).val("");
						$(".price"+ (i+1)).val("");
						$(".price_and_combos_id_"+ (i+1)).val(0);
					}
				} else{
					for (i = 0; i < data.length; i++) {
						$(".name"+ (i+1)).val(data[i].name);
						$(".price"+ (i+1)).val(data[i].price);
						$(".price_and_combos_id_"+ (i+1)).val(data[i].id);
					}	
				}
			});
		}
		
	</script>
	
</body>
</html>