<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
</head>
<body>
	<th:block layout:fragment="content">
		<div id="about">
			<div class="aboutbox">
				<div class="head">
					modify about<a class="pull-right"><i class="fa fa-close close_menu"></i></a>
				</div>
				<div class="about-contents">
					<form th:action="@{/user/abouts/updateAbouts}" method="POST" th:object="${UserAbouts}">
						<!-- multipart="true" id="media-dropzone" data-remote="true" -->
						<input type="hidden" id="aboutIdImage" th:field="*{id}">
						<div class="row">
							<textarea rows="4" cols="50" placeholder="description here"
								class="form-control" th:field="*{description}"></textarea>
						</div>
						<div class="row email-row">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1"><i
									class="fa fa-envelope-o"></i></span> <input type="email"
									class="form-control" placeholder="Email Here"
									required="required" aria-describedby="basic-addon1"
									th:field="*{email}" readonly="readonly">
							</div>
						</div>
						<div class="row">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1"></span>
									<select class="form-control">
										<option>A</option>
									</select>
								<span class="input-group-addon" id="basic-addon1"><i class="fa fa-phone"></i></span>
								<input type="text" class="form-control client_phone" placeholder="Phone Here"
									required="required" aria-describedby="basic-addon1"
									th:field="*{phone}" pattern="^[\(]\d{3}[\)]\s\d{3}-\d{4}$" maxlength="14" title="e.g. (xxx) xxx-xxxx">
							</div>
						</div>
						<div class="row">
						<span class="input-group-addon" id="basic-addon1"><i class="fa fa-map-marker"></i></span>
							<input type="text" placeholder="Address Here" class="form-control map" th:field="*{address}" required="required">
						</div>
						<div class="row address">
							<input type="text" class="form-control" placeholder='city' th:field="*{city}" required="required">
							<input type="text" class="form-control" placeholder='state' th:field="*{state}" required="required">
							<input type="text" class="form-control" placeholder='zip' th:field="*{zip}" required="required">
						</div>
						<div class="row btn-row">
							<!--  <%=file_field_tag "picture[]", multiple: true, :style=>"display:none;", :class=>"add_picture"%> 
		          <%if  @user_details.user.present? %> -->
							<th:block th:if="${UserAbouts.user != null}">
								<button class="btn image_About" type="button">
									<i class="fa fa-photo (alias)"></i> Photo
								</button>
								<button class="btn" data-toggle="modal" data-target=".change-hours" type="button">
									<i class="fa fa-clock-o"></i> Hours
								</button>
							</th:block>
							<th:block th:unless="${UserAbouts.user != null}">
								<button class="btn image_About" type="button">
									<img th:src="@{/assets/layer.png}" alt=""> Photo
								</button>
								<button class="btn" type="button">
									<i class="fa fa-clock-o"></i> Hours
								</button>
							</th:block>
							
						</div>
						<div class="row social">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1"><i class="fa fa-facebook"></i></span>
								<input type="text" class="form-control" placeholder="Facebook User" 
									aria-describedby="basic-addon1" th:field="*{facebook}">
								<span><i class="fa fa-lock "></i></span>
								<input type="password" class="form-control" id="inputSuccess2" 
								aria-describedby="inputSuccess2Status" placeholder="Password" th:field="*{fbPassword}">
							</div>
						</div>
						<div class="row social">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1"><i class="fa fa-twitter"></i></span>
								<input type="text" class="form-control" placeholder="Twitter User" 
									aria-describedby="basic-addon1" th:field="*{twitter}">
								<span><i class="fa fa-lock "></i></span>
								<input type="Password" class="form-control" id="inputSuccess2"
									aria-describedby="inputSuccess2Status" placeholder="Password" th:field="*{twtPassword}">
							</div>
						</div>
						<div class="row social">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1"><i class="fa fa-foursquare"></i></span>
								<input type="text" class="form-control" placeholder="Foursquare User"
									aria-describedby="basic-addon1" th:field="*{fourSquare}">
								<span><i class="fa fa-lock "></i></span>
								<input type="Password" class="form-control" id="inputSuccess2"
									aria-describedby="inputSuccess2Status" placeholder="Password" th:field="*{fourPassword}"> 
							</div>
						</div>
					
						<!-- <input type="hidden" name = user_details[user_id] class= "user_id" > -->
						<input type="hidden" name="image_id" class="image_id" value="">
						<input type="submit" value="SAVE" class="btn save-btn">


						
						<!-- Change Date and Hours Popoup contents -->

					</form>
				</div>
				<!-- Upload Photo Popoup contents -->
				<div class="modal fade bs-example-modal-sm" tabindex="-1"
					role="dialog" aria-labelledby="mySmallModalLabel" id="profilepicture">
					<div class="modal-dialog modal-sm" role="document">
						<div class="modal-content about-modal-content">
							<!-- <%= render(:partial => 'users/profile_image', :locals => { :c => '' }) %> -->
						</div>
					</div>
				</div>
				<div class="modal fade change-hours" tabindex="-1" role="dialog"
					aria-labelledby="mySmallModalLabel" id="aboutdaytime">
					<div class="modal-dialog modal-sm" role="document">
						<div class="modal-content about-modal-content">
							<div class="aboutbox loginbox time_hours">
								<!-- Main Bg start -->
								<div class="main-bg1">
									<div class="clearfix"></div>
									<!-- Rewards content start -->
									<div class="login-contents addmenu">
										<div class="row text-center selecthrs">
											<p>
												<i class="fa fa-clock-o"></i>select days and hours
												<!-- <a class="pull-right hour-close"><i class="fa fa-close"></i></a> -->
											</p>
										</div>
									</div>
									<form th:action="@{/user/abouts/updateDayAndHoursAbouts}" method="POST" th:object="${daysAndHoursVO}">
										<div class="reward-contents addmenu-sec">
											<div th:class="*{daysAndHours[0].startTime == '' && daysAndHours[0].endTime == ''} ? 'row disabled mon_row' : 'row mon_row'">
												<div class="col1">
													<span class="about_closeicon cross_mon" th:classappend="*{daysAndHours[0].startTime == '' && daysAndHours[0].endTime == ''} ? disabled : ''">
														<i th:data-id="*{daysAndHours[0].startTime == '' && daysAndHours[0].endTime == ''} ? false : true" day_type="mon" class="fa fa-close about_menu_image"></i>
													</span>
												</div>
												<div th:class="*{daysAndHours[0].startTime == '' && daysAndHours[0].endTime == ''} ? 'col2 disabled mon_day' : 'col2 mon_day'">
													<span>Mon</span>
												</div>
												<div class="col6">
													<input type="hidden" th:field="*{daysAndHours[0].id}">
													<input type="text" placeholder="09:30 AM" class="datetimepicker menu_mon mon_start_value" th:field="*{daysAndHours[0].startTime}" autocomplete="off"
														th:style="*{daysAndHours[0].startTime == '' && daysAndHours[0].endTime == ''} ? 'display:none;' : 'display:block;'">
													<p class="arrow-right">
														<img th:src="@{/assets/arrow1.png}" class="arrow_mon" th:style="*{daysAndHours[0].startTime == '' && daysAndHours[0].endTime == ''} ? 'display:none;' : 'display:block;'"/>
													</p>
													<input type="text" placeholder="09:30 PM" class="datetimepicker menu_mon mon_last_value" th:field="*{daysAndHours[0].endTime}" autocomplete="off"
														th:style="*{daysAndHours[0].startTime == '' && daysAndHours[0].endTime == ''} ? 'display:none;' : 'display:block;'">
													<div class="close_menu_div mon" th:text="*{daysAndHours[0].startTime == '' && daysAndHours[0].endTime == ''} ? 'Closed' : ''">
														<span value=""></span>
													</div>
												</div>
											</div>
											<div th:class="*{daysAndHours[1].startTime == '' && daysAndHours[1].endTime == ''} ? 'row disabled tue_row' : 'row tue_row'">
												<div class="col1">
													<span class="about_closeicon cross_tue" th:classappend="*{daysAndHours[1].startTime == '' && daysAndHours[1].endTime == ''} ? disabled : ''">
														<i th:data-id="*{daysAndHours[1].startTime == '' && daysAndHours[1].endTime == ''} ? false : true" day_type="tue" class="fa fa-close about_menu_image "></i>
													</span>
												</div>
												<div th:class="*{daysAndHours[1].startTime == '' && daysAndHours[1].endTime == ''} ? 'col2 disabled tue_day' : 'col2 tue_day'">
													<span>Tue</span>
												</div>
												<div class="col6">
													<input type="hidden" th:field="*{daysAndHours[1].id}">
													<input type="text" placeholder="09:30 AM" class="datetimepicker menu_tue tue_start_value" th:field="*{daysAndHours[1].startTime}" autocomplete="off"
														th:style="*{daysAndHours[1].startTime == '' && daysAndHours[1].endTime == ''} ? 'display:none;' : 'display:block;'">
													<p class="arrow-right">
														<img th:src="@{/assets/arrow1.png}" class="arrow_tue" th:style="*{daysAndHours[1].startTime == '' && daysAndHours[1].endTime == ''} ? 'display:none;' : 'display:block;'"/>
													</p>
													<input type="text" placeholder="09:30 PM" class="datetimepicker menu_tue tue_last_value" th:field="*{daysAndHours[1].endTime}" autocomplete="off"
														th:style="*{daysAndHours[1].startTime == '' && daysAndHours[1].endTime == ''} ? 'display:none;' : 'display:block;'">
													<div class="close_menu_div tue" th:text="*{daysAndHours[1].startTime == '' && daysAndHours[1].endTime == ''} ? 'Closed' : ''">
														<span value=""></span>
													</div>
												</div>
											</div>
											<div th:class="*{daysAndHours[2].startTime == '' && daysAndHours[2].endTime == ''} ? 'row disabled wed_row' : 'row wed_row'">
												<div class="col1">
													<span class="about_closeicon cross_wed" th:classappend="*{daysAndHours[2].startTime == '' && daysAndHours[2].endTime == ''} ? disabled : ''">
														<i th:data-id="*{daysAndHours[2].startTime == '' && daysAndHours[2].endTime == ''} ? false : true" day_type="wed" class="fa fa-close about_menu_image "></i>
													</span>
												</div>
												<div th:class="*{daysAndHours[2].startTime == '' && daysAndHours[2].endTime == ''} ? 'col2 disabled wed_day' : 'col2 wed_day'">
													<span>Wed</span>
												</div>
												<div class="col6">
													<input type="hidden" th:field="*{daysAndHours[2].id}">
													<input type="text" placeholder="09:30 AM" class="datetimepicker menu_wed wed_start_value" th:field="*{daysAndHours[2].startTime}" autocomplete="off"
														th:style="*{daysAndHours[2].startTime == '' && daysAndHours[2].endTime == ''} ? 'display:none;' : 'display:block;'">
													<p class="arrow-right">
														<img th:src="@{/assets/arrow1.png}" class="arrow_wed" th:style="*{daysAndHours[2].startTime == '' && daysAndHours[2].endTime == ''} ? 'display:none;' : 'display:block;'"/>
													</p>
													<input type="text" placeholder="09:30 PM" class="datetimepicker menu_wed wed_last_value" th:field="*{daysAndHours[2].endTime}" autocomplete="off"
														th:style="*{daysAndHours[2].startTime == '' && daysAndHours[2].endTime == ''} ? 'display:none;' : 'display:block;'">
													<div class="close_menu_div wed" th:text="*{daysAndHours[2].startTime == '' && daysAndHours[2].endTime == ''} ? 'Closed' : ''">
														<span value=""></span>
													</div>
												</div>
											</div>
											<div th:class="*{daysAndHours[3].startTime == '' && daysAndHours[3].endTime == ''} ? 'row disabled thu_row' : 'row thu_row'">
												<div class="col1">
													<span class="about_closeicon cross_thu" th:classappend="*{daysAndHours[3].startTime == '' && daysAndHours[3].endTime == ''} ? disabled : ''">
														<i th:data-id="*{daysAndHours[3].startTime == '' && daysAndHours[3].endTime == ''} ? false : true" day_type="thu" class="fa fa-close about_menu_image "></i>
													</span>
												</div>
												<div th:class="*{daysAndHours[3].startTime == '' && daysAndHours[3].endTime == ''} ? 'col2 disabled thu_day' : 'col2 thu_day'">
													<span>Thu</span>
												</div>
												<div class="col6">
													<input type="hidden" th:field="*{daysAndHours[3].id}">
													<input type="text" placeholder="09:30 AM" class="datetimepicker menu_thu thu_start_value" th:field="*{daysAndHours[3].startTime}" autocomplete="off"
														th:style="*{daysAndHours[3].startTime == '' && daysAndHours[3].endTime == ''} ? 'display:none;' : 'display:block;'">
													<p class="arrow-right">
														<img th:src="@{/assets/arrow1.png}" class="arrow_thu" th:style="*{daysAndHours[3].startTime == '' && daysAndHours[3].endTime == ''} ? 'display:none;' : 'display:block;'"/>
													</p>
													<input type="text" placeholder="09:30 PM" class="datetimepicker menu_thu thu_last_value" th:field="*{daysAndHours[3].endTime}" autocomplete="off"
														th:style="*{daysAndHours[3].startTime == '' && daysAndHours[3].endTime == ''} ? 'display:none;' : 'display:block;'">
													<div class="close_menu_div thu" th:text="*{daysAndHours[3].startTime == '' && daysAndHours[3].endTime == ''} ? 'Closed' : ''">
														<span value=""></span>
													</div>
												</div>
											</div>
											<div th:class="*{daysAndHours[4].startTime == '' && daysAndHours[4].endTime == ''} ? 'row disabled fri_row' : 'row fri_row'">
												<div class="col1">
													<span class="about_closeicon cross_fri" th:classappend="*{daysAndHours[4].startTime == '' && daysAndHours[4].endTime == ''} ? disabled : ''">
														<i th:data-id="*{daysAndHours[4].startTime == '' && daysAndHours[4].endTime == ''} ? false : true" day_type="fri" class="fa fa-close about_menu_image "></i>
													</span>
												</div>
												<div th:class="*{daysAndHours[4].startTime == '' && daysAndHours[4].endTime == ''} ? 'col2 disabled fri_day' : 'col2 fri_day'">
													<span>Fri</span>
												</div>
												<div class="col6">
													<input type="hidden" th:field="*{daysAndHours[4].id}">
													<input type="text" placeholder="09:30 AM" class="datetimepicker menu_fri fri_start_value" th:field="*{daysAndHours[4].startTime}" autocomplete="off"
														th:style="*{daysAndHours[4].startTime == '' && daysAndHours[4].endTime == ''} ? 'display:none;' : 'display:block;'">
													<p class="arrow-right">
														<img th:src="@{/assets/arrow1.png}" class="arrow_fri" th:style="*{daysAndHours[4].startTime == '' && daysAndHours[4].endTime == ''} ? 'display:none;' : 'display:block;'"/>
													</p>
													<input type="text" placeholder="09:30 PM" class="datetimepicker menu_fri fri_last_value" th:field="*{daysAndHours[4].endTime}" autocomplete="off"
														th:style="*{daysAndHours[4].startTime == '' && daysAndHours[4].endTime == ''} ? 'display:none;' : 'display:block;'">
													<div class="close_menu_div fri" th:text="*{daysAndHours[4].startTime == '' && daysAndHours[4].endTime == ''} ? 'Closed' : ''">
														<span value=""></span>
													</div>
												</div>
											</div>
											<div th:class="*{daysAndHours[5].startTime == '' && daysAndHours[5].endTime == ''} ? 'row disabled sat_row' : 'row sat_row'">
												<div class="col1">
													<span class="about_closeicon cross_sat" th:classappend="*{daysAndHours[5].startTime == '' && daysAndHours[5].endTime == ''} ? disabled : ''">
														<i th:data-id="*{daysAndHours[5].startTime == '' && daysAndHours[5].endTime == ''} ? false : true" day_type="sat" class="fa fa-close about_menu_image "></i>
													</span>
												</div>
												<div th:class="*{daysAndHours[5].startTime == '' && daysAndHours[5].endTime == ''} ? 'col2 disabled sat_day' : 'col2 sat_day'">
													<span>Sat</span>
												</div>
												<div class="col6">
													<input type="hidden" th:field="*{daysAndHours[5].id}">
													<input type="text" placeholder="09:30 AM" class="datetimepicker menu_sat sat_start_value" th:field="*{daysAndHours[5].startTime}" autocomplete="off"
														th:style="*{daysAndHours[5].startTime == '' && daysAndHours[5].endTime == ''} ? 'display:none;' : 'display:block;'">
													<p class="arrow-right">
														<img th:src="@{/assets/arrow1.png}" class="arrow_sat" th:style="*{daysAndHours[5].startTime == '' && daysAndHours[5].endTime == ''} ? 'display:none;' : 'display:block;'"/>
													</p>
													<input type="text" placeholder="09:30 PM" class="datetimepicker menu_sat sat_last_value" th:field="*{daysAndHours[5].endTime}" autocomplete="off"
														th:style="*{daysAndHours[5].startTime == '' && daysAndHours[5].endTime == ''} ? 'display:none;' : 'display:block;'">
													<div class="close_menu_div sat" th:text="*{daysAndHours[5].startTime == '' && daysAndHours[5].endTime == ''} ? 'Closed' : ''">
														<span value=""></span>
													</div>
												</div>
											</div>
											<div th:class="*{daysAndHours[6].startTime == '' && daysAndHours[6].endTime == ''} ? 'row disabled sun_row' : 'row sun_row'">
												<div class="col1">
													<span class="about_closeicon cross_sun" th:classappend="*{daysAndHours[6].startTime == '' && daysAndHours[6].endTime == ''} ? disabled : ''">
														<i th:data-id="*{daysAndHours[6].startTime == '' && daysAndHours[6].endTime == ''} ? false : true" day_type="sun" class="fa fa-close about_menu_image "></i>
													</span>
												</div>
												<div th:class="*{daysAndHours[6].startTime == '' && daysAndHours[6].endTime == ''} ? 'col2 disabled sun_day' : 'col2 sun_day'">
													<span>Sun</span>
												</div>
												<div class="col6">
													<input type="hidden" th:field="*{daysAndHours[6].id}">
													<input type="text" placeholder="09:30 AM" class="datetimepicker menu_sun sun_start_value" th:field="*{daysAndHours[6].startTime}" autocomplete="off"
														th:style="*{daysAndHours[6].startTime == '' && daysAndHours[6].endTime == ''} ? 'display:none;' : 'display:block;'">
													<p class="arrow-right">
														<img th:src="@{/assets/arrow1.png}" class="arrow_sun" th:style="*{daysAndHours[6].startTime == '' && daysAndHours[6].endTime == ''} ? 'display:none;' : 'display:block;'"/>
													</p>
													<input type="text" placeholder="09:30 PM" class="datetimepicker menu_sun sun_last_value" th:field="*{daysAndHours[6].endTime}" autocomplete="off"
														th:style="*{daysAndHours[6].startTime == '' && daysAndHours[6].endTime == ''} ? 'display:none;' : 'display:block;'">
													<div class="close_menu_div sun" th:text="*{daysAndHours[6].startTime == '' && daysAndHours[6].endTime == ''} ? 'Closed' : ''">
														<span value=""></span>
													</div>
												</div>
											</div>

										</div>
										<button class="btn save-btn close_about_day_time" type="submit">Save</button>
									</form>
									
									<div class="clearfix"></div>
								</div>
								<!-- Main Bg end -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- </div> -->
		<script type="text/javascript">
			/*$(document).ready(
				function() {
				$(function() {
					$('.datetimepicker').timepicki();
				});
			})*/
	$('.image_About').unbind().on('click',function() {
		//$("#itempicture").modal();
		if ($('#aboutIdImage').val() != null) {
			$("#profilepicture").modal();
			$.ajax({
				type : 'get',
				url : './abouts/get_item_image',
				data : {
					'about_id' : $('#aboutIdImage').val()
				},
				success : function(data) {
					$("#profilepicture").html(data);
					$("#profilepicture").modal();
					/* $('.dispaly_item_image').empty();
					if (data != null) {
						$.each(data,function(k,v) {
							$('.dispaly_item_image').append(
								'<div class="image"><img src= '+ v.picture.small.url+' /><span>'
										+ v.picture.url
												.split("/")[5]
										+ '</span><a class="close-img close-item_img" id='+v.id+'><i class="fa fa-close"></i></a></div>');
						});
					} */
				}
			});
		} else {
			toastr.info("Please create Item first.");
		}
	});
			
			$(document).on('click', '.profile_image',
				function() {
					// if(myDropzone.files == "" || myDropzone.files[0].status =="success"){
					//   $('#profilepicture').modal('hide');
					// }else if(myDropzone.files[0].status =="queued"){
					//   $('.about_loader').attr('class','about_loader show_loader');
					//   myDropzone.processQueue();
					// }
					$('#profilepicture').modal('hide');
				});
		</script>
	</th:block>
</body>
</html>