<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
	<head><meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache"></head>

<body>
	<th:block layout:fragment="content">
		<div class="aboutbox addeditbox">	
		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="deleteConfirm">
				</div>
			<div class="head"> ADD / MODIFY USER </div>
			<div class="about-contents ingredients-sec">
				<form role="user_business_vo" th:action="@{/admin/addEditClients}" method="post" th:object="${user_business_vo}">
					<input style="opacity: 0; position: absolute" />
					<div class="client-section row">
						<div class="col-md-4 pd-none client-left">
							<div class="row">
								<input type="text" placeholder=" &#xF002; Search Business Here" style="font-family:Arial, FontAwesome"  class="search_business find_business" value="">
								<div class="food-list business-list" id="foodlist">
									<ul>
										<th:block th:each="business : ${businessList}">
											<li th:if="${business.deleted==false}" class="select_business" th:id="${business.id}"
												th:text="${business.name}"></li>
										</th:block>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-md-8 client-right pd-rgt-nn">
							<input type="hidden" class="business_id" th:field="*{businesses.id}">
							<input type="hidden" class="user_id" th:field="*{user.id}">
							<input type="hidden" class="address_id" th:field="*{userAddresses.id}">
							
							<div class="row user-type">
								<div class="col-sm-3">USER TYPE:</div>
								<div class="triangle-div-border"></div>
								<div class="triangle-div"></div>
								<div style="margin-left: -57px">
									<div class="radio">
										<input type="radio" class="client_check_box" value="client" name="user_type" required>
										<span><i class="fa fa-circle "></i></span>
									</div>
									<div class="radio-lable">client</div>
								</div>
								<div>
									<div class="radio">
										<input type="radio" class="client_check_box" value="salse" name="user_type">
										<span><i class="fa fa-circle "></i></span>
									</div>
									<div class="radio-lable">sales</div>
								</div>
								<div>
									<div class="radio">
										<input type="radio" class="client_check_box" value="subadmin" name="user_type">
										<span><i class="fa fa-circle "></i></span>
									</div>
									<div class="radio-lable">sub admin</div>
								</div>
							</div>
							<div class="row">
								<input type="text" class="form-control business_name" placeholder="Buisness Name" th:field="*{businesses.name}" th:required="required" autocomplete="new-password">
							</div>
							<div class="row user-type">
								<div class="col-sm-3">Buisness Type:</div>
								<div class="triangle-div-border"></div>
								<div class="triangle-div"></div>
								<div class="business-type">
									<div>
										<div class="radio">
											<input type="radio" th:field="*{businesses.businessType}" required value="marijuana" class="client_check_box"> 
											<span><i class="fa fa-circle "></i></span>
										</div>
										<div class="radio-lable">Marijuana</div>
									</div>
									<div>
										<div class="radio">
											<input type="radio" th:field="*{businesses.businessType}" value="foodtruck" class="client_check_box">
											<span><i class="fa fa-circle "></i></span>
										</div>
										<div class="radio-lable">FoodTruck</div>
									</div>
									<div>
										<div class="radio">
											<input type="radio" checked="checked" th:field="*{businesses.businessType}" value="restaurent" class="client_check_box"> 
											<span><i class="fa fa-circle "></i></span>
										</div>
										<div class="radio-lable">restaurant</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="form-inline">	<!-- application.css 17035 -->
									<input type="text" class="first_name" placeholder="First Name" th:field="*{user.name}" th:required="required" autocomplete="new-password">
									<input type="text" class="last_name" placeholder="Last Name" th:field="*{user.lastName}" th:required="required" autocomplete="new-password">
								</div>
							</div>
							<div class="row email-row">
								<div class="input-group"><!-- application.css 2202 -->
									<span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o"></i></span>
									<input type="email" th:field="*{user.email}" class="form-control client_email" style="border-radius: 5px; border: #8f8e8f 1px solid;"
										placeholder="Email Here" aria-describedby="basic-addon1" th:required="required" autocomplete="new-password">
								</div>
							</div>
							
							<div class="row">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1"></span>
										<select class="form-control" style="padding-top: 3px;"><!-- application.css 17591 -->
											<option>A</option>
										</select>
										
									<span class="input-group-addon" id="basic-addon1"><i class="fa fa-phone"></i></span>
									<input type="text" class="form-control client_phone" placeholder="Phone" autocomplete="new-password"
										aria-describedby="basic-addon1" th:field="*{userAddresses.phoneNumber}" th:required="required"
										pattern="^[\(]\d{3}[\)]\s\d{3}-\d{4}$" maxlength="14" title="e.g. (xxx) xxx-xxxx">
								</div>
							</div>

							<div class="row">
								<input type="text" class="form-control client_address"
									placeholder="Address" th:field="*{userAddresses.address}" th:required="required" autocomplete="new-password">
							</div>

							<div class="row address">
								<input type="text" class="form-control client_city" placeholder="City" th:field="*{userAddresses.city}"
									th:required="required" autocomplete="new-password">
								<input type="text" class="form-control client_state" placeholder="State" th:field="*{userAddresses.state}"
									th:required="required" autocomplete="new-password">
								<input type="text" class="form-control client_zip" placeholder="Zip" th:field="*{userAddresses.zip}"
									th:required="required" autocomplete="new-password">
							</div>

							<div class="row">
								<button type="button" class="btn add_menu_business" disabled="disabled">
									<i class="fa fa-photo (alias)"></i> Add Menu
								</button>
								<button class="btn add_edit_hours_option" type="button" data-toggle="modal" disabled="disabled">
									<i class="fa fa-clock-o"></i> Hours
								</button>
								<button id="reset_password_button" class="btn" type="button" style="display: none;" disabled="disabled">Reset Password</button>
								<div id="add_goto_button"></div>								
							</div>

							<div class="footer-row row">
								<div class="col-md-5 pd-none">
										
					              <!-- <% if current_user.has_role?("super_admin") %> -->
					                <div class="check_box disabled make_user_active">
					                  <input type="checkbox" id="active_user" data-id="true" value="false" class="make_active" name="user.active">
					                  <label></label>
					                  <p class="user_active">Make Active</p>
					                </div>

								</div>
							</div>
							<div class="row">
								<div class="col-sm-2">
									<button id="delete_client_button" class="btn save-btn delete_client" type="button">Delete</button>
								</div>
							<div class="col-sm-8 text-center">
								<input type="hidden" name="menu_imges_ids" class="menu_imges_ids" value="">
								<button class="btn save-btn save_add_edit">Save</button>
							</div>
							
							</div>
						</div>

					</div>

					<div class="clearfix"></div>

					<!-- Upload Photo Popoup contents -->
					<div class="modal fade bs-example-modal-sm" tabindex="-1"
						role="dialog" aria-labelledby="mySmallModalLabel"
						id="businesspicture">
						
					</div>


					<!-- Change Date and Hours Popoup contents -->
					<div class="modal fade change-hours" tabindex="-1" role="dialog"
						aria-labelledby="mySmallModalLabel" id="clienthours">
						<div class="modal-dialog modal-sm" role="document">
							<div class="modal-content about-modal-content">
								<div class="aboutbox loginbox time_hours">
									<!-- Main Bg start -->
									<div class="main-bg1">
										<div class="clearfix"></div>

										<!-- Rewards content start -->
										<div class="login-contents addmenu">

											<div class="row text-center selecthrs">
												<p>
													<i class="fa fa-clock-o"></i>select days and hours
													<!-- <a class="pull-right hour-close"><i class="fa fa-close"></i></a> -->
												</p>
											</div>

										</div>

										<div class="reward-contents addmenu-sec">
											<!-- th:field="*{daysAndHours[0]?.startTime}"
											th:each="daysAndhours, itemStat : *{daysAndHours}" 
												th:field="*{daysAndHours[__${itemStat.index}__].startTime}"1
											-->
											<div class="row mon_row" >
												<div class="col1">
													<span class="edit_client_closeicon cross_mon">
														<i data-id="true" data-day="mon" class="fa fa-close edit_client_menu_image "></i>
													</span>
												</div>
												<div class="col2 mon_day">
													<span>Mon</span>
												</div>
												<div class="col6">
													<input type="hidden" class="day_0 mon_id" th:field= *{daysAndHours[0].id}>
													<input type="text" placeholder="09:30 AM" th:field="*{daysAndHours[0].startTime}" autocomplete="off"
														class="datetimepicker menu_mon mon_start_value">
													<p class="arrow-right">
														<img th:src="@{../images/arrow1.png}" class="arrow_mon">
													</p>
													<input type="text" placeholder="09:30 PM" th:field="*{daysAndHours[0].endTime}" autocomplete="off"
														class="datetimepicker menu_mon mon_last_value">
													<div class="close_menu_div mon">
														<span></span> 
													</div>
													<!-- <div class="timepicker_wrap ">
														<div class="arrow_top"></div>
														<div class="time">
																<input type="text">
														</div>
														<span class="add_symbol">:</span>
														<div class="mins">
															<div class="mi_tx">
																<input type="hidden" class="timepicki-input min_time">
															</div>
														</div>
														<div class="meridian">
															<div class="mer_tx">
																<input type="button"
																	class="timepicki-input time_picker_format"
																	onclick="change_format(this);">
															</div>
														</div>
													</div> -->
												</div>
												  
											</div>
											<div class="row tue_row">
											<div class="col1">
												<span class="edit_client_closeicon cross_tue">
												<i data-id="true" data-day="tue"
													class="fa fa-close edit_client_menu_image "></i>
													</span>
												</div>
												<div class="col2 tue_day">
												<span>Tue</span>
												</div>
												<div class="col6">
													<input type="hidden" class="day_1 tue_id" th:field= *{daysAndHours[1].id}>
													<input type="text" placeholder="09:30 AM" th:field="*{daysAndHours[1].startTime}"
														class="datetimepicker menu_tue tue_start_value" autocomplete="off">
													 
													<p class="arrow-right">
														<img th:src="@{../images/arrow1.png}" class="arrow_tue">
													</p>
													 
													<input type="text" placeholder="09:30 PM" th:field="*{daysAndHours[1].endTime}"
														class="datetimepicker menu_tue tue_last_value" autocomplete="off">
													<div class="close_menu_div tue">
														<span></span>
													</div>
														<!-- <div class="meridian">
															<div class="mer_tx">
																<input type="button"
																	class="timepicki-input time_picker_format"
																	onclick="change_format(this);">
															</div>
														</div> -->
												</div>
												
												<!-- <div class="col6">
														<input type="text" placeholder="09:30 PM" th:field="*{daysAndHours[1].endTime}"
															class="datetimepicker menu_tue tue_last_value" autocomplete="off">
														<div class="timepicker_wrap ">
															<div class="arrow_top"></div>
															<div class="time">
																<div class="ti_tx">
																	<input type="text" class="timepicki-input" id="check_hours">
																</div>
															</div>
															<span class="add_symbol">:</span>
															<div class="mins">
																<div class="mi_tx">
																	<input type="hidden" class="timepicki-input min_time">
																</div>
															</div>
															<div class="meridian">
																<div class="mer_tx">
																	<input type="button"
																		class="timepicki-input time_picker_format"
																		onclick="change_format(this);">
																</div>
															</div>
														</div>
												</div> -->
												
											</div>
											
											<div class="row wed_row">
												<div class="col1 ">
													<span class="edit_client_closeicon cross_wed">
														<i data-id="true" data-day="wed"
															class="fa fa-close edit_client_menu_image "></i>
														</span>
													</div>
												<div class="col2 wed_day">
													<span>Wed</span>
												</div>
												<div class="col6">
													<input type="hidden" class="day_2 wed_id" th:field= *{daysAndHours[2].id}>
													<input type="text" placeholder="09:30 AM" th:field="*{daysAndHours[2].startTime}"
														class="datetimepicker menu_wed wed_start_value" autocomplete="off">
													<p class="arrow-right">
														<img th:src="@{../images/arrow1.png}" class="arrow_wed">
													</p>
														<input type="text" placeholder="09:30 PM" th:field="*{daysAndHours[2].endTime}"
														class="datetimepicker menu_wed wed_last_value" autocomplete="off">
														 <div class="close_menu_div wed">
															<span></span>
															</div>
														
														<!-- <div class="meridian">
															 <div class="mer_tx">
																 <input type="button"
																	class="timepicki-input time_picker_format"
																	onclick="change_format(this);">
															</div>
															</div> -->
												</div> 						
											</div>
											<div class="row thu_row">
												<div class="col1">
													<span class="edit_client_closeicon cross_thu">
														<i data-id="true" data-day="thu" class="fa fa-close edit_client_menu_image "></i>
													</span>
												</div>
												<div class="col2 thu_day">
													<span>Thu</span>
												</div>
												<div class="col6">
													<input type="hidden" class="day_3 thu_id" th:field= *{daysAndHours[3].id}>
													<input type="text" placeholder="09:30 AM" th:field="*{daysAndHours[3].startTime}"
														class="datetimepicker menu_thu thu_start_value" autocomplete="off">
													<p class="arrow-right">
														<img th:src="@{../images/arrow1.png}" class="arrow_thu">
													</p> 
													<input type="text" placeholder="09:30 PM" th:field="*{daysAndHours[3].endTime}"
													class="datetimepicker menu_thu thu_last_value" autocomplete="off">
													<div class="close_menu_div thu"> <span></span> </div>
														<!-- <div class="meridian">
															<div class="mer_tx">
																<input type="button"
																	class="timepicki-input time_picker_format"
																	onclick="change_format(this);">
															</div>
														</div> -->
												</div> 
											</div>
											
											<div class="row fri_row">
												<div class="col1 ">
													<span class="edit_client_closeicon cross_fri">
														<i data-id="true" data-day="fri"
														class="fa fa-close edit_client_menu_image "></i>
													</span>
												</div>
											<div class="col2 fri_day">
											<span>Fri</span>
											</div>
											<div class="col6">
												<input type="hidden" class="day_4 fri_id" th:field= *{daysAndHours[4].id}>
												<input type="text" placeholder="09:30 AM" th:field="*{daysAndHours[4].startTime}"
													class="datetimepicker menu_fri fri_start_value" autocomplete="off">
												<p class="arrow-right">
													<img th:src="@{../images/arrow1.png}" class="arrow_fri">
												</p>
													<input type="text" placeholder="09:30 PM" th:field="*{daysAndHours[4].endTime}"
													class="datetimepicker menu_fri fri_last_value" autocomplete="off">
												 <div class="close_menu_div fri">
													<span></span>
												</div>
													<!-- <div class="meridian">
														<div class="mer_tx">
															<input type="button"
																class="timepicki-input time_picker_format"
																onclick="change_format(this);">
														</div>
													</div> --> 
 												</div> 
											</div>
											
											<div class="row sat_row">
												<div class="col1">
													<span class="edit_client_closeicon cross_sat">
														<i data-id="true" data-day="sat"
														class="fa fa-close edit_client_menu_image "></i>
													</span>
												</div>
												<div class="col2 sat_day">
													<span>Sat</span>
												</div>
												<div class="col6">
													<input type="hidden" class="day_5 sat_id" th:field= *{daysAndHours[5].id}>
													<input type="text" placeholder="09:30 AM" th:field="*{daysAndHours[5].startTime}"
														class="datetimepicker menu_sat sat_start_value" autocomplete="off">
													 <p class="arrow-right">
														<img th:src="@{../images/arrow1.png}" class="arrow_sat">
													</p>
													<input type="text" placeholder="09:30 PM" th:field="*{daysAndHours[5].endTime}"
													class="datetimepicker menu_sat sat_last_value" autocomplete="off">
							   						 <div class="close_menu_div sat">
														<span></span>
													</div>
													<!-- <div class="meridian">
														<div class="mer_tx">
															<input type="button"
																class="timepicki-input time_picker_format"
																onclick="change_format(this);">
														</div>
														</div> -->
								 					
												</div>
								 			</div>
								 			
											<div class="row sun_row">
												<div class="col1">
													<span class="edit_client_closeicon cross_sun">
														<i data-id="true" data-day="sun"
														class="fa fa-close edit_client_menu_image "></i>
													</span>
												</div>
											<div class="col2 sun_day">
												<span>Sun</span>
											</div>
											<div class="col6">
												<input type="hidden" class="day_6 sun_id" th:field= *{daysAndHours[6].id}>
												<input type="text" placeholder="09:30 AM" th:field="*{daysAndHours[6].startTime}"
													class="datetimepicker menu_sun sun_start_value" autocomplete="off">
												 <p class="arrow-right">
													<img th:src="@{../images/arrow1.png}" class="arrow_sun">
												</p>
												<input type="text" placeholder="09:30 PM" th:field="*{daysAndHours[6].endTime}"
													class="datetimepicker menu_sun sun_last_value" autocomplete="off">
											 <div class="close_menu_div sun">
												<span></span>
											</div>
											<!-- <div class="meridian">
													<div class="mer_tx">
														<input type="button"
															class="timepicki-input time_picker_format"
															onclick="change_format(this);">
													</div>
												</div> -->
													
												</div>
											</div>
								 		</div> 
										</div>
										<button class="btn save-btn client_day_time" type="submit">Save</button>
										<div class="clearfix"></div>
									</div>
									<!-- Main Bg end -->
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
<script>
$('.add_menu_business').unbind().on('click',function() {
	//$("#itempicture").modal();
	if ($('.item-selected').attr('id') != null) {
		$("#businesspicture").modal();
		$.ajax({
			type : 'get',
			url : './getBusinessImage',
			data : {
				'business_id' : $('.item-selected').attr('id')
			},
			success : function(data) {
				$("#businesspicture").html(data);
				$("#businesspicture").modal();
			}
		});
	} else {
		toastr.info("Please create Item first.");
	}
});

</script>
<th:block th:if="${alreadyExist==true}">
	<script>
		$(document).ready(function() {
			toastr.error("Email Address already exist.");
		});
	</script>
</th:block>
</th:block>
</body>
</html>