<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<script type="text/javascript">
$(document).ready(function(e){
	if(action!=null){
		toastr.success(action);
	}
	initializeSelectpicker();
	selectedMenusOfDigitalMenu();
	
	var activeTab = ".tab-pane.fade.active.in";
	var currentTabId = $(activeTab).find("input[name=id]").val();
	
	var navtabs = $("ul#tabElements li").length;
	$(".add_screen").attr("onclick","addScreen("+navtabs+")")
	
	layoutOrientationBgChange();
	layoutClickBgChange();
	orientationClickBgChange();
	
	/* on off screen on load */
	$("#tabElements li").each(function(index){
		if($(this).hasClass("active"))
			$(this).find("img").attr("src","/phonemyfood/assets/screen-on.png");
	})
	
	$(".digitaltableinput").keypress(function(e){
		if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57))
	        return false;
	});
	
/*  linking tabs with eachother */	
 	$("#tabElements li").each(function(index){
 		if(index==0)
 			border = "3px solid red";
 		if(index==1)
 			border = "3px solid #00ECFE";
 		if(index==2)
 			border = "3px solid yellow";
 		if(index==3)
 			border = "3px solid #FF00FF";
 		
 		thisLiId = ($(this).attr("class").split(' '))[0];
 		thisLi = this;
 		
 		$("#tabElements .thisDigitalMenuId").each(function(index){
 			inputId = $(this).val();
 			var thisTabId = ($(this).attr("class").split(" "))[0];
 			if(thisLiId == inputId) {
 				$(this).parent().find("img").css("border",border);
	    		$(this).parent().find("img").css("border-radius","13px");
	    		$(thisLi).find("img").css("border",border);
	    		$(thisLi).find("img").css("border-radius","13px");
 			} 	
 			
 	   	 	$('#digitalmenu-tabcontent form').each(function(){
 				if($(this).find("input[name=id]").val()==thisTabId){
 					x = $(this).parent().attr('id');
 					$("#"+x+" :input:not([name=layout],[name=id],[name=save-button],[name=delete-button])").attr("disabled", true);
 				}
 			})
 		})
 	});
 	
})
</script>

</head>
<body>
	<th:block layout:fragment="content">
		<div class="digitalmenubox">
			<div class="head">
				Modify Digital Menu<a class="pull-right"><i class="fa fa-close close_menu"></i></a>
			</div>
			<div class="about-contents">
				<div class="row">
					<div class="col-sm-10">
						<ul class="nav nav-tabs" id="tabElements">
							<th:block th:each="digimenu,iter:${digitalMenus}">
							
							<th:block th:if="${digimenu.linkedWithMenu != null}">
								<th:block th:if="${iter.count}==1">
									<li role="presentation" th:class="${digimenu.id} + ' active'"><a th:href="'#tab'+${iter.count}" aria-controls="home" role="tab" data-toggle="tab" onclick="onOffImage(this)">
								</th:block>
								<th:block th:unless="${iter.count}==1">
									<li role="presentation" th:class="${digimenu.id}"><a th:href="'#tab'+${iter.count}" aria-controls="home" role="tab" data-toggle="tab" onclick="onOffImage(this)">
								</th:block>
								<span th:text="${iter.count}"></span>
								<img alt="" th:src="@{/assets/screen-off.png}"></a>
								<input type="hidden" th:value="${digimenu.linkedWithMenu.id}" th:class="${digimenu.id}+' thisDigitalMenuId'">
								</li>
							</th:block>
							
							<th:block th:unless="${digimenu.linkedWithMenu != null}">
								<th:block th:if="${iter.count}==1">
									<li role="presentation" th:class="${digimenu.id} + ' active'"><a th:href="'#tab'+${iter.count}" aria-controls="home" role="tab" data-toggle="tab" onclick="onOffImage(this)">
								</th:block>
								<th:block th:unless="${iter.count}==1">
									<li role="presentation" th:class="${digimenu.id}"><a th:href="'#tab'+${iter.count}" aria-controls="home" role="tab" data-toggle="tab" onclick="onOffImage(this)">
								</th:block>
								<span th:text="${iter.count}"></span>
								<img alt="" th:src="@{/assets/screen-off.png}"></a></li>
							</th:block>
								
							</th:block>
						</ul>
					</div>
					<div class="col-sm-2">
						<button class="button" id="link-button" style="padding:0px 27px;margin-top: 3px;"><i class="fa fa-link" ></i>Link</button>
					<br><br>
						<button class="button add_screen" style="padding:0px 28px;margin-top: 3px;"><i class="fa fa-plus"></i>Add</button>
					</div>
				</div>
				<div class="tab-content" id="digitalmenu-tabcontent" style="margin-top: -6px;">
					<th:block th:each="digitalMenu,iter:${digitalMenus}">
						<th:block th:if="${iter.count}==1">
							<div th:id="'tab' + ${iter.count}" th:class="'tab-pane fade active in' + ${digitalMenu.linkedWithMenu!=null?' linkedWith'+digitalMenu.linkedWithMenu.id:''}">
								<div th:insert="site/fragments/tab :: tab1(${digitalMenu}, ${digitalMenu.screen})" th:id="'digitalMenuTabPage'+${iter.count}"></div>
							</div>
						</th:block>
						<th:block th:unless="${iter.count}==1">
							<div th:id="'tab' + ${iter.count}" th:class="'tab-pane fade' + ${digitalMenu.linkedWithMenu!=null?' linkedWith'+digitalMenu.linkedWithMenu.id:''}">
								<div th:insert="site/fragments/tab :: tab1(${digitalMenu}, ${digitalMenu.screen})" th:id="'digitalMenuTabPage'+${iter.count}"></div>
							</div>
						</th:block>
					</th:block>					
				</div>
			</div>
			<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="digitalMenuDeleteModal">
			</div>
			<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="digitalMenuImage" style="bottom:7.5%">
			</div>
			<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="digitalMenuLinkModal">
			</div>
		</div>
	</th:block>
</body>	
</html>