<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--<![endif]-->
<head>
<title th:text="#{app.name}">Phone My Food</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- <link th:href="@{/css/style.css}" rel="stylesheet" /> -->
<link th:href="@{/css/custom.css}" rel="stylesheet" />
<link th:href="@{/css/clockpicker-12-hour-option.css}" rel="stylesheet" />
<link th:href="@{/css/phonemyfood.css}" rel="stylesheet" />
<link th:href="@{/css/application.css}" rel="stylesheet" />
<link th:href="@{/css/digitalmenu.css}" rel="stylesheet" />
<link th:href="@{/css/dropzone.css}" rel="stylesheet" />
<link th:href="@{/css/jquery-ui.css}" rel="stylesheet" />
<link th:href="@{/css/datepicker.css}" rel="stylesheet" />
<link th:href="@{/css/star-rating.css}" rel="stylesheet" />
<link th:href="@{/css/fontawesome.css}" rel="stylesheet" />
<link th:href="@{/css/chosen.min.css}" rel="stylesheet"/>
<link th:href="@{/stylesheets/star-rating.min.css}" rel="stylesheet" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"></link>
<!-- <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap-theme.css}" rel="stylesheet" /> -->
<link th:href="@{/css/bootstrap-select.css}" rel="stylesheet"/>
</head>
<body>
	<div class="wrapper">
		<div th:replace="fragments/client_header :: header"></div>
		<!-- TABS   -->
		<div class="row main-contain">
			<div id="tabs" class="col-md-2 pd-none sidebar">
				<div th:replace="fragments/client_sidebar :: sidebar"></div>
			</div>

			<div class="col-md-10 rightbar main-class">
				<div layout:fragment="content">Content edit menu</div>
			</div>
		</div>
		<!-- TABS   -->

		<div th:replace="fragments/client_footer :: footer"></div>
	</div>
	<!-- <div ></div> -->
	
	<!-- <p>Content goes here...</p> -->
	<script th:inline="javascript">
		/*<![CDATA[*/
		    var contextURL = /*[[@{/}]]*/ '';
		    var action = /*[[${action}]]*/ '';	
		/*]]>*/
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="static/java/java.js" th:src="@{/java/java.js}"></script>
	<script src="static/java/app.js" th:src="@{/java/app.js}"></script>
	<script src="static/java/chosen.jquery.min.js" th:src="@{/java/chosen.jquery.min.js}"></script>
	<script src="static/javascripts/jquery-ui.js" th:src="@{/javascripts/jquery-ui.js}"></script>
	<script src="static/javascripts/bootstrap.js" th:src="@{/javascripts/bootstrap.js}"></script>
	<script src="static/javascripts/datepicker.js" th:src="@{/javascripts/datepicker.js}"></script>
	<script src="static/javascripts/client_new.js" th:src="@{/javascripts/client_new.js}"></script>
	<script src="static/javascripts/star-rating.js" th:src="@{/javascripts/star-rating.js}"></script>
	<script src="static/javascripts/special_new.js" th:src="@{/javascripts/special_new.js}"></script>
	<script src="static/javascripts/dropzone.js" th:src="@{/javascripts/dropzone.js}"></script>
	<script src="static/javascripts/user_ingrident.js" th:src="@{/javascripts/user_ingrident.js}"></script>
	<script src="static/javascripts/edit_client_day_hours.js" th:src="@{/javascripts/edit_client_day_hours.js}"></script>
	<script src="static/javascripts/item_day_hours.js" th:src="@{/javascripts/item_day_hours.js}"></script>
	<script src="static/javascripts/add_menu_day_hours.js" th:src="@{/javascripts/add_menu_day_hours.js}"></script>
	<script src="static/javascripts/about_day_and_hours.js" th:src="@{/javascripts/about_day_and_hours.js}"></script>
	<script src="static/javascripts/jquery.mask.min.js" th:src="@{/javascripts/jquery.mask.min.js}"></script>
	<script src="static/javascripts/clockpicker-12-hour-option.js" th:src="@{/javascripts/clockpicker-12-hour-option.js}"></script>
	<script src="static/javascripts/digitalmenu.js" th:src="@{/javascripts/digitalmenu.js}"></script>
	<script src="static/javascripts/wheelzoom.js" th:src="@{/javascripts/wheelzoom.js}"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.5.0/fabric.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/2.4.6/fabric.min.js" type="text/javascript"></script>
	<script src="static/javascripts/user_reward.js" th:src="@{/javascripts/user_reward.js}"></script>
<!-- <script src="static/java/application.js" th:src="@{/java/application.js}"></script>
<script src="static/javascripts/application.js" th:src="@{/javascripts/application.js}"></script> 
<script src="static/javascripts/timepicki.js" th:src="@{/javascripts/timepicki.js}"></script> -->


	<th:block sec:authorize="isAuthenticated()">
		<script type="text/javascript">
			var countdown = 30 * 60 * 1000;
			var timerId = setInterval(logout, countdown);
			$(document).ajaxStart(function(){ 
				clearInterval(timerId);
				timerId = setInterval(logout, countdown);
		    });
			function logout() {
				location.href = contextURL + "logout";
			}
		</script>
	</th:block>
	<script src="static/javascripts/bootstrap-select.js" th:src="@{/javascripts/bootstrap-select.js}"></script>
</body>
</html>