<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div class="aboutbox loginbox time_hours">
		<!-- Main Bg start -->
		<div class="main-bg1">
			<div class="clearfix"></div>

			<!-- Rewards content start -->
			<div class="login-contents addmenu">

				<div class="row text-center selecthrs">
					<p>
						<i class="fa fa-clock-o"></i>select days and hours
						<!-- <a class="pull-right hour-close"><i class="fa fa-close"></i></a> -->
					</p>
				</div>

			</div>

			<div class="reward-contents addmenu-sec">
				<div class="row">
					<span class="about_closeicon cross_mon"><i data-id="true"
						day_type="mon" class="fa fa-close about_menu_image"></i></span>
					<p class="text_menu">Mon</p>
					<input type="text" placeholder="09:30 AM"
						class="datetimepicker menu_mon mon_start_value"
						name=mon[start_time]>
					<p class="arrow-right">
						<img th:src="@{/images/arrow1.png}" class="arrow_mon" />
					</p>
					<input type="text" placeholder="09:30 PM"
						class="datetimepicker menu_mon mon_last_value" name=mon[end_time]>
					<div class="close_menu_div mon">
						<span value=""></span>
					</div>
				</div>
				<div class="row">
					<span class="about_closeicon cross_tue"><i data-id="true"
						day_type="tue" class="fa fa-close about_menu_image "></i></span>
					<p class="text_menu">Tue</p>
					<input type="text" placeholder="09:30 AM"
						class="datetimepicker menu_tue tue_start_value"
						name=tue[start_time]>
					<p class="arrow-right">
						<img th:src="@{/images/arrow1.png}" class="arrow_tue" />
					</p>
					<input type="text" placeholder="09:30 PM"
						class="datetimepicker menu_tue tue_last_value" name=tue[end_time]>
					<div class="close_menu_div tue">
						<span value=""></span>
					</div>
				</div>
				<div class="row">
					<span class="about_closeicon cross_wed"><i data-id="true"
						day_type="wed" class="fa fa-close about_menu_image "></i></span>
					<p class="text_menu">Wed</p>
					<input type="text" placeholder="09:30 AM"
						class="datetimepicker menu_wed wed_start_value"
						name=wed[start_time]>
					<p class="arrow-right">
						<img th:src="@{/images/arrow1.png}" class="arrow_wed" />
					</p>
					<input type="text" placeholder="09:30 PM"
						class="datetimepicker menu_wed wed_last_value" name=wed[end_time]>
					<div class="close_menu_div wed">
						<span value=""></span>
					</div>
				</div>
				<div class="row">
					<span class="about_closeicon cross_thu"><i data-id="true"
						day_type="thu" class="fa fa-close about_menu_image "></i></span>
					<p class="text_menu">Thu</p>
					<input type="text" placeholder="09:30 AM"
						class="datetimepicker menu_thu thu_start_value"
						name=thu[start_time]>
					<p class="arrow-right">
						<img src="<%= asset_path 'arrow1.png'%>" class="arrow_thu" />
					</p>
					<input type="text" placeholder="09:30 PM"
						class="datetimepicker menu_thu thu_last_value" name=thu[end_time]>
					<div class="close_menu_div thu">
						<span value=""></span>
					</div>
				</div>
				<div class="row">
					<span class="about_closeicon cross_fri"><i data-id="true"
						day_type="fri" class="fa fa-close about_menu_image "></i></span>
					<p class="text_menu">Fri</p>
					<input type="text" placeholder="09:30 AM"
						class="datetimepicker menu_fri fri_start_value"
						name=fri[start_time]>
					<p class="arrow-right">
						<img src="<%= asset_path 'arrow1.png'%>" class="arrow_fri" />
					</p>
					<input type="text" placeholder="09:30 PM"
						class="datetimepicker menu_fri fri_last_value" name=fri[end_time]>
					<div class="close_menu_div fri">
						<span value=""></span>
					</div>
				</div>
				<div class="row">
					<span class="about_closeicon cross_sat"><i data-id="true"
						day_type="sat" class="fa fa-close about_menu_image "></i></span>
					<p class="text_menu">Sat</p>
					<input type="text" placeholder="09:30 AM"
						class="datetimepicker menu_sat sat_start_value"
						name=sat[start_time]>
					<p class="arrow-right">
						<img src=" <%= asset_path 'arrow1.png'%>" class="arrow_sat" />
					</p>
					<input type="text" placeholder="09:30 PM"
						class="datetimepicker menu_sat sat_last_value" name=sat[end_time]>
					<div class="close_menu_div sat">
						<span value=""></span>
					</div>
				</div>
				<div class="row">
					<span class="about_closeicon cross_sun"><i data-id="true"
						day_type="sun" class="fa fa-close about_menu_image "></i></span>
					<p class="text_menu">Sun</p>
					<input type="text" placeholder="09:30 AM"
						class="datetimepicker menu_sun sun_start_value"
						name=sun[start_time]>
					<p class="arrow-right">
						<img src=" <%= asset_path 'arrow1.png'%>" class="arrow_sun" />
					</p>
					<input type="text" placeholder="09:30 PM"
						class="datetimepicker menu_sun sun_last_value" name=sun[end_time]>
					<div class="close_menu_div sun">
						<span value=""></span>
					</div>
				</div>
			</div>
			<button class="btn save-btn close_about_day_time" type="">Save</button>

			<div class="clearfix"></div>
		</div>
		<!-- Main Bg end -->

	</div>
</body>
</html>