<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link th:href="@{/css/dropzone.css}" rel="stylesheet" />
</head>
<body>
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content about-modal-content">
			<div class="aboutbox upload-section">
			  <div class="head">
			    <i class="fa fa-image"></i>
			    select photo
			    <!-- <a class="pull-right" href="javascript:void(0);"><i class="fa fa-close"></i></a> -->
			  </div>
			  <div class="about-contents">
			    <div class="row" id="area">
			      <div class="upload-box dropzone business-dropzone1" >
			        <div class ="dispaly_business_image">
			        	<div class="image" th:each="images : ${images}">
							<img th:src="@{/user/Image/image/{id}(id=${images.id})}" style="max-width:110% !important;max-height:50% !important; margin: 30% 0% 0% 0%"/><span th:text="${images.picture}"></span>
							<a onclick="deleteUploadImage(this);" class="close-img close-item_img" th:id="${images.id}" style="right: -17%;">
							<i class="fa fa-close"></i></a>
						</div>
			        </div>
			      </div>
			    </div>
			    <div class="business_loader"></div>
			    <button class="btn save-btn business1_image" type ="button" >Ok</button>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(function() {
			
			Dropzone.autoDiscover = false;
		    var myDropzone = new Dropzone(".business-dropzone1" , { 
		      url: "./createBusinessImage" , paramName: "picture",maxFiles: 25,thumbnailWidth: 200,thumbnailHeight: 200,parallelUploads: 25, uploadMultiple: true,autoProcessQueue : true,
		      init: function() {
		        this.on('maxfilesexceeded', function(file){
		          this.removeAllFiles();
		          this.addFile(file);
		        });
		        // this.on("uploadprogress", function(file, progress, bytesSent){
		        //   progress = 0
		        //   debugger
		        //   document.querySelector(".dz-upload").style.width =  10 + "%";
		        //   document.querySelector(".dz-upload").style.width =  20 + "%";
		        //   document.querySelector(".dz-upload").style.width =  40 + "%";
		        //   document.querySelector(".dz-upload").style.width = 60 + "%";
		        //   document.querySelector(".dz-upload").style.width =  80 + "%";
		        // });  
		        this.on("sending", function(file, xhr, data){
		          data.append("id", $('.item-selected').attr('id'));
		        });  
		      },
		      success: function(file, response){
		        /* $('.business_loader').attr('class','business_loader');
		        $('.dispaly_business_image').empty()
		        $('.dz-image').hide();
		        $('.menu_imges_ids').val(response.id);
		        $('.dz-preview').hide();
		        //$('#businesspicture').modal('hide');
		        $('.dz-details').hide();
		        if(response != null){
		          $.each(response, function(k, v) {
		            if(v.picture.url != null){
		              $('.dispaly_business_image').append('<div class="image"><img src= '+ v.picture.small.url+' /><span>'+ v.picture.url.split("/")[5]+'</span><a class="close-img close-item_img" id='+v.id+'><i class="fa fa-close"></i></a></div>')
		            }
		          });
		          myDropzone.removeAllFiles();
		        } */
		      },
		      queuecomplete : function(file, response){
		        toastr.success("Selected image save successfully.")
		      }
		    }); 
		});
		$('.business1_image').unbind().on('click', function(){
		      // if(myDropzone.files == "" ||  myDropzone.files[0].status =="success"){
		      //   $('#businesspicture').modal('hide');
		      // }else if(myDropzone.files[0].status =="queued"){
		      //   $('.business_loader').attr('class','business_loader show_loader');
		      //   myDropzone.processQueue();
		      // }
		      $('#businesspicture').modal('hide');
	   });
	</script>
</body>
</html>