<div class="modal-dialog modal-sm" role="document">
	<div class="modal-content about-modal-content">
		<div class="aboutbox delete_conform_box">
			<div class="head"> are you sure you want to delete?</div>
			<div class="about-contents">
					<span th:text="${categories.name}">Categories</span>						
				<div class="row">
					<button type="button" class="btn" id="delete_category_yes" data-dismiss="modal">Yes</button>
					<button type="button" class="btn" data-dismiss="modal"> No</button>
				</div>
			</div>
		</div>
	</div>
</div>