<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel" id="category_message">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content about-modal-content">
				<div class="aboutbox upload-section category-message">
					<form th:action="@{/user/category/edit_category}" method="post" th:object="${CategoryMsg}">
						<div class="head">
							Add Category Message <br> 
							" <span class="name" th:text="${CategoryMsg.name}"></span> "
						</div>

						<div class="category-message-body">
							<input type="hidden" th:field="*{id}">
							<input type="hidden" th:field="*{name}">
							<div class="category-message-sec">
								<textarea class="form-control category_message" th:field="*{message}"
									placeholder="Add/Edit Category message" rows="2"></textarea>
							</div>
							<input type="submit" class="btn save-btn" value="Ok"/>
							<div class="clearfix"></div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</body>
</html>