<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div class="modal fade bs-example-modal-combo1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="combosoptionmodal">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content about-modal-content">
				<div class="aboutbox combosOptionModal">
					<div class="head">
						<ul class="nav nav-tabs custom-tab" role="tablist">
							<li role="presentation" class="active">
							<a href="#option1" aria-controls="photo1" role="tab" data-toggle="tab">Option 1</a></li>
							<li role="presentation"><a href="#option2" aria-controls="photo2" role="tab" data-toggle="tab">Option 2</a></li>
							<li role="presentation"><a href="#option3" aria-controls="photo3" role="tab" data-toggle="tab">Option 3</a></li>
							<li role="presentation"><a href="#option4" aria-controls="photo3" role="tab" data-toggle="tab">Option 4</a></li>
						</ul>
					</div>
					<div class="about-contents photo-section">
						<form method="post" th:object="${comboOptionVO}"
							th:action="@{/user/combo/saveCombo}">
							<div class="row">
								<input type="hidden" th:field="*{priceAndComboId}">
								<input type="hidden" th:field="*{comboOptions.id}">
								<!-- Tab panes -->
									<div class="row head-row">
										<p>select a group of items to be part of combo</p>
									</div>
								<div class="tab-content combooptions">
									<div role="tabpanel" class="tab-pane fade in active" id="option1">
										<div class="row">
											<input type="text" placeholder="select option 1..." class="form-control">
										</div>
										<div class="row">
											<div class="food-list" id="foodlist">
												<ul class="option1_selected">
													<th:block th:each="option,iter : ${comboOptionVO.option1}">
														<li class="option1_select selected" th:if="${#arrays.contains(selectedOption1 ,#strings.toString(option.id))}" th:id="${option.id}">
															<span th:text="${option.name}"></span>
															<input type="hidden" th:field="*{option1[__${iter.index}__].id}">
														</li>
														<li class="option1_select" th:unless="${#arrays.contains(selectedOption1 ,#strings.toString(option.id))}" th:id="${option.id}">
															<span th:text="${option.name}"></span>
															<input type="hidden" th:field="*{option1[__${iter.index}__].id}" disabled="disabled">
														</li>
													</th:block>
												</ul>
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane fade" id="option2">
										<div class="row">
											<input type="text" placeholder="select option 2..." class="form-control">
										</div>
										<div class="row">
											<div class="food-list" id="foodlist">
												<ul class="option2_selected">
													<th:block th:each="option,iter : ${comboOptionVO.option2}">
														<li class="option1_select selected" th:if="${#arrays.contains(selectedOption2 ,#strings.toString(option.id))}" th:id="${option.id}">
															<span th:text="${option.name}"></span>
															<input type="hidden" th:field="*{option2[__${iter.index}__].id}">
														</li>
														<li class="option1_select" th:unless="${#arrays.contains(selectedOption2 ,#strings.toString(option.id))}" th:id="${option.id}">
															<span th:text="${option.name}"></span>
															<input type="hidden" th:field="*{option2[__${iter.index}__].id}" disabled="disabled">
														</li>
													</th:block>
												</ul>
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane fade" id="option3">
										<div class="row">
											<input type="text" placeholder="select option 3..." class="form-control">
										</div>
										<div class="row">
											<div class="food-list" id="foodlist">
												<ul class="option3_selected">
													<th:block th:each="option,iter : ${comboOptionVO.option3}">
														<li class="option1_select selected" th:if="${#arrays.contains(selectedOption3 ,#strings.toString(option.id))}" th:id="${option.id}">
															<span th:text="${option.name}"></span>
															<input type="hidden" th:field="*{option3[__${iter.index}__].id}">
														</li>
														<li class="option1_select" th:unless="${#arrays.contains(selectedOption3 ,#strings.toString(option.id))}" th:id="${option.id}">
															<span th:text="${option.name}"></span>
															<input type="hidden" th:field="*{option3[__${iter.index}__].id}" disabled="disabled">
														</li>
													</th:block>
												</ul>
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane fade" id="option4">
										<div class="row">
											<input type="text" placeholder="select option 4..." class="form-control">
										</div>
										<div class="row">
											<div class="food-list" id="foodlist">
												<ul class="option4_selected">
													<th:block th:each="option,iter : ${comboOptionVO.option4}">
														<li class="option1_select selected" th:if="${#arrays.contains(selectedOption4 ,#strings.toString(option.id))}" th:id="${option.id}">
															<span th:text="${option.name}"></span>
															<input type="hidden" th:field="*{option4[__${iter.index}__].id}">
														</li>
														<li class="option1_select" th:unless="${#arrays.contains(selectedOption4 ,#strings.toString(option.id))}" th:id="${option.id}">
															<span th:text="${option.name}"></span>
															<input type="hidden" th:field="*{option4[__${iter.index}__].id}" disabled="disabled">
														</li>
													</th:block>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<button class="btn save-btn" type="submit">Ok</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>