<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<link th:href="@{/css/dropzone.css}" rel="stylesheet" />
</head>
<body>
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content about-modal-content">
			<div class=" aboutbox digitalmenubox upload-section" th:style="|width:${canvasWidth+362}px !important|">
				<div class="head"> Edit/replace: </div>
				<input type="hidden" th:value="${numOfFrames}" id="numOfFrames">
				<div class="about-contents">
					<div class="row">
						<div class="col-sm-4" style="width: 300px">
							<div class="row">
								<div class="food-list" id="foodlist" style="white-space: nowrap;">
									<input type="text" placeholder="&#xF002; Search Item" value="" style="font-family:Arial, FontAwesome" class="search-digitalmenu-items find_business"> 
									<ul class="items" style="white-space: nowrap;"> 
										<th:block th:each="itemImageVO,iter : ${itemImageVOs}">
											<li th:id="${itemImageVO.items.id}" class="select_digitalmenu_item" onclick = "select_digitalmenu_item(this)">
												<span th:text="${itemImageVO.items.name}"></span>
												<span th:text="${itemImageVO.imageId}" class="hidden"></span>
											</li>
										</th:block>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="col-sm-7 image_cut" >
							<div class="row head" th:style="|width:${canvasWidth}px|">
								<i class="fa fa-arrow-left"  onclick="previousFrame()"></i>
									 drag frame 
								<i class="fa fa-arrow-right" onclick="nextFrame()"></i>
							</div>
							<div class="row middle" th:style="|width:${canvasWidth}px|" >
								<canvas id="canvas" th:height=${canvasHeight} th:width=${canvasWidth} style="border:1px solid #000000"></canvas>
							</div>
							<div class="zoomButtons">
								<button class="btn zoomButtonPlus" onclick="zoomin()"> <i class="fa fa-plus"></i> </button>
								<button class="btn zoomButtonMinus" onclick="zoomout()"> <i class="fa fa-minus"></i> </button>
								<a class="preview" th:href="@{'/images/noImage.png'}"><i class="fa fa-file-image-o fa-2" aria-hidden="true" style="float: right;"></i></a>
							</div>
							<div class="row foot">
								<button class="btn save-btn digital_menu_item_picture" type="button">save</button>
								<button class="btn" data-dismiss="modal">Cancel</button>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
 	var activeTab = ".tab-pane.fade.active.in";
 	var orientation = $(activeTab+" #tabForm").find("[name='orientation']:checked").val();
 	var menu = $(activeTab+" #tabForm").find("[name='menuType']").find('option:selected').val();
 	var design = $(activeTab+" #tabForm").find("[name='menuDesign']").find('option:selected').val();
 	design = design.match(/\d+/)+'';
	var object;
	var canvas = new fabric.Canvas('canvas');
	var imageUrl;
	var overLayImage = contextURL + 'user/digitalMenu/getInitialFrame?orientation='+orientation+'&menu='+menu+'&design='+design;
	var scale = 0.25;
	var numOfFrames = $("#numOfFrames").val();
	var count = 1;
	var currentRequest = null;
	
	function nextFrame(){
		if(numOfFrames!=1){
			count += 1;
			if(count>numOfFrames) count=1 ;
			str = orientation+'_cutout'+count+'.png';
			var picture = contextURL + 'user/digitalMenu/getFrame?orientation='+orientation+'&menu='+menu+'&design='+design+'&name='+str;
			canvas.setOverlayImage(picture, canvas.renderAll.bind(canvas));
		}
	}
	
	function previousFrame(){
		if(numOfFrames!=1){
			count -= 1;
			if(count==0) count=numOfFrames ;
			str = orientation+'_cutout'+count+'.png';
			var picture = contextURL + 'user/digitalMenu/getFrame?orientation='+orientation+'&menu='+menu+'&design='+design+'&name='+str;
			canvas.setOverlayImage(picture, canvas.renderAll.bind(canvas));
		}
	}
	
	$(document).ready(function(){
		canvas.backgroundColor = "#fff";
		canvas.renderAll();
		canvas.setOverlayImage(overLayImage, canvas.renderAll.bind(canvas));

		/* $('.digital_menu_item_picture').on('click', function (event) {
		    var left = 0 - object.left;
		    var top = 0 - object.top;
		    
		    left *= 1 / 0.25;
		    top *= 1 / 0.25;
		    
		    var width = 2000 * 1 / 0.25;
		    var height = 2000 * 1 / 0.25;
		   	
		    object.clipTo = function (ctx) {
		        ctx.rect(left, top, width, height);
		    };
		    object.selectable = false;
		    disabled = true;
		    //el.visible = false;
		    canvas.renderAll();
		}); */
		 

		$('.digital_menu_item_picture').click(function() {
			var digitalmenuItemId = $(activeTab).find(".digitalmenuItemId").val();
			if(digitalmenuItemId == ""){
				toastr.error("Please Select Item");
			}
			else{
	 			var imageString = document.getElementById("canvas").toDataURL("image/png");
	 			imageString = imageString.replace('data:image/png;base64,', '');
	 			var screenNumber = $(activeTab+" input[name=screenNumber]").val(); 
	 			var digitalMenuId = $(activeTab+" .digitalMenuId").val(); 
	 			$.ajax({
	 				type : "POST",
	 				url: contextURL + "user/digitalMenu/saveDigitalMenuImage",
	 				data: {
	 					'imageString' : imageString,
	 					'screenNumber' : screenNumber,
	 					'digitalMenuId' : digitalMenuId,
	 					'digitalmenuItemId' : digitalmenuItemId,
	 					'menuType' : menu,
	 					'design' : design,
	 					'croppingFrame' : orientation+"_cutout"+count+"_mask.png"
	 				}
	 			}).done(function(data){
	 				toastr.success("Image Saved");
	 				/* $('#digitalMenuImage').modal('hide'); */
	 				/* canvas.remove(object); */
	 			})
			}
		});
		
 		imagePreview();
 		
 		$(".preview").click(function() {
 			return false;
 		});
	});
	
	function select_digitalmenu_item(thisLi){
		canvas.remove(object);
		$(".select_digitalmenu_item").removeClass("item-selected");
    	$(thisLi).addClass("item-selected");
		if($(thisLi).find("span:nth-child(2)").text() == 0){
			var d = new Date();
        	$(".preview").attr("href", contextURL +"images/noImage.png?t="+d.getTime());
        	toastr.error("Please add image to this Item");
		} else {
			var item_id =  $(thisLi).attr("id");
			var screen_num = $(activeTab+" .screennumber").val()
			var digitalmenuId = $(activeTab+" .digitalMenuId").val();
			var picture = "screen"+screen_num+"_"+item_id;
			canvas.remove(object);
			$(activeTab+" .digitalmenuItemId").val(item_id);
        	imageUrl =	contextURL + 'user/Image/image/' + $(thisLi).find("span:nth-child(2)").text();
    		loadImage(imageUrl,0.34);
    		$.ajax({
	            type: "post",
	            url: contextURL + "user/digitalMenu/isDigitalMenuImageAvailable",
	            data: {
	                'picture' : picture,
	                'digitalmenuId': digitalmenuId
	            },
	            success: function(data){
	            	$(".preview").attr("href", contextURL + "user/digitalMenu/get_image?picture="+picture+"&digitalmenuId="+digitalmenuId);
	            },error: function(data){
	            	$(".preview").attr("href", contextURL +"images/noImage.png");
		        }
	        });
		}
		
    	/* $(".select_digitalmenu_item").removeClass("item-selected"),
    	canvas.remove(object);
		var item_id =  $(thisLi).attr("id");
		var screen_num = $(activeTab+" .screennumber").val()
		var digitalmenuId = $(activeTab+" .digitalMenuId").val();
		var picture = "screen"+screen_num+"_"+item_id;
    	$(".select_digitalmenu_item").removeClass("item-selected"),
    	$(thisLi).addClass("item-selected"),
    	//$(".selected_item_id").val($(".item-selected").attr("id")),
    	currentRequest = $.ajax({
    		beforeSend : function(){
            	if(currentRequest != null) {
            		currentRequest.abort();
                }
            },
            type: "post",
            url: contextURL + "user/digitalMenu/get_item_images",
            data: {
                'item_id' : item_id
            },
            success: function(data){
	        	$(activeTab+" .digitalmenuItemId").val(item_id);
	        	imageUrl =	contextURL + 'user/Image/image/' + data;
	    		loadImage(imageUrl,0.34);
	    		$.ajax({
		            type: "post",
		            url: contextURL + "user/digitalMenu/get_image",
		            data: {
		                'picture' : picture,
		                'digitalmenuId': digitalmenuId
		            },
		            success: function(data){
		            	$(".preview").attr("href", contextURL + "user/digitalMenu/get_image?picture="+picture+"&digitalmenuId="+digitalmenuId);
		            },error: function(data){
		            	$(".preview").attr("href", contextURL +"images/noImage.png");
			        }
		        });
	        },
	        error: function(data){
	        	var d = new Date();
	        	$(".preview").attr("href", contextURL +"images/noImage.png?t="+d.getTime());
	        	toastr.error("Please add image to this Item");
	        }
        }); */
    }
	
  function zoomin(){
	  if(scale>1.05)toastr.warning("Maximum Zoom Limit")
	  else{
	  		canvas.remove(object);
			scale = scale + 0.1;
			object.scaleX = object.scaleY = scale;
			canvas.add(object);
			canvas.centerObject(object);
	  }
    }
    function zoomout(){
    	if(scale<0.36)toastr.error("Maximum ZoomOut Limit")
  	  	else{
  	  		canvas.remove(object);
	        scale = scale - 0.1;
	        object.scaleX = object.scaleY = scale;
			canvas.add(object);
			canvas.centerObject(object);
  	  	}
    } 
    
    function loadImage(imageUrl,scale){
    	canvas.remove(object);
    	fabric.util.loadImage(imageUrl, function (img) {
		    object = new fabric.Image(img);
		    object.set({
		        left: 0,
		        top: 0,
		        selectable: true
		    });
		    object.hasRotatingPoint = false;
		    object.scaleX = object.scaleY = scale;
		    canvas.add(object);
		    canvas.centerObject(object);
		    canvas.renderAll();
		});
	  }
  
    function imagePreview(){
    	
    	/ CONFIG /
    	xOffset = 0;
    	yOffset = 30;

    	// these 2 variable determine popup's distance from the cursor
    	// you might want to adjust to get the right result

    	/ END CONFIG /
    	$("a.preview").hover(function(e){
	    	var h = window.innerHeight;
	    	this.t = this.title;
	    	this.title = "";
	    	if ((h - e.clientY) < 280) {
	    		xOffset = 7;
	    	} else {
	    		xOffset = 10;
	    	}
    		var c = (this.t != "") ? "<br/>" + this.t : "";
    		$("body").append("<p id='preview'><img width='200px;' src='"+ this.href +"' alt='Image preview' />"+ c +"</p>");
    		$("#preview")
	    	.css("top",(e.clientY - xOffset) + "px")
	    	.css("left",(e.pageX + yOffset) + "px")
	    	.fadeIn("fast");
	    },
    	function(){
	    	this.title = this.t;
	    	$("#preview").remove();
    	});
    	$("a.preview").mousemove(function(e){
    	$("#preview")
	    	.css("top",(e.pageY - xOffset) + "px")
	    	.css("left",(e.pageX + yOffset) + "px");
    	});
    }
</script> 
</html>