<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<script type="text/javascript">
	$(document).ready(function(){
		var activeTab = ".tab-pane.fade.active.in";
		var currentTabId = $(activeTab).find("input[name=id]").val();
		
		$('.link-with li').each(function(){
	    	liIds = $(this).find("img").attr("id");
	    	lastdeshindex = liIds.lastIndexOf('-');
	    	result= liIds.substring(lastdeshindex  + 1);
	    	if(result == currentTabId){
	    		$(this).find("img").attr("class","img-check img-checked");
	    		$(this).find("input[type=checkbox]").attr("checked","checked");
	    	}
	    })
	})
</script>
</head>
<body>
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content about-modal-content">
			<div class="digitalmenubox link-section">
			  <div class="head">
			    <i class="fa fa-link"></i>	&nbsp;&nbsp;Link
			  </div>
			  <div class="link-tabs">
			    <div class="row activated-tab">
				    <div class="col-sm-12">
				    	<ul>
							<th:block th:each="digitalmenu,iter:${digitalMenus}" th:if="${digitalmenu.screen}==${screenNumber}">
								<li style="list-style-type: none;" role="presentation" th:id="${digitalmenu.id}">
									<span>Link </span>
									<span th:text="${screenNumber}"></span>
									<img alt="" th:src="@{/assets/screen-on.png}">
									<span> with</span>
								</li>
							</th:block>
						</ul>
					</div>
			    </div>
			    <div class="row link-with">
				    <div class="col-lg-12">
						<ul>
							<th:block th:each="digitalmenu,iter:${digitalMenus}" th:unless="${digitalmenu.screen}==${screenNumber}">
								<div class="col-sm-2">
									<li role="presentation">
										<span th:text="${digitalmenu.screen}"></span>
										<label>
											<th:block th:if="${digitalmenu.linkedWithMenu != null}">
												<img th:src="@{/assets/screen-off.png}" alt="..." class="img-check" th:id="${'link-'+digitalmenu.linkedWithMenu.id}">
												<input type="checkbox" name="link-tab" th:value="${digitalmenu.id}" autocomplete="off" class="hidden">
											</th:block>
											
											<th:block th:unless="${digitalmenu.linkedWithMenu != null}">
												<img th:src="@{/assets/screen-off.png}" alt="..." class="img-check" th:id="${'link-'+digitalmenu.id+'123'}">
												<input type="checkbox" name="link-tab" th:value="${digitalmenu.id}" autocomplete="off" class="hidden">
											</th:block>
											
										</label>
									</li>
								</div>
							</th:block>
						</ul>
					</div>
			        <div class="about_loader"></div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-6">
				    	<button class="btn getselected save-btn" type ="button" data-dismiss="modal">Save</button>
				    </div>
				    <div class="col-sm-6">
				    	<button class="btn save-btn" type ="button" data-dismiss="modal" style="width: 90px;">Cancel</button>
				    </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	 
</body>
</html>