<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content about-modal-content">
			<div class="aboutbox delete_conform_box">
				<div class="head"> are you sure you want to delete?</div>
				<div class="about-contents">
						<span th:text="'DigitalMenu '+${tab}"></span>						
					<div class="row">
						<button type="button" class="btn" id="deleteDigitalMenu" data-dismiss="modal">Yes</button>
						<button type="button" class="btn" data-dismiss="modal"> No</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
 
</html>