<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link th:href="@{/css/dropzone.css}" rel="stylesheet" />
</head>
<body>
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content about-modal-content">
			<div class="aboutbox upload-section">
				<div class="head">
					<i class="fa fa-image"></i> select photo
				</div>
				<div class="about-contents">
					<div class="row" id="area">
						<div class="upload-box dropzone item-dropzone1">
							<div class="dispaly_item_image" style="margin-top: 30px;">
								<div class="image" th:each="images : ${images}">
									<img th:src="@{/user/Image/image/{id}(id=${images.id})}" style="margin: 65px 0px 0px 40px"/><span th:text="${images.picture}"></span>
									<a onclick="deleteUploadImage(this);" class="close-img close-item_img" th:id="${images.id}">
									<i class="fa fa-close"></i></a>
								</div>
								<div class="dz-message" data-dz-message><span>Drop file here to upload, Image should be 1500x1000 or Ratio of 3:2</span></div>
							</div>
						</div>
					</div>
					<div class="item_loader"></div>
					<button class="btn save-btn item_picture" type="button">save</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(function() {
			var item_id=$(".select_item.item-selected").attr("id");
			var currentFile = null;
			Dropzone.autoDiscover = false;
			var myDropZone = new Dropzone(".item-dropzone1",{ 
				      url: "./item/create_item_image" ,
				      paramName: "picture",
				      maxFiles: 1,
				      thumbnailWidth: 200,
				      thumbnailHeight: 200,
				      parallelUploads: 1,
				      uploadMultiple: false,
				      autoProcessQueue : true,
				      init: function() {
				        this.on('maxfilesexceeded', function(file){
				        	this.removeAllFiles();
				        });
				        this.on("uploadprogress", function(file, progress, bytesSent){
				          progress = 0
				          document.querySelector(".dz-upload").style.width =  10 + "%";
				          document.querySelector(".dz-upload").style.width =  20 + "%";
				          document.querySelector(".dz-upload").style.width =  40 + "%";
				          document.querySelector(".dz-upload").style.width = 60 + "%";
				          document.querySelector(".dz-upload").style.width =  80 + "%";
				        });
				        this.on("sending", function(file, xhr, data){
				        		data.append("id", $('.item-selected').attr('id'));
				        });
				        this.on("addedfile", function(file) { 
			        	 if (currentFile) {
		        	        this.removeFile(currentFile);
		        	      }
		        	      currentFile = file;
				        });
				      },
				      success: function(file, response){
				        //$('.item_loader').attr('class','item_loader');
				        toastr.success("Image uploaded successfully.");
				        $(".dispaly_item_image").load(location.href + " .dispaly_item_image");
				      },
				      error : function(result, status, err){
				    	  toastr.error("Your image should be 1500x1000 or higher resolution with 3:2 ratio	\n"+err.responseText);
				      },
				});	
		});
		
	</script>
</body>
</html>