<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link th:href="@{/css/custom.css}" rel="stylesheet" />
<link th:href="@{/css/phonemyfood.css}" rel="stylesheet" />
<link th:href="@{/css/application.css}" rel="stylesheet" />
<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
<!-- <!-- <script src="static/java/java.js" th:src="@{/java/java.js}"></script>
<script src="static/java/app.js" th:src="@{/java/app.js}"></script> --> -->
<script src="static/java/chosen.jquery.min.js" th:src="@{/java/chosen.jquery.min.js}"></script>
<!-- <script src="static/java/application.js" th:src="@{/java/application.js}"></script> -->
</head>
<body>
<div class="modal-dialog modal-sm" role="document">
   <div class="modal-content about-modal-content">
	<div class="aboutbox loginbox time_hours">
		<!-- Main Bg start -->
		<div class="main-bg1">
			<div class="clearfix"></div>

			<!-- Rewards content start -->
			<div class="login-contents addmenu">

				<div class="row text-center selecthrs">
					<p>
						<i class="fa fa-clock-o"></i>select days and hours
						<!-- <a class="pull-right hour-close"><i class="fa fa-close"></i></a> -->
					</p>
				</div>

			</div>
			<form method="post" th:object="${daysAndHoursVO}" th:action="@{/user/menu/add_menu}">
			<div class="reward-contents addmenu-sec menu_disable">
						<div class="row">
							<span class="menu_closeicon cross_mon"><i data-id="true"
								data-day="mon" class="fa fa-close menu_image"></i></span>
							<input type="hidden" th:field="*{daysAndHours[0].id}">
							<p class="text_menu" th:text="${daysAndHoursVO.daysAndHours[0].dayName}"></p>
							<input type="text" placeholder="09:30 AM"
								class="datetimepicker menu_mon" th:field="*{daysAndHours[0].startTime}">
							<p class="arrow-right">
								<img th:src="@{/images/arrow1.png}" class="arrow_mon" />
							</p>
							<input type="text" placeholder="09:30 PM"
								class="datetimepicker menu_mon mon_last_value" th:field="*{daysAndHours[0].endTime}">
							<div class="close_menu_div mon">
								<span value=""></span>
							</div>
						</div>
						<div class="row">
							<span class="menu_closeicon cross_tue"><i data-id="true"
								data-day="tue" class="fa fa-close menu_image "></i></span>
							<input type="hidden" th:field="*{daysAndHours[1].id}">
							<p class="text_menu" th:text="${daysAndHoursVO.daysAndHours[1].dayName}"></p>
							<input type="text" placeholder="09:30 AM"
								class="datetimepicker menu_tue" th:field="*{daysAndHours[1].startTime}">
							<p class="arrow-right">
								<img th:src="@{/images/arrow1.png}" class="arrow_tue" />
							</p>
							<input type="text" placeholder="09:30 PM"
								class="datetimepicker menu_tue tue_last_value"
								th:field="*{daysAndHours[1].endTime}">
							<div class="close_menu_div tue">
								<span value=""></span>
							</div>
						</div>
						<div class="row">
							<span class="menu_closeicon cross_wed"><i data-id="true"
								data-day="wed" class="fa fa-close menu_image "></i></span>
							<input type="hidden" th:field="*{daysAndHours[2].id}">	
							<p class="text_menu" th:text="${daysAndHoursVO.daysAndHours[2].dayName}">Wed</p>
							<input type="text" placeholder="09:30 AM"
								class="datetimepicker menu_wed" th:field="*{daysAndHours[2].startTime}">
							<p class="arrow-right">
								<img th:src="@{/images/arrow1.png}" class="arrow_wed" />
							</p>
							<input type="text" placeholder="09:30 PM"
								class="datetimepicker menu_wed wed_last_value"
								th:field="*{daysAndHours[2].endTime}">
							<div class="close_menu_div wed">
								<span value=""></span>
							</div>
						</div>
						<div class="row">
							<span class="menu_closeicon cross_thu"><i data-id="true"
								data-day="thu" class="fa fa-close menu_image "></i></span>
							<input type="hidden" th:field="*{daysAndHours[3].id}">
							<p class="text_menu" th:text="${daysAndHoursVO.daysAndHours[3].dayName}">Thu</p>
							<input type="text" placeholder="09:30 AM"
								class="datetimepicker menu_thu" th:field="*{daysAndHours[3].startTime}">
							<p class="arrow-right">
								<img th:src="@{/images/arrow1.png}" class="arrow_thu" />
							</p>
							<input type="text" placeholder="09:30 PM"
								class="datetimepicker menu_thu thu_last_value"
								th:field="*{daysAndHours[3].endTime}">
							<div class="close_menu_div thu">
								<span value=""></span>
							</div>
						</div>
						<div class="row">
							<span class="menu_closeicon cross_fri"><i data-id="true"
								data-day="fri" class="fa fa-close menu_image "></i></span>
							<input type="hidden" th:field="*{daysAndHours[4].id}">	
							<p class="text_menu" th:text="${daysAndHoursVO.daysAndHours[4].dayName}">Fri</p>
							<input type="text" placeholder="09:30 AM"
								class="datetimepicker menu_fri" th:field="*{daysAndHours[4].startTime}">
							<p class="arrow-right">
								<img th:src="@{/images/arrow1.png}" class="arrow_fri" />
							</p>
							<input type="text" placeholder="09:30 PM"
								class="datetimepicker menu_fri fri_last_value"
								th:field="*{daysAndHours[4].endTime}">
							<div class="close_menu_div fri">
								<span value=""></span>
							</div>
						</div>
						<div class="row">
							<span class="menu_closeicon cross_sat"><i data-id="true"
								data-day="sat" class="fa fa-close menu_image "></i></span>
							<input type="hidden" th:field="*{daysAndHours[5].id}">
							<p class="text_menu" th:text="${daysAndHoursVO.daysAndHours[5].dayName}">Sat</p>
							<input type="text" placeholder="09:30 AM"
								class="datetimepicker menu_sat" th:field="*{daysAndHours[5].startTime}">
							<p class="arrow-right">
								<img th:src="@{/images/arrow1.png}" class="arrow_sat" />
							</p>
							<input type="text" placeholder="09:30 PM"
								class="datetimepicker menu_sat sat_last_value"
								th:field="*{daysAndHours[5].endTime}">
							<div class="close_menu_div sat">
								<span value=""></span>
							</div>
						</div>
						<div class="row">
							<span class="menu_closeicon cross_sun"><i data-id="true"
								data-day="sun" class="fa fa-close menu_image "></i></span>
							<input type="hidden" th:field="*{daysAndHours[6].id}">	
							<p class="text_menu" th:text="${daysAndHoursVO.daysAndHours[6].dayName}">Sun</p>
							<input type="text" placeholder="09:30 AM"
								class="datetimepicker menu_sun" th:field="*{daysAndHours[6].startTime}">
							<p class="arrow-right">
								<img th:src="@{/images/arrow1.png}" class="arrow_sun" />
							</p>
							<input type="text" placeholder="09:30 PM"
								class="datetimepicker menu_sun sat_last_value"
								th:field="*{daysAndHours[6].endTime}">
							<div class="close_menu_div sun">
								<span value=""></span>
							</div>
						</div>
					</div>
			<button class="btn save-btn item_day_time" type="">Save</button>
			</form>
			<div class="clearfix"></div>
		</div>
		<!-- Main Bg end -->

		</div>
	</div>
</div>

</body>
</html>