<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link th:href="@{/css/dropzone.css}" rel="stylesheet" />
</head>
<body>
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content about-modal-content">
			<div class="aboutbox upload-section">
			  <div class="head">
			    <i class="fa fa-image"></i>
			    select photo
			  </div>
			  <div class="about-contents">
			    <div class="row" id="area">
			      <div class="upload-box dropzone media-dropzone2" >
			        <div class ="dispaly_about_image"> 
			          	<div class="image" th:each="images : ${images}">
							<img th:src="@{/user/Image/image/{id}(id=${images.id})}" style="margin: 65px 0px 0px 40px"/><span th:text="${images.picture}"></span>
							<a onclick="deleteUploadImage(this);" class="close-img close-item_img" th:id="${images.id}">
							<i class="fa fa-close"></i></a>
						</div>
						<div class="dz-message" data-dz-message><span>Drop file here to upload</span></div>
			        </div> 
			        <div class="about_loader"></div>
			      </div>
			    </div>
			    <button class="btn save-btn profile_image" type ="button" >Ok</button>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(function() {
			Dropzone.autoDiscover = false;
		    $('.dz-progress').hide();
		    var myDropzone = new Dropzone(".media-dropzone2" , {
		      url: "./specials/create_item_image" , maxFiles: 1, paramName: "picture",thumbnailWidth: 200,thumbnailHeight: 200,parallelUploads: 1, uploadMultiple: false,autoProcessQueue : true,
		      init: function() {
		        this.on('maxfilesexceeded', function(file){
		          this.removeAllFiles();
		          this.addFile(file);
		        });
	
		        this.on("uploadprogress", function(file, progress, bytesSent){
		          $('.image').hide();          
		          progress = 0
		          
		          document.querySelector(".dz-upload").style.width =  10 + "%";
		          document.querySelector(".dz-upload").style.width =  20 + "%";
		          document.querySelector(".dz-upload").style.width =  40 + "%";
		          document.querySelector(".dz-upload").style.width = 60 + "%";
		          document.querySelector(".dz-upload").style.width =  80 + "%";
		          
		        });
		        this.on("sending", function(file, xhr, data){
		          data.append("id", $('.modify_special_page').find("option:selected").attr('id'));
		        }); 
		      },
		      success: function(file, response){
		        toastr.success("Image update successfully.");
		      }
		    })
		});
	</script>
</body>
</html>