<th:block th:fragment="itemAddEditForm">
	<form role="itemDetails" method="post" th:object="${itemDetails}" th:action="@{/user/item/add_edit_items}" id="itemAddForm">
		<input type="hidden" name="itemId" th:value="*{itemModel.id}"/>
		<div class="row">
			<input type="text" autocomplete="off" class="form-control item_name" placeholder="Item Name Here" onpaste="enableAllInItemAddForm()" 
				th:field="*{itemModel.name}" th:required="required" onkeyup="stoppedTypingItem()">
		</div>
		<div class="row">
			<textarea class="form-control item_description" rows="4" placeholder="Description Here" th:field="*{itemModel.description}" onkeyup="stoppedTypingItem(), removeNewLinesOnPaste()"
				onkeypress="preventEnter(event, this)" id="descriptiontextarea"></textarea>
		</div>
		<div class="row item-table">
			<div class="row weight_price_combo">
				<div class="col-xs-8">
					<th:block th:if="${itemDetails.businesses.businessType} == 'marijuana'">
						<p class="subhead">weight and price for menu:</p>
					</th:block>
					<th:block th:if="${itemDetails.businesses.businessType} != 'marijuana'">
						<p class="subhead">price and combos for menu:</p>
					</th:block>
				</div>
				<div class="col-xs-4 mydropdown">
					<select id="item_user_menu">
						<option value="0" selected="selected">All</option>
						<th:block th:each="userMenu : ${userMenus}">
							<option th:value="${userMenu.id}" th:text="${userMenu.menuName}"></option>
						</th:block>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="delivery-contents add-item-contents">
					<div class="row">
						<div class="col-xs-1 list-numbers">
							<span class="circle">1</span>
						</div>
						<div class="col-xs-7">
							<div class="left-side">
								<p>PriceName</p>
								<input type="hidden" th:field="*{priceAndCombos[0].record}" value="1">
								<input type="hidden" th:field="*{priceAndCombos[0].id}" class="price_and_combos_id_1">
								<input type="hidden" th:field="*{priceAndCombos[0].item}">
								<input type="hidden" th:field="*{priceAndCombos[0].userMenuId}" class="price_combos_user_menu">
								<input type="text" name="number1" class="name1" value="" th:field="*{priceAndCombos[0].name}">
							</div>
						</div>
						<div class="col-xs-4">
							<div class="right-side">
								<p>Price</p>
								<input type="text" th:field="*{priceAndCombos[0].price}" onkeyup="stoppedTyping();" onfocusout="emptyPrice(this)" class="price1 formPrice" autocomplete="off">
								<th:block th:if="${itemDetails.businesses.businessType} != 'marijuana'">
									<button class="c_add_item combo_option_modal" data-toggle="modal" type="button" th:id="*{priceAndCombos[0].id}">c</button>
								</th:block>
							</div>
						</div>
					</div>
	
					<div class="row">
						<div class="col-xs-1 list-numbers">
							<span class="circle">2</span>
						</div>
						<div class="col-xs-7">
							<div class="left-side">
								<p>PriceName</p>
								<input type="hidden" th:field="*{priceAndCombos[1].record}" value="2">
								<input type="hidden" th:field="*{priceAndCombos[1].id}" class="price_and_combos_id_2">
								<input type="hidden" th:field="*{priceAndCombos[1].item}">
								<input type="hidden" th:field="*{priceAndCombos[1].userMenuId}" class="price_combos_user_menu">
								<input type="text" name="number2" class="name2" value="" th:field="*{priceAndCombos[1].name}">
							</div>
						</div>
						<div class="col-xs-4">
							<div class="right-side">
								<p>Price</p>
								<input type="text" th:field="*{priceAndCombos[1].price}" onkeyup="stoppedTyping();" onfocusout="emptyPrice(this)" class="price2 formPrice">
								<th:block th:if="${itemDetails.businesses.businessType} != 'marijuana'">
									<button class="c_add_item combo_option_modal" data-toggle="modal" type="button" th:id="*{priceAndCombos[1].id}">c</button>
								</th:block>
							</div>
						</div>
					</div>
	
					<div class="row">
						<div class="col-xs-1 list-numbers">
							<span class="circle">3</span>
						</div>
						<div class="col-xs-7">
							<div class="left-side">
								<p>PriceName</p>
								<input type="hidden" th:field="*{priceAndCombos[2].record}" value="3">
								<input type="hidden" th:field="*{priceAndCombos[2].id}" class="price_and_combos_id_3">
								<input type="hidden" th:field="*{priceAndCombos[2].item}">
								<input type="hidden" th:field="*{priceAndCombos[2].userMenuId}" class="price_combos_user_menu">
								<input type="text" name="number3" class="name3" value="" placeholder="" th:field="*{priceAndCombos[2].name}">
							</div>
						</div>
						<div class="col-xs-4">
							<div class="right-side">
								<p>Price</p>
								<input type="text" th:field="*{priceAndCombos[2].price}" onkeyup="stoppedTyping();" onfocusout="emptyPrice(this)" class="price3 formPrice">
								<th:block th:if="${itemDetails.businesses.businessType} != 'marijuana'">
									<button class="c_add_item combo_option_modal" data-toggle="modal" type="button" th:id="*{priceAndCombos[2].id}">c</button>
								</th:block>
							</div>
						</div>
					</div>
		
					<div class="row">
						<div class="col-xs-1 list-numbers">
							<span class="circle">4</span>
						</div>
						<div class="col-xs-7">
							<div class="left-side">
								<p>PriceName</p>
								<input type="hidden" th:field="*{priceAndCombos[3].record}" value="4">
								<input type="hidden" th:field="*{priceAndCombos[3].id}" class="price_and_combos_id_4">
								<input type="hidden" th:field="*{priceAndCombos[3].item}">
								<input type="hidden" th:field="*{priceAndCombos[3].userMenuId}" class="price_combos_user_menu">
								<input type="text" name="number4" class="name4" value="" placeholder="" th:field="*{priceAndCombos[3].name}">
							</div>
						</div>
						<div class="col-xs-4">
							<div class="right-side">
								<p>Price</p>
								<input type="text" th:field="*{priceAndCombos[3].price}" onkeyup="stoppedTyping();" onfocusout="emptyPrice(this)" class="price4 formPrice"  value="">
								<th:block th:if="${itemDetails.businesses.businessType} != 'marijuana'">
									<button class="c_add_item combo_option_modal" data-toggle="modal" type="button" th:id="*{priceAndCombos[3].id}">c</button>
								</th:block>
							</div>
						</div>
					</div>
	
					<div class="row">
						<div class="col-xs-1 list-numbers">
							<span class="circle">5</span>
						</div>
						<div class="col-xs-7">
							<div class="left-side">
								<p>PriceName</p>
								<input type="hidden" th:field="*{priceAndCombos[4].record}" value="5">
								<input type="hidden" th:field="*{priceAndCombos[4].id}" class="price_and_combos_id_5">
								<input type="hidden" th:field="*{priceAndCombos[4].item}">
								<input type="hidden" th:field="*{priceAndCombos[4].userMenuId}" class="price_combos_user_menu">
								<input type="text" name="number5" class="name5" value="" placeholder="" th:field="*{priceAndCombos[4].name}">
							</div>
						</div>
						<div class="col-xs-4">
							<div class="right-side">
								<p>Price</p>
								<input type="text" th:field="*{priceAndCombos[4].price}" onkeyup="stoppedTyping();" onfocusout="emptyPrice(this)" class="price5 formPrice"  value="">
								<th:block th:if="${itemDetails.businesses.businessType} != 'marijuana'">
									<button class="c_add_item combo_option_modal" data-toggle="modal" type="button" th:id="*{priceAndCombos[4].id}">c</button>
								</th:block>
							</div>
						</div>
					</div>
	
					<div class="row">
						<th:block th:if="${itemDetails.businesses.businessType} != 'marijuana'">
							<div class="col-xs-1 list-numbers">
								<span class="circle">6</span>
							</div>
							<div class="col-xs-7">
								<div class="left-side">
									<p>PriceName</p>
									<input type="hidden" th:field="*{priceAndCombos[5].record}" value="6">
									<input type="hidden" th:field="*{priceAndCombos[5].id}" class="price_and_combos_id_6">
									<input type="hidden" th:field="*{priceAndCombos[5].item}">
									<input type="hidden" th:field="*{priceAndCombos[5].userMenuId}" class="price_combos_user_menu">
									<input type="text" th:field="*{priceAndCombos[5].name}" class="name6" placeholder="">
								</div>
							</div>
							<div class="col-xs-4">
								<div class="right-side">
									<p>Price</p>
									<input type="text" th:field="*{priceAndCombos[5].price}" onkeyup="stoppedTyping();" onfocusout="emptyPrice(this)" class="price6 formPrice">
									<button class="c_add_item combo_option_modal" data-toggle="modal" type="button" th:id="*{priceAndCombos[5].id}">c</button>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</div>

		<div class="row btn-row">
			<button class="btn image_picture" data-toggle="modal" type="button" data-id=false>
				<i class="fa fa-photo (alias)"></i> Photo
			</button>
			<th:block th:if="${itemDetails.businesses.businessType} != 'marijuana'">
				<button class="btn item_ingredient_option" data-toggle="modal" type="button">
					<i class="fa fa-cutlery"></i> Ingredient
				</button>
			</th:block>
			<button class="btn item_avalibility" data-toggle="modal" type="button">
				<i class="fa fa-clock-o"></i> Availability
			</button>
		</div>

		<div class="row footer-row">
			<div class="check_box disabled hide_item ">
				<input type="checkbox" data-id="true" name="itemModel.hideItem" th:checked="${itemDetails.itemModel.hideItem}">
				<label></label>
			</div>
			<p>Hidden</p>
			<button type="button" class="delete-btn" onclick="deleteSelectedItem(this);">Delete</button>
			<button type="submit" class="btn save-btn save_item_button" onclick="removeNewLinesOnPaste()">Save</button>
			<button class="btn clear-btn" onclick="clear_item_btn()" type="button">Clear</button>

			<input type="hidden" id="itemModalShowId" th:field="*{itemModel.id}" class="selected_item_id">
			<input type="hidden" th:field="*{itemModel.ingridientItem}">
			<input type="hidden" name="item_image" class="item_image">
		</div>
	</form>
</th:block>