<th:block th:fragment="tab1(digitalMenu, screenNumber)">
	 <form role="form" id="tabForm" th:object="${digitalMenu}">
		<input type="hidden" name="id" th:value="*{id}" class="digitalMenuId">
		<input type="hidden" th:value="${screenNumber}" name="screenNumber" class="screennumber">
		<input type="hidden" th:value="${digitalMenu.linkedWithMenu != null ? digitalMenu.linkedWithMenu.id : ''}" class="linkedDigitalMenu">
		<div th:with="tempDigitalMenu=${digitalMenu.linkedWithMenu != null ? digitalMenu.linkedWithMenu : digitalMenu}">
		<div class="row">
			<div class="select-menu-row">
				<select class="form-control" name="menuType">
					<option value="">Menu Type</option>
					<th:block th:each="menu : ${T (com.phonemyfood.db.MenuType).values()}">
						<option th:value="${menu}" th:text="${menu}" th:selected="${tempDigitalMenu.menuType==menu}"></option>
					</th:block>
				</select>
			</div>
			<div class="select-menu-row">
				<select class="form-control" name="menuDesign">
					<option value="">Menu Design</option>
					<th:block th:each="design : ${T (com.phonemyfood.db.MenuDesign).values()}">
						<option th:value="${design}" th:text="${design}" th:selected="${tempDigitalMenu.menuDesign==design}"></option>
					</th:block>
				</select>
			</div>
			<div class="select-menu-row">
				<select id="basic" class="selectpicker form-control digitalmenu_menus" name="userMenu" multiple data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true">
					<th:block th:each="menuList : ${userMenus}">
						<option th:id="${menuList.id}" th:value="${menuList.id}" th:text="${menuList.menuName}"></option>
					</th:block>
				</select>
				<select class="form-control selected-menus hidden">
					<th:block th:each="menu : ${tempDigitalMenu.userMenus}">
						<option th:id="${menu.id}" th:value="${menu.id}" th:text="${menu.menuName}"></option>
					</th:block>
				</select>
			</div>
			<div class="orientation-row">
 				Orientation:
				<label class="orientations">
			        <input type="radio" name="orientation" th:value="${T (com.phonemyfood.db.Orientation).values()[0]}" th:checked="${tempDigitalMenu.orientation==T (com.phonemyfood.db.Orientation).values()[0]}">
			        <span>V</span>
			    </label>
			    <label class="orientations">
			        <input type="radio" name="orientation" th:value="${T (com.phonemyfood.db.Orientation).values()[1]}" th:checked="${tempDigitalMenu.orientation==T (com.phonemyfood.db.Orientation).values()[1]}">
			        <span>H</span>
			    </label>
			</div>
		</div>
		<div class="row layout-row">
			<div class="col-sm-1">Layout: </div>
			<div class="col-sm-11">
				<label class="layouts"><input type="radio" name="layout" value="1" th:checked="${digitalMenu.layout==1}"><span>1</span></label>
				<label class="layouts"><input type="radio" name="layout" value="2" th:checked="${digitalMenu.layout==2}"><span>2</span></label>
				<label class="layouts"><input type="radio" name="layout" value="3" th:checked="${digitalMenu.layout==3}"><span>3</span></label>
				<label class="layouts"><input type="radio" name="layout" value="4" th:checked="${digitalMenu.layout==4}"><span>4</span></label>
				<label class="layouts"><input type="radio" name="layout" value="5" th:checked="${digitalMenu.layout==5}"><span>5</span></label>
				<label class="layouts"><input type="radio" name="layout" value="6" th:checked="${digitalMenu.layout==6}"><span>6</span></label>
				<label class="layouts"><input type="radio" name="layout" value="7" th:checked="${digitalMenu.layout==7}"><span>7</span></label>
				<label class="layouts"><input type="radio" name="layout" value="8" th:checked="${digitalMenu.layout==8}"><span>8</span></label>
				<label class="layouts"><input type="radio" name="layout" value="9" th:checked="${digitalMenu.layout==9}"><span>9</span></label>
				<label class="layouts"><input type="radio" name="layout" value="10" th:checked="${digitalMenu.layout==10}"><span>10</span></label>
				<label class="layouts"><input type="radio" name="layout" value="11" th:checked="${digitalMenu.layout==11}"><span>11</span></label>
				<label class="layouts"><input type="radio" name="layout" value="12" th:checked="${digitalMenu.layout==12}"><span>12</span></label>
				<label class="layouts"><input type="radio" name="layout" value="13" th:checked="${digitalMenu.layout==13}"><span>13</span></label>
				<label class="layouts"><input type="radio" name="layout" value="14" th:checked="${digitalMenu.layout==14}"><span>14</span></label>
				<label class="layouts"><input type="radio" name="layout" value="15" th:checked="${digitalMenu.layout==15}"><span>15</span></label>
				<label class="layouts"><input type="radio" name="layout" value="16" th:checked="${digitalMenu.layout==16}"><span>16</span></label>
				<label class="layouts"><input type="radio" name="layout" value="17" th:checked="${digitalMenu.layout==17}"><span>17</span></label>
				<label class="layouts"><input type="radio" name="layout" value="18" th:checked="${digitalMenu.layout==18}"><span>18</span></label>
				<label class="layouts"><input type="radio" name="layout" value="19" th:checked="${digitalMenu.layout==19}"><span>19</span></label>
			</div>
		</div>
		
		<div class="row color-picker-row">
			<div class="col-sm-1">
				<div class="subhead">Color Picker</div>
			</div>
			<div class="col-sm-4 rounded">
				<label class="clr-pckr red"><input type="radio" name="colorPicker" th:value="${T (com.phonemyfood.db.ColorPicker).values()[0]}" th:checked="${tempDigitalMenu.colorPicker==T (com.phonemyfood.db.ColorPicker).values()[0]}"><span>RED</span></label>
				<label class="clr-pckr green"><input type="radio" name="colorPicker" th:value="${T (com.phonemyfood.db.ColorPicker).values()[1]}" th:checked="${tempDigitalMenu.colorPicker==T (com.phonemyfood.db.ColorPicker).values()[1]}"><span>GREEN</span></label>
				<label class="clr-pckr blue"><input type="radio" name="colorPicker" th:value="${T (com.phonemyfood.db.ColorPicker).values()[2]}" th:checked="${tempDigitalMenu.colorPicker==T (com.phonemyfood.db.ColorPicker).values()[2]}"><span>BLUE</span></label>
			</div>
			<div class="col-sm-2" >
				<button class="button text-center view-btn" type="button"><i class="fa fa-eye"></i> view</button>
			</div>
		</div>
		
		<div class="table-responsive">  
			<table class="table table-striped table-bordered table-fonts">
				<thead>
					<tr style="background-color: #1F779B;color: #FFFFFF;border: 0px !important;">
						<th style="width: 220px">
						Page Duration : &nbsp;<input class="digitaltableinput" type="text" th:value="${tempDigitalMenu.pageDuration}" name="pageDuration" style="width: 50px;height: 25px;text-align:center;padding: 0px 0px 1px 0px;border-radius: 5px">&nbsp; Secs</th>
						<th style="width: 220px">
						Photo Duration : &nbsp;<input class="digitaltableinput" type="text" th:value="${tempDigitalMenu.photoDuration}" name="photoDuration" style="width: 50px;height: 25px;text-align:center;padding: 0px 0px 1px 0px;border-radius: 5px">&nbsp; Secs</th>
						<th style="width: 200px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr style="border: 0px">
						<td colspan="3" style="border: 0px;">
			                <span class="circle">1</span>&nbsp;&nbsp;Promo Message : &nbsp;
							<input type="text" style="height:25px;width: 500px;border-radius: 5px;padding-top: 3px;margin-top: 2px; " th:value="${tempDigitalMenu.promomsg1}" name="promomsg1">
						</td>
					</tr>
					<tr>
						<td colspan="3" style="border: 0px;">
			               	<span class="circle">2</span>&nbsp;&nbsp;Promo Message : &nbsp;
							<input type="text" style="height:25px;width: 500px;border-radius: 5px;padding-top: 3px;margin-top: 2px;" th:value="${tempDigitalMenu.promomsg2}" name="promomsg2">
						</td>
					</tr>
					<tr>
						<td colspan="3" style="border: 0px;">
							<span class="circle">3</span> &nbsp;&nbsp;Promo Message : &nbsp;
							<input type="text" style="height:25px;width: 500px;border-radius: 5px;padding-top: 3px;margin-top: 3px;" th:value="${tempDigitalMenu.promomsg3}" name="promomsg3">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-sm-9" style="font-size: 17px;"> Edit Photos in Templet : 
				<button class="button text-center" data-toggle="modal" type="button" onclick="openDigitalMenuPhotoModal()" style="width: 120px;margin-left: 5px"><i class="fa fa-file-image-o"></i>Photo</button>
				<input type="hidden" class="digitalmenuItemId" name="itemId">
			</div>
			<div class="col-sm-2" style="float: right; width: 170px; " >
				<button class="button" data-toggle="modal" type="button" style="width: 155px;"><i class="fa fa-info-circle"></i>assign devices</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<button class="button save-btn" type="button" onclick="saveDigitalmenu(this)" name="save-button">Save</button>
			</div>
			<div class="col-sm-6">
				<button class="button delete-btn" onclick="deleteDigitalmenuModal()" type="button" name="delete-button">Delete</button>
			</div>
		</div>
		</div>
	</form>
	<!-- <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" th:id="${'digitalMenuImage'+screenNumber}"> -->
</th:block>