<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="sidebar">
	<div>

		<th:block th:if="${session.USER_SESSION == null}">
			<!-- <ul class="addeditclient">
				<li class="make_active_add_edit active_add_edit" style="width: 180px; margin-left: 10px; margin-top: 10px;"
					sec:authorize="hasRole('ROLE_ADMIN')"><a style="width: 180px; padding-left: 10px;"
					th:href="@{/admin/addClient}">ADD - EDIT CLIENT</a></li>
			</ul>
			<ul class="addeditsales">
				<li class="make_active_add_edit sales_people_active"
					sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/addSalesperson}">ADD - EDIT SALES</a></li>
			</ul>
			<ul class="addeditadmin">
				<li class="make_active_add_edit sub_admin_active"
					sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/addClient}">ADD - EDIT ADMINS</a></li>
			</ul> -->
			<ul>
				<li
					sec:authorize="!hasRole('ROLE_ADMIN') && !hasRole('SALES_PERSON')" class=""><a 
					th:href="@{/user/category}">CATEGORY</a></li>
				<li
					sec:authorize="!hasRole('ROLE_ADMIN') && !hasRole('SALES_PERSON')" class=""><a
					th:href="@{/user/editMenu}">edit menu</a></li>
				<li
					sec:authorize="!hasRole('ROLE_ADMIN') && !hasRole('SALES_PERSON')" class=""><a
					th:href="@{/user/ingredients}">ingredients</a></li>
				<li
					sec:authorize="!hasRole('ROLE_ADMIN') && !hasRole('SALES_PERSON')" class=""><a
					th:href="@{/user/item}">add item</a></li>
				<li
					sec:authorize="!hasRole('ROLE_ADMIN') && !hasRole('SALES_PERSON')" class=""><a
					th:href="@{/user/delivery}">delivery</a></li>
				<li
					sec:authorize="!hasRole('ROLE_ADMIN') && !hasRole('SALES_PERSON')" class=""><a
					th:href="@{/user/specials}">specials</a></li>
				<li
					sec:authorize="!hasRole('ROLE_ADMIN') && !hasRole('SALES_PERSON')" class=""><a
					th:href="@{/user/rewards}">reward</a></li>
				<li
					sec:authorize="!hasRole('ROLE_ADMIN') && !hasRole('SALES_PERSON')" class=""><a
					th:href="@{/user/abouts}">about</a></li>
				<li
					sec:authorize="!hasRole('ROLE_ADMIN') && !hasRole('SALES_PERSON')" class=""><a
					th:href="@{/user/digitalMenu/digitalMenuPage}">digital menu</a></li>
				<li
					sec:authorize="!hasRole('ROLE_ADMIN') && !hasRole('SALES_PERSON')" class=""><a
					th:href="@{/user/clientUpload}">Client Upload</a></li>
			</ul>
		</th:block>
		<th:block th:unless="${session.USER_SESSION == null}">
			<ul>
				<li
					sec:authorize="hasRole('ROLE_ADMIN') && !hasRole('SALES_PERSON')" class=""><a
					th:href="@{/user/category}">CATEGORY</a></li>
				<li
					sec:authorize="hasRole('ROLE_ADMIN') && !hasRole('SALES_PERSON')" class=""><a
					th:href="@{/user/editMenu}">edit menu</a></li>
				<li
					sec:authorize="hasRole('ROLE_ADMIN') && !hasRole('SALES_PERSON')" class=""><a
					th:href="@{/user/ingredients}">ingredients</a></li>
				<li
					sec:authorize="hasRole('ROLE_ADMIN') && !hasRole('SALES_PERSON')" class=""><a
					th:href="@{/user/item}">add item</a></li>
				<li
					sec:authorize="hasRole('ROLE_ADMIN') && !hasRole('SALES_PERSON')" class=""><a
					th:href="@{/user/delivery}">delivery</a></li>
				<li
					sec:authorize="hasRole('ROLE_ADMIN') && !hasRole('SALES_PERSON')" class=""><a
					th:href="@{/user/specials}">specials</a></li>
				<li
					sec:authorize="hasRole('ROLE_ADMIN') && !hasRole('SALES_PERSON')" class=""><a
					th:href="@{/user/rewards}">reward</a></li>
				<li
					sec:authorize="hasRole('ROLE_ADMIN') && !hasRole('SALES_PERSON')" class=""><a
					th:href="@{/user/abouts}">about</a></li>
				<li
					sec:authorize="hasRole('ROLE_ADMIN') && !hasRole('SALES_PERSON')" class=""><a
					th:href="@{/user/digitalMenu/digitalMenuPage}">digital menu</a></li>
				<li
					sec:authorize="hasRole('ROLE_ADMIN') && !hasRole('SALES_PERSON')" class=""><a
					th:href="@{/user/clientUpload}">Client Upload</a></li>
			</ul>
		</th:block>
	</div>
</body>
</html>