<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="header">
	<header>
		<!-- top logo section start -->
		<div class="top-logo-bar top_header_image">
			<img th:src="@{/images/header_image.png}" alt="" class="header_image">
		</div>
		<div class="container">
			<p class="welcome">
				Welcome!!<strong sec:authorize="isAuthenticated()">
							<span th:if="${session.BUSINESS_NAME_SESSION} == null" sec:authentication="principal.username"></span>
							<span th:if="${session.BUSINESS_NAME_SESSION} != null" th:text="${session.BUSINESS_NAME_SESSION}"></span>
						 </strong>
			</p>
		</div>
		<!-- Menubar start -->
		<div class="menubar top-bar">

			<div class="menubar" style="min-width: 800px;width: 100%">
				<div style="float: left;">
					<ul class="left">
						<!-- <th:block sec:authorize="hasRole('ROLE_USER')">
							<th:block th:each="MenuList,iterationStatus  : ${session.MenuList}">
								<li class ="edit_menu"><a th:href="@{'/user/menu/' + ${MenuList.id}+ '/'+ ${MenuList.menuName}}"><span th:text="${MenuList.menuName}"></span></a></li>
							</th:block>
						</th:block> -->
						<th:block th:if="${session.MenuList != null}">
							<th:block th:each="MenuList,iterationStatus  : ${session.MenuList}">
								<li class ="edit_menu"><a th:href="@{'/user/menu/' + ${MenuList.id} + '/'+ ${MenuList.menuName}}"><span th:text="${MenuList.menuName}"></span></a></li>
							</th:block>
						</th:block>
						<!-- <th:block th:unless="${session.MenuList != null && session.USER_SESSION != null}">
							<th:block th:each="MenuList,iterationStatus  : ${session.MenuList}">
								<li class ="edit_menu"><a th:href="@{'/user/menu/' + ${MenuList.id} + '/'+ ${MenuList.menuName}}"><span th:text="${MenuList.menuName}"></span></a></li>
							</th:block>
						</th:block> -->
						<!-- <% if user_signed_in? %> 
					        <% if (!@main_nav_menu.blank?  || current_user.user_menu.present?) && (!current_user.has_role?('sales_person') && !current_user.has_role?('admin') && !current_user.has_role?('super_admin') )%>
					          <% @main_nav_menu = current_user.user_menu.last(3) %>
					          <% @main_nav_menu.each do |menu| %>
					            <li class = "edit_menu"><%= link_to menu.menu_name, edit_menus_path(:menu_id => menu.id), remote: true %></li>
					          <% end %>
					        <% end %>
					      <% end %> -->
					</ul>
				</div>
				<div style="float: right;">
					<ul class="right text-right">
						<th:block
							sec:authorize="isAuthenticated() && !hasRole('ROLE_ADMIN') && !hasRole('SALES_PERSON')">
							<li>
								<p class="add_menu">
									<a style="color: #87ed40; text-decoration: none;"
										th:href="@{/user/addMenu}"><span>Add Menu</span></a>
								</p>
							</li>
						</th:block>
						<th:block th:if="${session.USER_SESSION != null}">
							<li th:if="${session.AddMenuFlag == true}">
								<p class="add_menu">
									<a style="color: #87ed40; text-decoration: none;"
										th:href="@{/user/addMenu}"><span>Add Menu</span></a>
								</p>
							</li>
							<li class = "back_to_admin">
								<p><a style="color: #87ed40; text-decoration: none;"
										th:href="@{/admin/backToAdmin}"><span>Back To Admin</span></a></p>
							</li>
						</th:block>
						<li><th:block sec:authorize="!isAuthenticated()">
								<p class="login-show">
									<a style="color: #87ed40; text-decoration: none;"
										th:href="@{/user/}"><i class="fa fa-lock" aria-hidden="true"></i><span>login</span></a>
								</p>
							</th:block> <th:block sec:authorize="isAuthenticated()">
								<p class="login-show">
									<a style="color: #87ed40; text-decoration: none;"
										th:href="@{/logout}"><i class="fa fa-sign-out" aria-hidden="true"></i><span>Logout</span></a>
								</p>
							</th:block></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<!-- TOP BAR   -->
</body>
</html>