html,body,div,span,applet,object,iframe,h1,h2,
h3,h4,h5,h6,p,blockquote,a,abbr,acronym,address,
big,cite,del,dfn,em,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,
dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
embed,figure,figcaption,footer,header,hgroup,input,menu,
nav,output,ruby,section,summary,time,mark,audio,video {
border: 0;
margin: 0;
padding: 0;
vertical-align: baseline;
}
* { -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box; /* Firefox, other Gecko */
box-sizing: border-box; }

body{
  padding: 0;
  margin: 0;
  font-family: 'Calibri';
}

@font-face {
  font-family: 'Calibri';
  src: url('/assets/Calibri.eot');
  src: url('/assets/Calibri.eot?#iefix') format('embedded-opentype'),
       url('/assets/Calibri.woff2') format('woff2'),
       url('/assets/Calibri.woff') format('woff'),
       url('/assets/Calibri.svg#schoolbellregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Rounded MT Bold';
  src: url('/assets/ArialRoundedMTBold.eot');
  src: url('/assets/ArialRoundedMTBold.eot?#iefix') format('embedded-opentype'),
       url('/assets/ArialRoundedMTBold.woff') format('woff'),
       url('/assets/ArialRoundedMTBold.svg#schoolbellregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.row{
  margin: 0;
}
.pd-none{
  padding: 0;
}
.pd-lft-nn{
  padding-left: 0;
}
.pd-rgt-nn{
  padding-right: 0;
}
.mt10{
  margin-top: 10px;
}
.mt15{
  margin-top: 15px;
}
ul{
  margin: 0;
  padding: 0;
}
.wrapper{
  width: 937px;
  margin: 0 auto;
}
header{
  width: 100%;
}
header .top-logo-bar + .container p.welcome{
  position: absolute; 	
  right: 0;
  top: -28px;
  font-size: 18px;
  margin-right: 10px;
  color: #fff;
}
header .top-logo-bar + .container p.welcome strong{
  text-transform: uppercase;
}
header .menubar{
  min-height: 55px;
  background: #000;
  padding: 0 11px;
}
header .menubar ul li{
 display: inline-block;
 list-style: none;
 line-height: 20px;
 margin: 19px 12px 0;
}
header .menubar ul li a{
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
header .menubar ul.left li:first-child{
 margin-left: 0;
}
header .menubar ul.right li:first-child {
  margin-right: 40px;
}
header .menubar ul.right li:first-child a{
  color: #b3f0a9;
}
header .menubar ul.right li:last-child a{
  color: rgb(135, 237, 64);
  font-weight: bold;
}
header .menubar ul.right li:last-child i{
  margin-right: 10px;
}
header .menubar ul.right li:last-child {
  margin-right: 0;
}
.main-contain{
  display: flex;
}

.main-contain .rightbar{
  background: #689d60;
  min-height: 700px;
  width: 747px;
  float: left;
  padding-bottom: 30px;
}
.main-contain .sidebar ul li{
  list-style: none;
  display: block;
  margin-top: 7px;
  margin-left: 18px;
}
// .main-contain .sidebar ul.addeditclient li{
//   margin-left: 15px;
// }
// .main-contain .sidebar ul.addeditclient li a{
//   padding-left: 10px;
// }

.main-contain .aboutbox .about-contents .row:not(:first-child){
  margin-top: 10px;
}

.main-contain .aboutbox .about-contents .address input{
  width: 289px;
  float: left;
}
.main-contain .aboutbox .about-contents .address input:nth-child(2){
  margin: 0 10px;
  width: 193px;
}
.main-contain .aboutbox .about-contents .address input:last-child{
  width: 86px;
}
.main-contain .aboutbox .about-contents .row .input-group-addon i.fa-phone{
  font-size: 30px;
}
.main-contain .aboutbox .about-contents .row .input-group-addon i.fa-envelope-o{
  font-size: 26px;
}
.main-contain .aboutbox .about-contents .row .input-group-addon:first-child{
  padding-left: 1px;
}
.main-contain .aboutbox .about-contents .row .input-group-addon + input {
  padding-left: 44px;
  width: 289px;
}
.main-contain .aboutbox .about-contents .row .input-group-addon + input:last-child {
  margin-left: 10px;
}
.main-contain .aboutbox .about-contents .row button{
  background: #58994f;
  background: linear-gradient(to bottom, #6db46b 0%, #58994f 100%);
  background: -ms-linear-gradient(to bottom, #6db46b 0%, #58994f 100%);
  background: -webkit-linear-gradient(to bottom, #6db46b 0%, #58994f 100%);
  border: 1px solid #41712c;
  border-radius: 3px;
  box-shadow: 0 0 3px 0 rgb(117, 117, 117);
  font-size: 16px;
  color: #000;
  height: 32px;
  padding: 0 10px;
  line-height: 30px;
}
.main-contain .aboutbox .about-contents .row button img {
  float: left;
  margin-right: 5px;
  position: relative;
  top: 3px;
}
.main-contain .aboutbox .about-contents .row button + button{
  margin-left: 7px;
}
.main-contain .aboutbox .about-contents .row button + button i{
  color: #333;
  font-size: 23px;
  line-height: 25px;
  margin-right: 5px;
  float: left;
  margin-top: 1px;
}
.main-contain .aboutbox .about-contents .input-group .form-control:focus{
  z-index: 0;
}
footer{
  min-height: 55px;
  background: #000;
  font-size: 20px;
  color: #fff;
  line-height: 52px;
  padding: 0 23px;
}
footer ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
footer ul li:last-child{
  margin-right: 0;
}
footer ul li a, 
footer ul li a:hover{
  color: #fff;
  text-decoration: none;
}
footer p{
  margin: 0;
}




/* Rewards page css start */

.main-contain .sidebar ul.addedit{
  position: absolute;
  width: 100%;
  bottom: 12px;
}
.main-contain .sidebar ul.addedit li{
  margin: 0;
}
.main-contain .sidebar ul.addedit li a{
  color: #b3f0a9;
  padding-left: 22px;
}
.main-contain .sidebar ul.addedit li a:hover{
  background: none;
  font-weight: normal;
}

.main-contain .reward-contents > .row:nth-child(2) p:last-child{
  margin-left: 0;
  float: right;
}
.main-contain .reward-contents > .row:nth-child(3) p:last-child{
  margin-left: 0;
  float: right;
}
.main-contain .reward-contents > .row:nth-child(4) p:last-child{
  margin-right: 4px;
  float: right;
}
.main-contain .reward-contents > .row:nth-child(5) p:last-child{
  margin-left: 0;
  float: right;
}

.main-contain .reward-contents .closeicon, 
.main-contain .reward-contents .closeicon + p{
  cursor: pointer;
  padding-top: 2px;
}
.main-contain .reward-contents .closeicon + p{
  line-height: 14px;
  padding-top: 5px;
}
/* Specials page css start */
.main-contain .specialsbox .nav-tabs li{
  margin-bottom: -2px;
}
.main-contain .specialsbox .nav-tabs li:not(:first-child){
  margin-left: 4px;
}
.main-contain .specialsbox .nav-tabs li a{
  font-size: 22px;
  background: #393939;
  text-transform: uppercase;
  color: #cef8b1;
  border: 2px solid #0f3300;
  border-bottom: none;
  padding: 10px 10px;
  border-radius: 10px 10px 0 0;
  line-height: 20px;
  outline: none;
  box-shadow: 1px -3px 5px 0 rgba(0, 0, 0, 0.2), -4px -2px 5px 0 rgba(0, 0, 0, 0.2);
}
.main-contain .specialsbox .nav-tabs li.active a{
  background: #ecebeb;
  color: #16320a;
}
.main-contain .specialsbox .tab-content div > form > .row:not(:first-child){
  margin-top: 10px;
}
.main-contain .specialsbox .tab-content .title input{
  font-weight: bold;
  text-transform: uppercase;
  color: #9a9a9a;
}

.main-contain .specialsbox .discount .radio  input[type="radio"]{
  height: 24px;
  margin: 1px 0 0;
  line-height: 14px;
  padding: 0;
  position: relative;
  width: 24px;
  z-index: 2;
  opacity: 0;
  top: 1px;
}
.main-contain .specialsbox .minbuy .datesec input + p{
  margin-left: 0;
  line-height: 20px;
  margin-top: 5px;
}

.main-contain .specialsbox .filter .options{
  width: 100%;
  background: #fff;
  border: #c4c4c4 solid 1px;
  border-top: none;
  padding: 10px;
}
.main-contain .specialsbox .filter .options ul{
  width: 100%;
  float: left;
  cursor: pointer;
  height: 220px;
  overflow-x: hidden;
  overflow-y: auto;
}
/* Login Page css start */

.main-contain .loginbox{
  background: #fff;
  width: 382px;  
}
.main-contain .loginbox .head{
  /*background: #e5e5e5;
  color: #414141;*/
  border: none;
}
.main-contain .loginbox .head a i.fa-close{
  font-size: 28px;
  margin: 4px 0 0;
  color: #fff;
  cursor: pointer;
}
.main-contain .loginbox .login-contents{
  padding: 10px;
}
.main-contain .loginbox .login-contents .row:not(:first-child){
  margin-top: 10px;
}
.main-contain .loginbox input.save-btn{
  width: 85px;
  margin-bottom: 10px;
}


/* Add Menu page css start */

.main-bg{
  background: #ecebeb;
}
.addmenu .selecthrs p{
  font-size: 22px;
  color: #454545;
  text-transform: uppercase;
  margin: 0;
  line-height: 17px;
  position: relative;
  top: -1px;
  text-align: left;
}
.addmenu .selecthrs p i{
  margin-right: 10px;
  position: relative;
  top: 1px;
}
.addmenu .selecthrs a.hour-close{
  color: #333;
}
.main-contain .addmenu-sec{
  border: none;
  margin: 0;
}
.main-contain .addmenu-sec p + input{
  width: 95px;
}
.main-contain .addmenu-sec input + input{
  width: 45px;
}
.main-contain .addmenu-sec > .row input + p{
  margin-left: 10px;
}
.main-contain .addmenu-sec .closeicon + p{
  width: 42px;
  text-transform: uppercase;
  line-height: 12px;
  padding-top: 4px;
}
.main-contain .addmenu-sec .closeicon.disabled{
  background: #c2c2c2;
  color: #c2c2c2;
}
.main-contain .addmenu-sec .closeicon.disabled + p + p{
  margin-left: 10px;
  text-transform: uppercase;
  margin-top: 4px;
}


.main-contain .addmenu-sec .item_closeicon + p{
  width: 42px;
  text-transform: uppercase;
  line-height: 12px;
  padding-top: 4px;
}
.main-contain .addmenu-sec .item_closeicon.disabled{
  background: #c2c2c2;
  color: #c2c2c2;
}
.main-contain .addmenu-sec .item_closeicon.disabled + p + p{
  margin-left: 10px;
  text-transform: uppercase;
  margin-top: 4px;
}

.main-contain .addmenu-sec .edit_client_closeicon + p{
  width: 42px;
  text-transform: uppercase;
  line-height: 12px;
  padding-top: 4px;
}
.main-contain .addmenu-sec .edit_client_closeicon.disabled + p + p{
  margin-left: 10px;
  text-transform: uppercase;
  margin-top: 4px;
}
.main-contain .addmenu-sec .about_closeicon + p{
  width: 42px;
  text-transform: uppercase;
  line-height: 12px;
  padding-top: 2px;
}
.main-contain .addmenu-sec .about_closeicon.disabled + p + p{
  margin-left: 10px;
  text-transform: uppercase;
  margin-top: 4px;
}
.main-contain .addmenu-sec .edit_menu_closeicon + p{
  width: 42px;
  text-transform: uppercase;
  line-height: 12px;
  padding-top: 4px;
}
.main-contain .addmenu-sec .edit_menu_closeicon.disabled + p + p{
  margin-left: 10px;
  text-transform: uppercase;
  margin-top: 4px;
}


.main-contain .addmenu-sec .menu_closeicon + p{
  width: 42px;
  text-transform: uppercase;
  line-height: 12px;
  padding-top: 4px;
}
.main-contain .addmenu-sec .menu_closeicon.disabled + p + p{
  margin-left: 10px;
  text-transform: uppercase;
  margin-top: 4px;
}
.main-contain .loginbox .head  span {
  position: relative;
  top: 3px;
}

.main-contain .save-menuBtn {
  margin: 10px 53px 10px 0;
  float: right;
  margin-right: 0px;
}

.edit_menu_close{
  margin-left: 10px !important;
}

.start_date {
 padding-top: 4px !important;
}

/* Ingredients page css start */

/* Ingredients page css start */
.main-contain .ingredients-sec .add input{
  float: left;
  width: 402px;
  color: #414141;
  font-weight: bold;
  line-height: 14px;
  padding-top: 4px;
}
.main-contain .ingredients-sec .add input:not(:first-child){
  text-transform: uppercase;
  width: 64px;
}
.main-contain .ingredients-sec .add p{
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #7d7c7c;
  float: left;
  display: inline-block;
  line-height: 34px;
}
.main-contain .ingredients-sec .add input.ingredient_name + p{
  line-height: 14px;
  margin-top: 14px ;
}
.main-contain .ingredients-sec .add button.plus{
  border-radius: 0;
  float: right;
  background: #bebebe;
  border: 1px solid #b5b5b5;
  color: #7d7c7c;
  font-size: 24px;
  width: 37px;
  height: 38px;
  box-shadow: none;
  text-align: center;
  padding: 1px 9px 0;
  margin-left: 10px;
  line-height: 12px;
}

.main-contain .ingredients-sec .cetogry ul{
  margin: 0;
  padding: 0;
  width: 100%;
  margin-left: 0px;
}
.main-contain .ingredients-sec .cetogry ul li{
  display: block;
  list-style: none;
  font-size: 20px;
  color: #7d7c7c;
  text-transform: capitalize;
  width: 100%;
  clear: both;
  margin: 0;
  height: 30px;
  padding: 3px 10px;
  cursor: pointer;
}
.main-contain .ingredients-sec .cetogry ul li.selected-ingrediends{
  background: #cdf1c7;
  color: #333;
  font-weight: bold;
  padding-left: 20px;
  position: relative;
}
.main-contain .ingredients-sec .cetogry ul li.selected-ingrediends span{
  margin: 2px 0;
  line-height: 18px;
}
.main-contain .ingredients-sec .cetogry ul li span + a.gray{
  color: #888;
}
.main-contain .ingredients-sec .cetogry ul li span{
  float: left;
}
.main-contain .ingredients-sec .cetogry ul li span:last-child{
  float: right;
  clear: right;
}

.main-contain .ingredients-sec ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #888;
  opacity: 1;
}
.main-contain .ingredients-sec ::-moz-placeholder { /* Firefox 19+ */
  color: #888;
  opacity: 1;
}
.delete_ingredient{
  margin-left: 2px;
  margin-top: 20px;
  font-weight: bold;
  width: 192px;
  height: 36px;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  background: #7d7878;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 12px;
  box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
  border: 1px solid #5a5a5a;
  outline: none;
}
.delete_ingredient:hover, .delete_ingredient:focus {
  color: #fff;
}
.delete_ingredient:focus {
  outline: none;
}
.ingrediends-button{
    margin-bottom: 20px;
    margin-top: 20px;
    float: right;
}


/* Delivery page css start */

.delivery-contents {
  margin: 24px 0 10px;
  border: 1px solid #b7b7b7;
}
.delivery-contents .row:nth-child(odd) {
  background: #fff;
}
.delivery-contents .row:nth-child(even) {
  background: #e1dfdf;
}
.delivery-contents .left-side {
  float: left;
  margin: 10px 0;
}
.delivery-contents .right-side {
  float: right;
  margin: 10px 10px 10px 0;
}
.delivery-contents .left-side span {
  font-size: 28px;
  font-family: 'Arial Rounded MT Bold';
  font-weight: bold;
  width: 27px;
  height: 27px;
  text-align: center;
  border-radius: 15px;
  color: #fff;
  background: #7d7c7c;
  float: left;
  margin-left: 10px;
  line-height: 27px;
  margin-top: 3px;
}
.delivery-contents .left-side input[type="text"], .delivery-contents .right-side input[type="text"] {
  width: 35px;
  text-align: center;
  height: 34px;
  float: left;
  margin-left: 10px;
  padding: 4px 6px 0;
  font-size: 20px;
  font-family: "Calibri";
  color: #414141;
  text-transform: uppercase;
  line-height: 20px;
}
.delivery-contents .right-side input[type="text"] {
  width: 50px;
  margin-left: 10px;
}
.delivery-contents .left-side p, .delivery-contents .right-side p {
  float: left;
  margin-left: 10px;
  font-size: 20px;
  font-family: "Calibri";
  color: #414141;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 10px;
}
.ui-datepicker .ui-widget-header .ui-icon {
  width: 19px;
  height: 19px;
}
.ui-datepicker .ui-widget-header .ui-datepicker-prev .ui-icon {
  background-image: url("/assets/right-icon.png");
  background-position: 0 0;
  background-size: 100%;
  cursor: pointer;
}
.ui-datepicker .ui-widget-header .ui-datepicker-prev .ui-icon:hover {
  background-image: url("/assets/Image_from_right.png");
}
.ui-datepicker .ui-widget-header .ui-datepicker-next .ui-icon {
  background-image: url("/assets/left-icon.png");
  background-position: 0 0;
  background-size: 100%;
  cursor: pointer;
}
.ui-datepicker .ui-widget-header .ui-datepicker-next .ui-icon:hover {
  background-image: url("/assets/Image_from_left.png");
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: none !important;
  background: none !important;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 2px !important;
  top: 2px !important;
}
.ui-datepicker .ui-datepicker-next {
  right: 5px !important;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 5px !important;
  top: 2px !important;
}
.ui-widget-header {
    border: 1px solid #16320a;
    background: #16320a;
    color: #fff;
}
.ui-widget.ui-widget-content {
  border: 1px solid #16320a;
    background: #d4feb7;
}
.ui-datepicker td span, .ui-datepicker td a {
  text-align: center;
}
.delivery_text{
  font-size: 20px !important;
}

/* Edit Menu Order page css start */

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background:#d2d0d0;
  border: 1px solid #b5b5b5;
}
::-webkit-scrollbar-thumb {
  background: #979595; 
}
::-webkit-scrollbar-button:end:increment  {
  background: url("/assets/arrow_down.png") no-repeat 100%/100%;
}
::-webkit-scrollbar-button:start:decrement{
  background: url("/assets/arrow_up.png") no-repeat 100%/100%;
}

.editMenu .nav-tabs > li > a, .editMenu .nav-tabs > li > a:hover {
  display: inline-block;
  border: 2px solid #16320a;
  border-bottom: none;
  padding: 10px;
  text-decoration: none;
  font-size: 22px;
  font-family: "Calibri";
  text-transform: uppercase;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #393939;
  color: #cef8b1;
  line-height: 16px;
  margin-right: 3px;
  box-shadow: 1px -3px 5px 0 rgba(0, 0, 0, 0.2), -4px -2px 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}
.editMenu .nav-tabs > li.active > a::after {
  position: absolute;
  content: '';
  background: #ecebeb;
  height: 5px;
  width: 99.90%;
  left: 0;
  bottom: -4px;
}
.head-row {
  margin-bottom: 10px;
}
.head-row p {
  text-transform: uppercase;
}
.select-row select {
  background: white url(/assets/arrow.png) no-repeat 101% 0;
  width: 289px;
  height: 33px;
  padding-left: 10px;
  font-size: 20px;
  font-family: "Calibri";
  color: #16320a;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 1px solid #b5b5b5;
}
.select-row select:nth-child(2) {
  float: right;
}

#menu-order .head-row p:first-child {
  padding-bottom: 10px;
}
#menu-order .head-row p .fa {
  margin-right: 10px;
  font-size: 15px;
}
.menuorderlist ul li {
  padding-left: 40px;
  background: url(/assets/up-down.png) no-repeat 10px 50%;
  color: #393939;
}
.span_add_item{
  font-size: 20px !important;
}


/* show loader */
.show_loader{
  position: absolute;
  background: url('/assets/loading.gif') no-repeat 0 0 rgba(0,0,0,0.8);
  opacity: 0.9;
  width: 129%;
  height: 100%;
  z-index: 6;
  top: 0px;
  left: 0;
};

.main-contain .aboutbox .categry-sec .select-row {
  float: left;
  display: inline-block;
  width: 289px;
}
.main-contain .aboutbox .categry-sec .select-row select {
  height: 38px;
  background-size: auto 100%;
}
.main-contain .aboutbox .categry-sec .select-row + .add {
  float: left;
  display: inline-block;
  width: 289px;
  margin-left: 10px;
  margin-top: 0;
  clear: right;
}
.main-contain .aboutbox .categry-sec .select-row + .add input {
  width: 242px;
}
.main-contain .aboutbox .categry-sec .cetogry ul{
  padding: 0px;
  line-height: 14px;
  width: 586px;
}
.check_box input {
  opacity: 0;
  position: absolute;
  height: 25px;
  width: 25px;
  margin: 0;
  cursor: pointer;  
}
.check_box label {
  width: 25px;
  height: 25px;
  background: #cef8b1;
  border: 1px solid #868884;
  -webkit-box-shadow: -2px 2px 2px 0px rgba(92,92,92,1);
  -moz-box-shadow: -2px 2px 2px 0px rgba(92,92,92,1);
  box-shadow: -2px 2px 2px 0px rgba(92,92,92,1);
  cursor: pointer;
  margin-bottom: 0;
}
.main-contain .addmenu-sec .footer-row .edit_menudeletebtn{
  margin-top: 10px;
}
.category-button{
  margin-top: 20px;
  float: right;
}

/* Add Item page css start */

.plane-img {
  width: 23px;
}
.main-contain .about-contents .subhead {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Calibri";
  color: #414141;
  margin: 0;
  line-height: 20px;
}
.main-contain .aboutbox .about-contents .add-item-contents .row:not(:first-child) {
  margin-top: 0;
}
.add-item-contents .left-side p, .add-item-contents .right-side p {
  margin-left: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.add-item-contents .left-side input[type="text"],
.add-item-contents .right-side input[type="text"] {
  width: 62px;  
}
.add-item-contents .left-side span {
  margin-top: 4px;
}
.main-contain .aboutbox .about-contents .add-item-contents .right-side > button {
  width: 26px;
  height: 27px;
  float: left;
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Calibri";
  color: #fff;
  background: #7d7c7c;
  text-align: left;
  border: 1px solid #7d7c7c;
  -webkit-box-shadow: -2px 2px 2px 0 #666666;
  -moz-box-shadow: -2px 2px 2px 0 #666666;
  box-shadow: -2px 2px 2px 0 #666666;
  text-transform: uppercase;
  margin-top: 3px;
  padding: 0 5px;
  line-height: 0;
  outline: none;
}

.main-contain .aboutbox .about-contents .add-item-contents .right-side > button.active {
  background: #58994f;
  border-color: #58994f;
}
.blank-check {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  display: inline-block;
  background: #cbcbcb;
  border: #878787 solid 1px;
  line-height: 20px;
  position: relative;
  float: left;
  -webkit-box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.75);
  box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.75);
}

.footer-row p {
  float: left;
  font-size: 20px;
  font-family: "Calibri";
  color: #7c7b7b;
  text-transform: uppercase;
  margin-left: 10px;
}
.main-contain .aboutbox#add-item .btn-row {
  margin: 0;
}
.main-contain .aboutbox#add-item .btn-row button{
  height: 32px;
}
.main-contain .aboutbox#add-item .footer-row{
  padding-top: 10px;
}
/* Select Photo page css start */

.photo-section .head-row p {
  margin: 0;
  font-size: 20px;
  color: #5a5a5a;
  line-height: 15px;
}
.main-contain .aboutbox .about-contents.photo-section {
  padding: 0 0 10px;
}
.photo-section .tab-content {
  padding: 10px 10px 0;
  margin: 0 10px;
}

/* Upload Photo page css start */

.main-contain .aboutbox.upload-section {
  width: 388px;
}
.main-contain .aboutbox.upload-section .head i.fa-close {
  color: #fff;
  margin-right: 0;
}
.user_edit_menu{
  margin-left: 4px;
}
.menu_checkbox{
  margin-top: -48px !important;
  margin-left: 10px !important;
}
.main-contain .client-right .add-item-contents .left-side p, .main-contain .client-right .add-item-contents .right-side p{
  margin-top: 8px;
  margin-left: 10px;
  line-height: 20px;
}
/* Add Edit Box css start */

.main-contain .addeditbox .client-right select{
  font-weight: bold;
  height: 38px;
  background-size: auto 38px;
}
.main-contain .addeditbox .client-right .address input {
  float: left;
  width: 153px;
}
.main-contain .addeditbox .client-right .address input:last-child {
  width: 86px;
}
.main-contain .addeditbox .head-row{
  margin: 0;
}
.main-contain .addeditbox .head-row p i{
  margin-right: 10px;
}
.main-contain .combooptions input{
  text-transform: uppercase;
}
.c_add_item{
  padding-left: 4px !important;
}

.main-contain #add-item .delivery-contents .left-side input, 
.main-contain #add-item .delivery-contents .right-side input{
  padding-top: 1px;
  line-height: 20px;
  color: #414141
}
.main-contain .addmenu-sec .user_edit_menu{
  margin-left: 0;
}

.main-contain .addmenu-sec > .row p.arrow-right {
  margin: 2px 0 0 10px;
  padding-top: 0;
}
.check_box_checked{
  background-image: url('/images/ok1.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
  background: #cef8b1;
  border: 1px solid #868884;
  -webkit-box-shadow: -2px 2px 2px 0px rgba(92,92,92,1);
  -moz-box-shadow: -2px 2px 2px 0px rgba(92,92,92,1);
  box-shadow: -2px 2px 2px 0px rgba(92,92,92,1);
  cursor: pointer;
  margin-bottom: 0;
}
.main-contain .aboutbox.upload-section .category_button.save-btn, 
.main-contain .category-message .category-message-sec + button.save-btn{
  background: #d04f3a none repeat scroll 0 0;
  border: 1px solid #972f1e;
  border-radius: 6px;
  box-shadow: -2px 2px 2px 0 #666666;
  color: #fff;
  display: block;
  font-size: 22px;
  height: 33px;
  line-height: 11px;
  margin: 20px auto 10px;
  padding: 3px 0 0;
  text-transform: uppercase;
  width: 66px;
}
.main-contain .aboutbox.upload-section .add input{
  width: 100%;
}

/* Category Message page css start */

.main-contain .modal{
  top: auto;
  bottom: 20%;
}
.main-contain .cetogry #category_message {
  bottom: 33%;
  top: auto;
}
.main-contain #add-item .modal{
  bottom: 20%;
  right: 10%;
}
.main-contain #add-item .modal.bs-example-modal-combo1{
  bottom: 3%;
}

.modify_special{
  width: 82px !important;
}
.special_active{
  font-size: 20px;
  float: right;
  padding-left: 10px;
}
.main-contain .specialsbox #second + .chosen-container, 
.main-contain .specialsbox #second + .chosen-container ul.chosen-choices li.search-field input{
  width: 100% !important;
}
.main-contain .specialsbox #second + .chosen-container ul.chosen-choices{
  padding: 5px;
}
.main-contain .specialsbox #second + .chosen-container .chosen-choices li.search-choice span, 
.main-contain .specialsbox #second + .chosen-container .chosen-results li.active-result, 
.main-contain .specialsbox #second + .chosen-container ul.chosen-choices li.search-field input{
  font-size: 20px;
  color: #a9a9a9;
}
.main-contain .specialsbox .tab-content .filter + .row .check_box{
  margin-top: 14px;
}
.main-contain .specialsbox #second + .chosen-container-multi .chosen-choices li.search-choice{
  padding-top: 6px;
}
.main-contain .specialsbox #second + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close{
  top: 6px;
}
 
.main-contain .addeditbox .client-right .usertype select{
  font-weight: normal;
  color: #888;
  padding-left: 6px;
}
.main-contain .loginbox input.forgotpswrd{
  max-width: 240px;
  width: 100%;
}

.make_button_active{
  background-color: #63a85e !important;
}

.upload-section .dz-default.dz-message {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 5px;
  margin: 0;
  left: 0;
  display: block;
}
.upload-section .dispaly_business_image{
  width: 70%;
  margin: 0 auto;
}
.upload-section .dz-image img, 
.upload-section .upload-box .image img{
  height: 117px;
  width: 100%;
  display: block;
  margin: 8px auto;
}
.upload-section .dz-success-mark{
  width: 40px;
  float: left;
}
.upload-section .dz-success-mark svg, 
.upload-section .dz-error-mark svg{
  width: 35px;
  height: 35px;
  display: none;
}
.main-contain .dispaly_about_image + .dz-progress { 
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  color: #fff;
  margin-top: 100px;
  background: rgba(0,0,0,0.8);
  padding-top: 0%;
  z-index: 2;
  left: 0;
}

.main-contain .dz-progress span{
  position: relative;
  z-index: 9;
  opacity: 1;
  color: #fff;
}
.main-contain #add-item .client-right .additemfields label{
  float: left;
  font-size: 20px;
  color: #888;
  padding-top: 6px;
}
.main-contain #add-item .client-right .additemfields input{
  width: 71px;
}
.main-contain #add-item .client-right .additemfields .form-group{
  float: left;
}
.main-contain #add-item .client-right .additemfields .form-group:last-child{
  float: right;
}
.main-contain #add-item .client-right .additemfields .form-group:nth-child(2){
  margin: 0 10px;
}
.main-contain .rating-container .star{
  margin: 0;
}
.main-contain .rating-container .star:first-child{
  margin-left: 0;
}
.main-contain .rating-container .star i{
  font-size: 30px;
}
.main-contain .rating-container {
  width: 100%;
  line-height: 38px;
}
.main-contain .rating-container .caption{
  float: right;
  margin: 0 0 0;
  line-height: 20px;
}
.main-contain .rating-container .caption .label {
  font-size: 20px;
  padding: 7px 15px 3px;
  box-shadow: -2px 2px 2px 0 #666666;
  line-height: 26px;
  display: inline-block;
}
.main-contain .rating-container .rating-stars{
  float: left;
  line-height: 22px;
}
.rating-container .empty-stars {
  color: #aaa;
  line-height: 20px;
}
.main-contain .rating-container .clear-rating {
  padding-right: 5px;
  vertical-align: top;
  margin-top: 6px;
  line-height: 20px;
}
.main-contain .rating-container .clear-rating i {
  font-size: 25px;
  margin: 0 0 0 8px;
  vertical-align: top;
}
.clear-rating-active{
  display: none;
}
.toast-message{
  font-size: 18px;
}
.star_rating {
  margin-left: 0px !important;
  line-height: 20px !important;
  margin-top: 10px !important;
}
.rating-stars{
  margin-left: 34px;
}
.label-success {
  background-color: #5c9e54 !important;
}
.rating-container .filled-stars{
  color: #5d9f56 !important;
}
.fa-cutlery{
  line-height: 30px !important;
}
.fa-clock-o{
  font-size: 28px !important;
  line-height: 29px !important;
}
.user_active{
  font-size: 20px;
  float: right;
  padding-left: 10px;
}
.ingredient_box{
  margin-left: 57px !important;
}

.main-contain .sidebar ul.addeditsales li{
  margin-top: 10px;
  margin-left: 10px;
}
.main-contain .sidebar ul.addeditsales li a{
  padding-left: 10px;
}
.main-contain .sidebar ul.addeditadmin li{
  margin-top: 10px;
  margin-left: 10px;
}
.main-contain .sidebar ul.addeditadmin li a{
  padding-left: 10px;
}
.main-contain .aboutbox#add-item .btn-row button.image_picture i{
  float: left;
  margin-right: 5px;
}
.top_header_image{
  background-color: #16320a;
}

.main-contain .aboutbox .about-contents .row input + .input-group-addon {
  left: 300px;
}
.main-contain .aboutbox .about-contents .row.email-row .input-group-addon + input:last-child {
  margin-left: 0;
  width: 100%;
}
.main-contain .aboutbox .about-contents .client-section .client-right .row.email-row .input-group{
  display: block;
}
.main-contain .aboutbox .about-contents .client-section .client-right .row .input-group-addon + input {
  width: 186px;
  padding-left: 42px;
}
.main-contain .aboutbox .about-contents .client-section .client-right .row .input-group-addon + input:last-child{
  margin-left: 10px;
}
.main-contain .aboutbox .about-contents .client-section .client-right .row input + .input-group-addon {
  left: 227px;
}
.main-contain .aboutbox .about-contents .client-section .client-right .row.email-row .input-group-addon + input:last-child{
  margin-left: 0;
  width: 100%;
}
// .dz-progress{
//   height: 20px;
//   background-color: gray;
// }
// .dz-upload { 
//     display: block; 
//     background-color: red !important; 
//     height: 10px !important;
//     width: 0%;
// }
.main-contain .aboutbox .about-contents #aboutdaytime .save-btn{
  margin-bottom: 20px;
}
.footer-row p.user_active {
  float: right;
  font-size: 20px;
  margin: 0;
  padding-left: 10px;
}

.main-contain .aboutbox .about-contents .client-section .client-right .row input.client_phone + .input-group-addon {
  left: 194px;
}
.main-contain .aboutbox .about-contents .client-section .client-right .footer-row .make_sub_admin_active{
  margin-top: 12px;
}
header .menubar ul li.back_to_admin{
  background: #58994f;
  background: linear-gradient(to bottom, #6db46b 0%, #58994f 100%);
  background: -ms-linear-gradient(to bottom, #6db46b 0%, #58994f 100%);
  background: -webkit-linear-gradient(to bottom, #6db46b 0%, #58994f 100%);
  border: 1px solid #333;
  border-radius: 3px;
  box-shadow: 0 0 3px 0 rgb(117, 117, 117);
  font-size: 16px;
  color: #fff;
  height: 32px;
  padding: 2px 10px 0;
  line-height: 30px;
  margin-top: 10px;
}
header .menubar ul li.back_to_admin p a{
  color: #000;
  line-height: 20px;
}
.main-contain .login__footer-required{
  margin-top: 10px;
}

// #timeout .aboutbox {
//   background: #fff;
//   width: 382px;
//   margin: 35px auto 0;
//   border: 2px solid #0f3300;
//   box-shadow: 3px -3px 5px 0 rgba(0, 0, 0, 0.2), -4px -1px 5px 0 rgba(0, 0, 0, 0.2), 1px 5px 5px 0 rgba(0, 0, 0, 0.2);
//   border-radius: 12px;
//   overflow: hidden;
// }
#timeout .aboutbox .head strong {
  position: relative;
  top: 3px;
}
.main-contain #timeout .aboutbox .save-btn {
  width: 120px;
  padding-top: 5px;
}
.main-contain #timeout .aboutbox .about-contents p{
  font-size: 18px;
  color: #333;
}
#timeout{
  bottom: 40%;
}


// Browser Specific css
.linux .main-contain .aboutbox .about-contents .save-btn, 
.mac .main-contain .aboutbox .about-contents .save-btn{
  padding-top: 3px;
}
.linux .main-contain .addmenu-sec > .row p.arrow-right, 
.mac .main-contain .addmenu-sec > .row p.arrow-right{
  margin-top: 4px;
}
.linux .main-contain .addmenu-sec .about_closeicon + p, 
.mac .main-contain .addmenu-sec .about_closeicon + p{
  padding-top: 3px;
}
.linux .main-contain input{
  padding-top: 3px;
}
.linux .main-contain .aboutbox .about-contents .add-item-contents .right-side > button{
  padding-top: 4px;
}
.win .main-contain .addeditbox .client-right .form-inline input, 
.win .main-contain .aboutbox .about-contents .client-section .client-right .row .input-group-addon + input { 
  width: 185.5px;
}
.win .main-contain .addeditbox .client-right .address input {
  width: 139px;
}
.win .main-contain #add-item .client-right .additemfields input {
  width: 69px;
}
.win .main-contain .rating-container .caption .label{
  padding: 5px 15px;
}
.win .delivery-contents .left-side input[type="text"], .delivery-contents .right-side input[type="text"]{
  padding-top: 0;
}
.win .main-contain .addeditbox .client-right .address input:last-child {
  width: 84px;
}
.win .main-contain #timeout .aboutbox .save-btn{
  padding-top: 0;
}
.win header .menubar ul li.back_to_admin{
  padding-top: 0;
}
#delete_client_button{
  width: 90px !important;
}