.digitalmenubox {
	width: 834px;
	margin: 30px 0 0 15px;
	border: 2px solid #0f3300;
	box-shadow: 3px -3px 5px 0 rgba(0, 0, 0, 0.2), -4px -1px 5px 0
		rgba(0, 0, 0, 0.2), 1px 5px 5px 0 rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	overflow: hidden
}

.digitalmenubox .head {
	background: #1F779B none repeat scroll 0 0;
	min-height: 37px;
	color: #fff !important;
	font-size: 22px;
	padding: 0 10px;
	text-transform: uppercase;
	line-height: 36px
}

.digitalmenubox .head a {
	color: #fff !important;
	font-size: 28px !important;
}
.table-fonts{
	text-align: left;
	border: solid 3px white;
}

.circle{
	font-size: 18px;
	font-family: 'Arial Rounded MT Bold';
	font-weight: bold;
	width: 27px;
	height: 27px;
	text-align: center;
	border-radius: 15px;
	color: #FFFFFF;
	background: #1F779B;
	float: left;
	margin-left: 0px;
	line-height: 27px;
	margin-top: 3px
}

.square{
	font-size: 17px;
	font-family: 'Arial Rounded MT Bold';
	font-weight: bold;
	width: 24px;
	height: 25px;
	text-align: center;
	border: double thick;
	border-radius:5px;
	color: #FFFFFF;
	background: #5B5B5B;
	float: left;
	margin-left: 0px;
	line-height: 27px;
}

.digitalmenubox button {
	background: linear-gradient(to top, #014778 50%, #4d94be 50%);
	border: 2px solid #0165b1;
	border-radius: 3px;
	box-shadow: 0 0 3px 0 #757575;
	font-size: 16px;
	font-weight:normal;
	color: #FFFFFF;
	height: 37px;
	padding: 0 10px;
	line-height: 31px;
	text-transform: uppercase;
}
.digitalmenubox .select-menu-row button:disabled {
	opacity: 1;
	background-color: #eeeeee;
}

.digitalmenubox button:disabled {
	opacity: 0.6;
}

label.orientations,label.layouts {
    background: #2d2d2d;
    padding: 11px 0 0 0px;
    display:inline-block;
    width:31px;
    height:27px;
    line-height:0px;
    vertical-align:middle;
    font-weight:bold;
    font-size:18px;
    border: 2px solid black;
  	border-radius: 6px!important;
  	text-align:center;
  	position: relative;
  	margin: 0px 0px 0px 1px;
}

label.orientations:after,label.layouts:after {
 	content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3px;
    border: 2px solid white;
}
label.orientations span,label.layouts span { color:white; }
label.orientations input,label.layouts input {display:none;}

label.clr-pckr {
    padding:3px;
    margin:-4px;
    display:inline-block;
    width:81px;
    height:55px;
    text-indent:0px;
    text-align:center;
    vertical-align:middle;
    font-weight:normal;
    font-size:20px;
    line-height: 2;
}

label.clr-pckr.red {
	border-bottom:2px solid #272727;
	border-top:2px solid #272727;
	border-left: 2px solid #272727;
	border-radius: 5px;
	background-image: linear-gradient(#dc0830,#f56d66);
}

label.clr-pckr.green {
	border-bottom:2px solid #272727;
	border-top:2px solid #272727;
	border-left: 2px solid #272727;
	background-image: linear-gradient(#2eb525,#8fec89);
}

label.clr-pckr.blue {
	border-bottom:2px solid #272727;
	border-top:2px solid #272727;
	border-right: 2px solid #272727;
	border-left: 2px solid #272727;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-image: linear-gradient(#038bff,#04dbfd);
}


label.clr-pckr input {display:none;}
label.clr-pckr span {color: #fff;}
label.clr-pckr input:checked + span {color:#9F9;}

.menu-button {
	width: 57px;
	color: white;
	border:groove white;
	border-radius: 5px;
	text-indent: -5px;
	background-color: #5B5B5D;
	text-transform: none;
}

.btns {
	width: 24px;
	height: 25px;
} 

.digitalmenubox.rounded {
	margin-right: 55px !important;
}

.digitalmenubox .tab-content{
	margin:-2px 15px 0px 15px;
	background: #D3D3D3;
	border-top-left-radius:0px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	border:2px solid white;
	width: 800px
}
.digitalmenubox .nav-tabs {
	margin-bottom: 4px;
}
.digitalmenubox .nav-tabs > li.active > a,
.digitalmenubox .nav-tabs > li > a:focus{
    background-color: #D3D3D3;
    border:2px solid white;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: none;    
} 

.digitalmenubox .nav-tabs > li >a {
    background-color: #0F4358;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    margin-right: 10px;
    
}

.digitalmenubox .nav-tabs > li > a > span{
	font-size: 23px;
    font-weight: bolder;
    color: black;
    text-align: center;
    position: absolute;
    top: 37px;
    left: 40px;
}

.digitalmenubox .nav > li > a > img {
    max-width: none;
    border: 3px solid #ffffff00;
    border-radius: 13px;
}

.digitalmenubox .nav-tabs > li.active > a > span{
    color: white;
}

.digitalmenubox.link-section{
	width:500px !important;
    background: #D3D3D3 !important;
    margin-left: 250px;
   	margin-bottom: 200px;
}
.digitalmenubox .link-tabs .activated-tab ul{
	text-align: center;
	margin-top: 10px;
}
.digitalmenubox .link-tabs .activated-tab ul > li > span:first-child,
.digitalmenubox .link-tabs .activated-tab ul > li > span:last-child {
	font-size: 40px;
	font-weight: bold;
	color: #014778;
	vertical-align: text-bottom;
}
.digitalmenubox .link-tabs .activated-tab ul > li > span:nth-child(2) {
	font-size: 23px;
    font-weight: bolder;
    color: white;
    text-align: center;
    position: absolute;
    top: 35px;
    left: 241px;
}

.digitalmenubox .link-tabs .link-with{
	margin-top: 15px;
}

.digitalmenubox .link-tabs .link-with ul > div {
	margin: auto;
}

.digitalmenubox .link-tabs .link-with ul > div > li {
	 float: left;
	 list-style-type: none
}

.digitalmenubox .link-tabs .link-with ul > div > li > span{
	font-size: 23px;
    font-weight: bolder;
    color: black;
    text-align: center;
    position: absolute;
    top: 25px;
    left: 37.5px;
}

.digitalmenubox .link-tabs .link-with .img-check {
    opacity:0.5;
}

.digitalmenubox .link-tabs .link-with .img-check.img-checked {
    opacity:1 !important;
}

.digitalmenubox .tab-content form{
	margin:5px 12px 0px 12px;
	padding-top : 15px ;
	font-size: 17px;
	font-weight: bold;
}

.digitalmenubox .select-menu-row{
	margin: 0px 0px 20px 15px;
	float: left;
}
.digitalmenubox .orientation-row{
	margin: 5px 0px 20px 11.5px;
	float: left;
}

.select-menu-row select {
	background: #fff url(../assets/arrow.png) no-repeat 100% 0;
	width: 182px;
	height: 35px;
	padding-left: 10px;
	font-size: 17px;
	font-family: "Calibri";
	color: #16320a;
	font-weight: bold;
	text-transform: uppercase;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	border: 1px solid black;
}

.tab-content .table tr:nth-child(even){background-color:#6AC4E9;}
.tab-content .table tr:nth-child(odd){background-color: #B2E9FE;}

.digitalmenubox.upload-section{
	margin-left: 160px !important;
}
.layout-row{
	margin: 5px 0px 20px 0px;
}

.color-picker-row{
	margin: 20px 0px 20px 0px;
}

.color-picker-row div:first-child{
	margin-right: 12px;
}
.color-picker-row div:nth-child(2){
	border-radius:10px;
}
.color-picker-row button{
	width: 115px;
	height:54px;
	font-size: 25px;
	margin-top: -4px;
}

.digitalmenubox .about-contents {
    padding: 15px 0 15px 0px;
	background: #ecebeb;
}

.tabdesign{
	background: #D3D3D3 ;
	width: 70px;
	height:100px;
	margin-left : 5px;
}

.basic_fonts{
	font-size: 14px;
	padding-left: 5px
}

.check{
   opacity:0.5;
	color:#996;
}

.box{
   margin-bottom:5px;
}

.main-contain .digitalmenubox .food-list ul{
	height: 376px;
	width:266px;
	overflow-x: hidden;
}

.main-contain .digitalmenubox .image_cut{
	text-align: center;
	font-size: 25px;
	color:white;
	text-transform: uppercase;
}

.main-contain .digitalmenubox .image_cut div{
	margin: 0 auto;
}
.main-contain .digitalmenubox .image_cut .head{
	background: #1f779b none repeat scroll 0 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px; 
	margin-bottom: 0px;
}

.main-contain .digitalmenubox .image_cut .middle{
	position: relative;
	margin-top:0px !important;
	background: #e4fcff none repeat scroll 0 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	color:black;
}
.main-contain .digitalmenubox .image_cut .foot .save-btn{
	margin-top:0px;
	background: linear-gradient(to bottom, #ce5051 50%, #860404 50%);
    border: 2px solid #7a0000;
    float: left;
    margin-left: 105px
}

.carousel-inner img {
      width: 100%;
      height: 100%;
}
  
.main-contain .digitalmenubox .zoomButtons{
	margin-top: 10px !important;
}
  
 .digitalmenubox button i {
 margin-right: 5px;
 }
 
.main-contain .digitalmenubox .chosen-container .chosen-drop {
 	top:76% !important
 }
 
 .main-contain .digitalmenubox .delete-btn {
  	background: linear-gradient(to top, #980404 50% , #d55051 50%);
    border: 2px solid #7a0000;
    box-shadow: -2px 2px 2px 0 #666666;
    font-size: 20px;
    margin: 20px 0px 20px 0px;
    position: absolute;
	right: 10px;
	border-radius: 6px;
	height: 33px;
	line-height: 1px;
 }
 .main-contain .digitalmenubox .save-btn{
    margin: 20px 0px 20px 0px;
 }
 
  .main-contain .digitalmenubox .zoomButtonPlus i {
    margin: 5px 0px 0px 0px;
 }
 
 .main-contain .digitalmenubox .zoomButtonMinus i {
    margin: 5px 0px 0px 3px;
    font-size: 15px !important;
 }
 
 .main-contain .digitalmenubox .zoomButtonMinus {
 	padding: 0px 6px 0px 7px !important;
 }