@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.eot');
    src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri.woff2') format('woff2'),
    url('../fonts/Calibri.woff') format('woff'),
    url('../fonts/Calibri.ttf') format('truetype'),
    url('../fonts/Calibri.svg#Calibri') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'fontawesome';
    src: url('../fonts/FontAwesome.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Arial Rounded MT Bold";
    src: url('../fonts/ArialRoundedMTBold.eot.eot');
    src: url('../fonts/ArialRoundedMTBold.eot.eot?#iefix') format('embedded-opentype'),

         url('../fonts/ArialRoundedMTBold.woff') format('woff'),
         url('../fonts/ArialRoundedMTBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "Arial Rounded MT Bold";
    src: url('../fonts/ArialRoundedMTBold.eot');
    src: url('../fonts/ArialRoundedMTBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ArialRoundedMTBold.woff') format('woff'),
         url('../fonts/ArialRoundedMTBold.ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'HelveticaNeueLTCom-BdCn';
  src: url('../fonts/HelveticaNeueLTCom-BdCn.eot?#iefix') format('embedded-opentype'),  
  url('HelveticaNeueLTCom-BdCn.woff') format('woff'), 
  url('../fonts/HelveticaNeueLTCom-BdCn.ttf')  format('truetype'), 
  url('../fonts/HelveticaNeueLTCom-BdCn.svg#HelveticaNeueLTCom-BdCn') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@  CSS RESET   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@  CONTENT STYLE  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


body{
    width: 937px;  
    margin: 0 auto;   
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@  TOP BAR  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


.top-bar{
    height: 55px;
    background:#000;
    color:white;
    margin-top:85px;
}
.top-bar ul li{

    font-family: "Calibri";
    list-style-type: none;
    float:left;
    text-transform: uppercase;
    margin-left:35px;    
    margin-top:17px;
 
}
.top-bar ul li:first-child{
    margin-left:54px;
}
.top-bar ul li:nth-child(2){
    margin-left:25px;
}
.top-bar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;

}
.top-bar p:nth-child(2){    
    font-size: 20px;
    font-family: "Calibri";
    margin-top:17px;
    margin-left:241px;
    float:left;
    text-transform: uppercase;
    color:#b3f0a9;
    cursor:pointer;
}
.top-bar p:last-child{
    font-size: 20px;
    font-family: "Calibri";
    color: rgb( 135, 237, 64 );
    font-weight: bold;  
    float:right;
    text-transform: uppercase;
    margin-top:15px;
    margin-right:50px;
    cursor:pointer;
}
.top-bar p:last-child i{
    margin-right: 10px;
    font-weight: normal;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@  TABS STYLE  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@  LEFT  TABS  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


.ui-tabs.ui-tabs-vertical { 
    
}
.ui-tabs.ui-tabs-vertical .ui-widget-header { 
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {     
    float: left;
    width: 228px; 
    height: 681px;
    background: #16320a;
    overflow: hidden;   padding-top:11px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {    
    clear: right;
    width: 197px;
    margin-top:11px;
    margin-left: 35px;
    overflow: hidden;
    position: relative;
    right: -2px; 
    z-index: 2;
    
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {  
    font-size: 20px;
    font-family: "Calibri";
    color: rgb( 22, 50, 10 );
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding: 8px 20px;  
    text-decoration: none;
    color:#fff;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover,
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:active{
    cursor: pointer;
    background:#689d60;
    border:none;
    font-weight: bold;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:focus
{
          outline: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    background: #689d60;
    font-weight: bold;
    color:#16320a;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a {
    color:#16320a;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-top: 11px; 
}
.hidden{
    display: none;
}
.edit-cient{
    width:150px;
    height:30px;
    position:relative;
    top:-100px;
    left:60px;
}
.edit-cient p{
    color:#fff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Calibri";
    color: rgb( 179, 240, 169 );
    cursor:pointer;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@  RIGHT CONTENT  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width:709px;
    height: 692px;
    background:#689d60; 
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@  LOGIN CONTENT  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.login{
    height:0px;
}
.no-display{
    display: none;
}
.login-background{   
    width: 936px;  
    height: 700px;
    background:black;
    top:-780px;
    left: 0px;
    z-index:9;
    opacity: 0.4;
    position:relative;  
} 
.login-box{ 
    position: relative;
    top:-1444px;
    left:278px;
    z-index: 990;
    overflow: hidden;
    border: 1px solid #0f3300;
   width: 382px;
    background: #fff;
        -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}





/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@  LOGIN TOP BAR  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/



.login_bar{
    background: #e5e5e5;
    height: 48px;
    font-size: 22px;
    color: rgb( 229, 229, 229 );
    text-transform: uppercase;
}
.login_bar i:first-child{
    float:left;
    color:#414141;
    margin-left:15px;
    margin-top:11px;
}
.login_bar p:nth-child(2){
    font-size: 22px;
    font-family: "Calibri";
    color: rgb( 69, 69, 69 );
    text-transform: uppercase;
    float:left;
    color:#414141;
    margin-top:10px;
    margin-left:12px;
    font-weight: bold;
}
.login_bar i:last-child{
    float:right;
    color:#414141;
    margin-top:11px;
    margin-right:15px;         
    cursor:pointer;
}
.fontawesome{
    font-family: 'fontawesome'! important; 
    font-style:normal; 
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@  LOGIN FORM  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.login_form{
    height: 165px;
}
.login_form input:first-child,.login_form input:nth-child(2){
    width: 328px;
    height: 30px;
    margin-left:21px;
    padding-left:10px;
    font-size: 20px;
    font-family: "Calibri";
}
.login_form input:first-child{
    margin-top:15px;
}
.login_form input:nth-child(2){
    margin-top:10px;
}
.login_form input::-webkit-input-placeholder {
    color: #5d5d5d;
}
.login_form input:-moz-placeholder {
    /* FF 4-18 */
    color: #5d5d5d;
}
.login_form input::-moz-placeholder {
    /* FF 19+ */
    color: #5d5d5d;
}
.login_form input:-ms-input-placeholder {
    /* IE 10+ */
    color: #5d5d5d;
}
.login_form input:last-child{
    margin-top:21px;
    margin-left:145px;
    font-weight: bold;
    width: 92px;
    height: 33px;
    color:#fff;
    font-size:20px;
    background:#d04f3a;
    border:none;
    cursor:pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    -moz-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    border:1px solid #972f1e;
}
.login_form input:last-child:focus,
.login_form input:last-child:active,
.login_form input:last-child:visited
{
     outline: none;
}
.login_form input:last-child:active{
    -webkit-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    -moz-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
}

/*@@@@@@@@@@@@@@@@@  ADD/MODIFY CLIENT    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.add-client-background{   
    width: 936px;  
    height: 700px;
    background:black;
    top:-780px;
    left: 0px;
    z-index:9;
    opacity: 0.4;
    position:relative;  
} 


.add-client-content{
    z-index: 99;
    width: 775px;
    /* height:480px;*/
    left:420px; 
    top:170px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    overflow: hidden;
    background: #fff;
}
.add-client-content{ 
    /* position: relative;
    top:-1444px;
    left:80px; */
    z-index: 990;
    overflow: hidden;
    border: 1px solid #0f3300;
    width: 85%;
    height:480px;
    background: #fff;
        -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}







.top-bar-addclient{
    background:#7d7c7c;
    height: 48px;
}
.top-bar-addclient i,.top-bar-addclient p{
    font-size: 22px;
    font-family: "Calibri";
    color: rgb( 69, 69, 69 );
    text-transform: uppercase;
    color:#fff;
    float:left;
}
.top-bar-addclient i:first-child{
    margin-left:20px;
}
.top-bar-addclient p:nth-child(2){
    margin-left: 10px;
}
.top-bar-addclient i:last-child{
    float:right;
    margin-right:17px;
    cursor:pointer;
}
.content_addclient{
    background: #ecebeb; 
    height: 433px;
}
.left-part-addclient{     
    padding-left:20px;  
    margin-top:15px;
    width: 253px;
    height:332px;
    float:left; 
}
.left-part-addclient p{
  font-size: 20px;
  font-family: "Calibri";
  color: rgb( 153, 153, 153 );
  text-transform: uppercase;
}
.left-part-addclient p img{
    height:15px;
    margin-right:10px;
}
.left-part-addclient p span{
    text-transform: uppercase;
    font-family: "Calibri";
    color:#4b4b4b;
}
.content_addclient select,#add-client-field { 
    height: 35px;
    width:248px;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 20px;
    font-family: "Calibri";
    color: #393939;
    cursor: pointer;
    padding-left: 11px;
    outline: none;
}
#add-client-field{
    width:100%;
    height: 30px;
}
#add-client-field::-webkit-input-placeholder {
    color: #393939;
}
#add-client-field:-moz-placeholder {
    /* FF 4-18 */
    color: #393939;
}
#add-client-field::-moz-placeholder {
    /* FF 19+ */
    color: #393939;
}
#add-client-field:-ms-input-placeholder {
    /* IE 10+ */
    color: #393939;
}
.content_addclient select:focus{
    outline: none;
}
.select_back{
    background: url('../images/arrow.png')no-repeat;   
    position:absolute;
    top:94px;
    left:234px;
    width:35px;
    height:35px;
    cursor:pointer;
}
.add_client_namelist{
    border:1px solid #b5b5b5;  
    margin-top:10px;
    background: #fff;
    width:100%;
    height:318px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left:10px;
}
.add_client_namelist ul li{
    list-style-type: none;
    font-size: 19px;
    font-family: "Calibri";
    color: #393939;
}
.add_client_namelist ul li:first-child{
}


.right-part-addclient{
    float:left;
    height:420px;
    width:490px;
    padding-left:10px;   
}
.sel_left{
    left:559px; 
}
.right-part-addclient select{ 
    width:310px;
    margin-top:45px; 
}

.add_client_pictures p{
    float:left;    
    width: 70px;
    height: 20px;
    padding:5px 10px;
    border: 1px solid #41712c;
    background: #6db46b; /* Old browsers */
    background: -moz-linear-gradient(top,  #6db46b 0%, #58994f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db46b), color-stop(100%,#58994f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6db46b 0%,#58994f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6db46b 0%,#58994f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6db46b 0%,#58994f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #6db46b 0%,#58994f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db46b', endColorstr='#58994f',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(117,117,117,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(117,117,117,1);
    box-shadow: 0px 0px 3px 0px rgba(117,117,117,1);
    border-radius:3px;
    margin-top:15px;   
}
.add_client_pictures p:last-child{
    margin-left:20px;
}
.add_client_pictures span{
    float:right;
    font-size: 16px;
    font-family: "Calibri";
    color: rgb( 31, 33, 30 );
}

.add_client_pictures p img{
    width:27px;
    float:left;
    margin-top:-2px; 
}
.add_client_name{
    margin-top:0px;  
}
.add_client_name input:nth-child(2){
    margin-left:7px;
}
.right-part-addclient input {
    font-size:19px;
      font-family: "Calibri";
}
.add_client_name input,.add_client_email input{
    height:20px;
    padding-left:10px;
    width: 173px;
    height: 29px;
}
.add_client_name input:nth-child(2){
    margin-left:2px;
}
.add_client_email input{
    margin-top:10px;
    width:425px;
}
.add_client_email i{
    font-size: 21px;
    float:left;
    color:#839093;
    margin-top:17px;
    margin-right: 10px;
}
.add_client_phone i{
    float:left;
    font-size: 28px;
    color:#839093;
    margin-top:15px;
    margin-right: 10px;
}
.add_client_phone input{
    margin-top:10px;
    height: 30px;
}
.add_client_phone_left{
    float: left;
    
}
.add_client_phone_left input{ 
    width:178px;
    padding-left:10px;
}
.add_client_phone_right{
    margin-left:20px;
    float:left;
}
.add_client_phone_right input{
    width:180px;
    padding-left:10px;
}
.add_client_adress input{
    height: 30px;
    width:457px;
    margin-top:10px;
    padding-left:10px;
}
.add_client_state input{
    float:left;
    height:30px;
    padding-left:10px;
    margin-top:10px;
}
.city{
    width:173px;
}
.state{
    width:170px;
    margin-left:8px;
}
.zip{
    width:70px;
    margin-left:8px;
}
.add-client-submit{
    margin-top:20px;
    margin-left:203px;
    width: 67px;
    height: 33px;
    color:#fff;
    background:#d04f3a;
    border:none;
    cursor:pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    -moz-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    border:1px solid #972f1e;
    font-weight: bold;
}
.add-client-submit:focus{
       outline: none;
}
.add-client-submit:active{
    -webkit-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    -moz-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@  FOOTER    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


footer{
    height:50px;
    background:black;
    font-family: "Calibri";
    color: rgb( 255, 255, 255 );
    height:55px;
    font-size: 20px;
    font-family: "Calibri";
    color: rgb( 255, 255, 255 );
}
footer p{
    margin-top:16px;
    float:left;
}
footer p:first-child{
    margin-left:40px;
}
footer p:nth-child(2){
    margin-left:400px;
}
footer p:last-child{
    margin-left: 50px;
}



/*@@@@@@@@@@@@@@@@@@@@@@@@@@@   ADD MENU    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.add-menu{
    height:0px!important;  
}
.add-menu-background{  
    width: 936px;  
    height: 700px;
    background:black; 
    top:-780px;
    left: 0px;
    z-index:9;
    opacity: 0.4;
    position:relative;
}
.add-menu-content{
    width:382px;
    position: relative;
    top:-1439px;
    left:291px;
    z-index: 990;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    overflow: hidden;
}
.add-menu-topbar{
    background:#e5e5e5;
    height: 48px;
}
.add-menu-contentbox{
    background:white;
    height:508px;
}
.add-menu-topbar p,.add-menu-topbar i{
    float:left;
    font-size:24px;
    color:#414141;
}
.add-menu-topbar i:first-child{
    margin-left:15px;
    margin-top:15px;
}
.add-menu-topbar p{
    font-size: 22px;
    font-family: "Calibri";
    color: rgb( 69, 69, 69 );
    text-transform: uppercase;
    margin-top:15px;
    margin-left:10px;
}
.add-menu-topbar img:last-child{
    float:right;
    margin-top:15px;        
    margin-right:15px;
    cursor:pointer;
}
.add-menu-field input{
    width:327px;
    height:30px;
    outline: none;
    margin-top:20px! important;
    margin-left:22px;
    font-size: 22px;
    font-family: "Calibri";
    padding-left:10px;
}
.add-menu-field1{
        font-family: "Calibri"! important;
}
.add-menu-field input:first-child{
    margin-top:15px;
}
.add-menu-field input:nth-child(2){
    margin-top:10px;
}
.add-menu-field input::-webkit-input-placeholder {
    color: #5d5d5d;    font-family: "Calibri";
}
.add-menu-field input:-moz-placeholder {
    /* FF 4-18 */
    color: #5d5d5d;    font-family: "Calibri";
}
.add-menu-field input::-moz-placeholder {
    /* FF 19+ */
    color: #5d5d5d;    font-family: "Calibri";
}
.add-menu-field input:-ms-input-placeholder {
    /* IE 10+ */
    color: #5d5d5d;     font-family: "Calibri";
}
.select-days img{
    margin-left: 46px;
    margin-top:11px;
    float:left;
}
.select-days p{
    float:left;
    font-size: 22px;
    font-family: "Calibri";
    color: rgb( 69, 69, 69 );
    text-transform: uppercase;
    margin-top:10px;
    margin-left:10px;
}










.add-menu-day_white,.add-menu-day_grey{ 

    height:48px;
}
.add-menu-dayback{
    background: #e5e5e5;
    
}
.add-menu-dayback input{
    background: #f4f4f4; 
    outline: none;

border:1px solid #cecece;

}
.add-menu-day_white p:first-child,.add-menu-day_grey p:first-child{ 
    width:21px;
    height:21px;
    background: url('../images/square_green.png')  100%/100%;
    float:left;
    margin-top:11px;
    margin-left:21px;
}
.add-menu-day_white p:nth-child(2),.add-menu-day_grey p:nth-child(2){
    font-size: 18px;
    font-family: "Calibri";
    color: rgb( 65, 65, 65 );
    text-transform: uppercase;
    margin-top:12px;
    margin-left:13px;  
    float:left;
}
.add-menu-day_white input,.add-menu-day_grey input{
    height:26px;
    margin-top:8px;
    float:left;
    font-size: 20px;
    font-family: "Calibri";
}
.add-menu-day_white input:nth-child(3){
    width:51px;
    margin-left:14px;
    padding-left:3px; 
}
.add-menu-day_white input:nth-child(4),.add-menu-day_white input:nth-child(7){
    width:33px;  
    margin-left:10px;
    padding-left:4px;
}
.add-menu-day_white img,.add-menu-day_grey img{
    float:left;
    margin-left:9px;
    margin-top:19px;
}
.add-menu-day_white input:nth-child(6){
    width:50px;
    margin-left:9px;
    padding-left:3px; 
}
.add-menu-day_white input::-webkit-input-placeholder,.add-menu-day_grey input::-webkit-input-placeholder {
    color: #5d5d5d;
}
.add-menu-day_white input:-moz-placeholder,.add-menu-day_grey input:-moz-placeholder {
    /* FF 4-18 */
    color: #5d5d5d;
}
.add-menu-day_white input::-moz-placeholder,.add-menu-day_grey input::-moz-placeholder {
    /* FF 19+ */
    color: #5d5d5d;
}
.add-menu-day_white input:-ms-input-placeholder,.add-menu-day_grey input:-ms-input-placeholder {
    /* IE 10+ */
    color: #5d5d5d;
}
.add-menu-contentbox .add-menu-day_grey:nth-child(3){
    margin-top:48px;
}

.add-menu-day_grey{
    background:#e5e5e5;
}
.add-menu-day_grey input{
      background: #f4f4f4;
      border: 1px solid #c9c9c9;
}
.add-menu-day_grey input:nth-child(3){

    width:52px;
    margin-left:14px;
    padding-left:3px;
}
.add-menu-day_grey input:nth-child(4),.add-menu-day_grey input:nth-child(7){
    width:35px;  
    margin-left:10px;
    padding-left:4px;
}
.add-menu-day_grey input:nth-child(6){
    width:50px;
    margin-left:8px;
    padding-left:7px; 
}
.tue{
    margin-right:9px;
}
.wed{
    margin-right:3px;
}
.add-menu-day_grey input{
    height:27px;
}
.thu{
    margin-right:8px;
}
.fri{
    margin-right:17px;
}
.sat{
    margin-right:13px;
}
.closed{
    height:48px;
    background:#e5e5e5;
}
.closed p{
    float:left;
}
.closed p:first-child{
    width:21px;
    height:21px;
    background: url('../images/square_grey.png')  100%/100%;
    margin-top: 12px;
    margin-left: 21px;
}
.closed p:nth-child(2),.closed p:nth-child(3){
  font-size: 18px;
  font-family: "Calibri";
  color: rgb( 65, 65, 65 );
  text-transform: uppercase;
  margin-left:13px;
  margin-top:13px;
}
.closed p:nth-child(3){
    margin-left:34px;
      font-size: 20px;
}
.add-menu-button{
    font-size: 22px;
    font-family: "Calibri";
    color: rgb( 255, 255, 255 );
}

.add-menu-button{
    margin-top: 20px;
    margin-left: 158px;
    font-weight: bold;
    width: 66px;
    height: 33px;
    color:#fff;
    text-transform: uppercase;
    font-size:20px;
    background:#d04f3a;
    border:none;
    cursor:pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    -moz-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    border:1px solid #972f1e;
}
.add-menu-button:focus,
.add-menu-button:active,
.add-menu-button:visited
{
     outline: none;
}
.add-menu-button:active{
    -webkit-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    -moz-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@   EDIT MENU         @@@@@@@@@@@@@@@@@@@@@@@@@@@*/


.group_buttons{
   
}
.group_buttons p{ 
    float:left;
    width:20px;
    height:20px;
    background: url('../images/square_grey.png')  100%/100%; 
    margin-top:23px;
    margin-left:22px;
}
.group_buttons input:nth-child(2){
    margin-left:15px;
    margin-top: 18px;
    font-weight: bold;
    width:93px;
    height:34px;
    color:#fff;
    text-transform: uppercase;
    font-size:20px;
    background:#7d7878;
    border:none;
    cursor:pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    -moz-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    border:1px solid #5a5a5a;
    outline: none;
}
.group_buttons input:nth-child(3){
    margin-left:110px;
        height:34px;
}
.edit-menu-field{
    height:1px; 
}
.edit-menu{
    
    height:456px;
}
.edit-menu-select{
    margin-top:4px;
    
}
.group_buttons #edit_menudeletebtn{
    font-size:19px;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@    CAREGORY MESSAGE  @@@@@@@@@@@@@@@@@@@@@@@@@@@*/


.caregory-message-background{   
    width: 936px;  
    height: 700px;
    background:black;
    top:-780px;
    left: 0px;
    z-index:9;
    opacity: 0.4;
    position:relative;
}
.caregory-message-content{    
    width:382px;
    height:240px;
    position: relative;
    top:-1422px;
    left:291px;
    background:#fff;
    z-index: 990;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    overflow: hidden;
}
.caregory-message-title img:first-child{
    float:left;
    margin-left:26px;
    margin-top:18px;
}
.caregory-message-title p{
    float:left;
    font-size: 22px;
    font-family: "Calibri";
    color: rgb( 69, 69, 69 );
    text-transform: uppercase;
    margin-top:13px;
    margin-left: 10px;
}
.caregory-message-title img:last-child{
    float:right;
    margin-top:18px;
    margin-right:15px;
    cursor: pointer;
}
.caregory-message-content>p{   
    width:68px;
    height:20px;
    margin-top:40px;
    margin-left:49px;
    font-size: 22px;
    font-family: "Calibri";
    color: #617760;
    text-transform: uppercase;
}
.caregory-message-field{     
    width:100%;
    padding:20px;
    margin-top:10px;
    background: #e5e5e5;
}
.caregory-message-field input{
    height:59px;
    width:340px;
}


.caregory-message-content >input:last-child{
    margin-top: 15px;
    margin-left: 158px;
    width:66px;
    height:30px;
    color:#fff;
    text-transform: uppercase;
    font-size:20px;
    background:#d04f3a;
    border:none;
    cursor:pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    -moz-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    border:1px solid #972f1e;
}
.caregory-message-content >input:focus,
.caregory-message-content >input:active,
.caregory-message-content >input:visited
{
     outline: none;
}
.caregory-message-content >input:active{
    -webkit-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    -moz-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@       EDIT MENU TAB    @@@@@@@@@@@@@@@@@@@@@@@@@*/


.tabs {
    width:615px;
    display:inline-block; 
    margin-left:45px;
    margin-top:36px;
    height:515px;
}
.tab-links:after {
    display:block;
    clear:both;
    content:'';
    }
.tab-links li {

    float:left;
    list-style:none; 
}
.tab-links li:nth-child(2),.tab-links li:nth-child(3),.tab-links li:nth-child(4){
    margin-left:4px!important;
}
.tab-links a {
    display:inline-block;
    border:1px solid #16320a;
    border-bottom:none;
    padding:7px 20px;
    text-decoration: none;
    font-size: 22px;
    font-family: "Calibri";
    text-transform: uppercase;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #393939;
    color:#cef8b1;   

}
.tab-links a:hover {
    
}
li.active a, li.active a:hover {
    color:#16320a;
    background: #ecebeb;
}
 

.tab-content {
    margin-top:-1px;
    padding-left:20px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background: #ecebeb;
    border:1px solid #16320a;
}
 
.tab {
    display:none;
}
 
.tab.active {
    display:block;
}
.tab-content p:first-child{
    margin-top:25px;
     font-size: 20px;
    font-family: "Calibri";
    color: #4b4b4b;
    text-transform: uppercase;
    
}
.edit-menu-tab-option-box select{
    background: white url('../images/arrow.png') no-repeat 101% 0;
    margin-top:10px;
    width:275px;
    height:33px;
    padding-left:10px;
    font-size: 20px;
    font-family: "Calibri";
    color: #16320a;
    font-weight: bold;
    text-transform:uppercase;
    outline: none;
  
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border:1px solid #b5b5b5;
}
select::-ms-expand {
    display: none;
}  
.edit-menu-tab-option-box select:nth-child(2){
    margin-left:20px;
}
.edit-menu-tab-foodlist ul{
    width:571px;   
    background:#fff;
    height:304px;
    overflow: scroll;
    margin-top:10px;
    border: 1px solid #b5b5b5;
    overflow-x: hidden;
}
.edit-menu-tab-foodlist ul li{
    list-style-type: none;
    text-transform: capitalize;
    font-size: 20px;
    font-family: "Calibri";
    color: rgb( 125, 124, 124 );
    margin-left:10px;
    margin-top: 10px;
    cursor: pointer;
}
.edit-menu-tab-foodlist ul li.food-selected{
    font-family: "Calibri";
    font-weight: bold;  
    color:#16320a;
    padding-left:25px;
    background: url('../images/ok.png') no-repeat;
}
.edit-menu-tab-button{
    margin-top: 20px;
    margin-left: 270px;
    margin-bottom: 20px;
    font-weight: bold;
    width:66px;
    height:30px;
    color:#fff;
    text-transform: uppercase;
    font-size:20px;
    background:#d04f3a;
    border:none;
    cursor:pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    -moz-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    border:1px solid #972f1e;
}
.edit-menu-tab-button:focus,
.edit-menu-tab-button:active,
.edit-menu-tab-button:visited
{
     outline: none;
}
.edit-menu-tab-button:active{
    -webkit-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    -moz-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
}
.edit-menu-tab-description1,.edit-menu-tab-description2 {
    font-size: 20px;
    font-family: "Calibri";
    color: #4b4b4b;
    text-transform: uppercase;
}
.edit-menu-tab-description2 {
   margin-top:15px;
}
.edit-menu-tab-description1 img,.edit-menu-tab-description2 img{
    margin-right:10px;
}
.menu-order-foodlist ul{
    height:305px;
    width:570px;
    background: white;
    overflow: scroll;
    border: 1px solid #b5b5b5;
    margin-top:10px;
    overflow-x: hidden;

}
.menu-order-foodlist ul li{
    list-style-type: none;
    font-size: 20px;
    font-family: "Calibri";
    color: #393939;
    margin-top:10px;
    text-transform: capitalize;
    margin-left:10px;
    padding-left:25px;
    background: url('../images/up-down.png') no-repeat 0 50%;
    cursor: pointer;
}
.menu-order-foodlist ul li:first-child{
    margin-top:8px;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@   ADD INGREDIENTS    @@@@@@@@@@@@@@@@@@@@@@@@@@@*/


.add-ingredients{
    height:0px;  
}
.add-ingredients-background{  
    width: 936px;  
    height: 700px;
    background:black; 
    top:-780px;
    left: 0px;
    z-index:9;
    opacity: 0.4;
    position:relative;
}
.add-ingredients-content{
    width:382px;
    position: relative;
    top:-1418px;
    left:406px;
    z-index: 990;
    overflow: hidden;  
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.add-ingredients-topbar{
    background:#7d7c7c;
    height:40px;
    border-bottom: 1px solid #0f3300;
}
.add-ingredients-topbar i{
    color:white;
    margin-left:20px;
    margin-top:9px;
    font-size: 24px;
    float:left;
}
.add-ingredients-topbar p{    
    font-size: 22px;
    font-family: "Calibri";
    color: rgb( 69, 69, 69 );
    text-transform: uppercase;
    float:left;
    margin-top:11px;
    margin-left:9px;
    color:#f8f8f8;
}
.add-ingredients-content{ 
    background:#ecebeb;
    height:455px;
}
.add-ingredients-content-box p{  
    margin-top:20px;
    margin-left:20px;
    font-size: 20px;
    font-family: "Calibri";
    color: #4b4b4b;
    text-transform: capitalize;
}
.add-ingredients-content-box ul{
    height:300px;
    width:340px;
    background:#fff;
    margin-left:20px;
    overflow:scroll;
    overflow-x:hidden;
    margin-top:12px;
    border: 1px solid #a1a1a1;
}
.add-ingredients-content-box ul li{
    font-size: 20px;
    font-family: "Calibri";
    color: #666565;
    text-transform: capitalize;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    list-style-type: none; 
    cursor:pointer;
}

.add-greenback{
    background: #d9ecc1 url('../images/ok.png') no-repeat 5% 50%;
    padding-left:50px! important;
    color:#16320a! important;
    font-weight:bold;
}

.add-ingredients-button{
    margin-top: 15px;
    margin-left: 162px;
    margin-bottom: 20px;
    font-weight: bold;
    width:66px;
    height:30px;
    color:#fff;
    text-transform: uppercase;
    font-size:20px;
    background:#d04f3a;
    border:none;
    cursor:pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    -moz-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    border:1px solid #972f1e;
}
.add-ingredients-button:focus,
.add-ingredients-button:active,
.add-ingredients-button:visited
{
     outline: none;
}
.add-ingredients-button:active{
    -webkit-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    -moz-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ EDIT INGREDIENTS @@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.edit-ingredients{ 
    height:456px;  
    width:390px;
    background:#ecebeb;
    margin-top:35px;
    margin-left:43px;    
    border: 1px solid #0f3300;
}
.edit-ingredients-content-box{

}
.edit-ingredients-content-box ul{
        width:368px;
}
.edit-ingredients-content-box ul li:nth-child(2n){
    background: #cdf1c7 url('../images/ok.png') no-repeat 5% 50%;
    padding-left:50px;
    color: #666565;
    font-weight:normal;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   INGREDIENTS    @@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.ingrediends{
    border: 1px solid #0f3300;
    margin-top:35px;
    margin-left:44px;
    width:615px;
    height:520px;
    background:#ecebeb;
}
.ingrediends-tobar {
    border-bottom: 1px solid #0f3300;
    height:40px;
    background:#7d7c7c;
}
.ingrediends-tobar i{
    margin-left:20px;
    margin-top:8px;
    font-size: 24px;
    color: #fff;
    float:left;
}
.ingrediends-tobar p{
    font-size: 22px;
    font-family: "Calibri";
    color: #fff;
    text-transform: uppercase;
    float:left;
    margin-left:10px;
    margin-top:10px;
}
.ingredients-content{

}
.ingredients-content p:first-child{
    color:#5a5a5a;
    margin-left:20px;
    margin-top:17px;
    font-size: 20px;
    font-family: "Calibri";
}
.ingrediends-price{
}
.ingrediends-price input{
     font-size: 20px;
    font-family: "Calibri";
    font-weight: bold;
    padding-left:10px;
    outline: none;
    float:left;
}
.ingrediends-price input:first-child{
    margin-top:10px;
    width:379px;
    height:30px;
    margin-left:20px;
}
.ingrediends-price input:nth-child(3){
    text-transform: uppercase;
    width:52px;
    margin-top:10px;
    height:30px;
    margin-left:7px;
}
.ingrediends-price input::-webkit-input-placeholder {
    color: #16320a;
}
.ingrediends-price input:-moz-placeholder {
    /* FF 4-18 */
    color: #16320a;
}
.ingrediends-price input::-moz-placeholder {
    /* FF 19+ */
    color: #16320a;
}
.ingrediends-price input:-ms-input-placeholder {
    /* IE 10+ */
    color: #16320a;
}
.ingrediends-price p:nth-child(2){
    text-transform: uppercase; 
    font-size: 20px;
    font-family: "Calibri";
    color: #7d7c7c;
    font-weight: bold;
    float:left;
    margin-top:18px;
    margin-left:10px;
}
.ingrediends-price p:last-child{
    width:34px;
    height:28px;
    border: 1px solid #b5b5b5;
    float:left;
    margin-top:10px;
    margin-left:10px;
    background:#bebebe;
    color:#7d7c7c;
    font-size:24px;
    padding-top:6px;
}
.ingrediends-price p:last-child i{
    margin-left:8px;
    font-weight: normal;
}
.ingredients-content ul{
    width:575px;
    height:305px;
    overflow: scroll;
    overflow-x: hidden;
    background:#fff;
    margin-left:20px;
    margin-top:57px;
    border:1px solid #b5b5b5;
}
.ingredients-content ul li{   
    padding:5px 20px 5px 10px;
    padding-bottom:5px;
    font-size: 20px;
    font-family: "Calibri";
    color:#7d7c7c;
    text-transform:capitalize;
}
.ingredients-content ul li span:first-child{
    float:left;
}
.ingredients-content ul li span:last-child{
    float: right;
    text-transform: uppercase;
}
.ingredients-content ul li.ingrediends-green{
    background: #cdf1c7;
    font-weight: bold;
    color: #16320a;
    padding-left:20px;
}
.ingrediends-button{
    
}
.ingrediends-button{
    margin-top: 30px;
    margin-left: 272px;
    margin-bottom: 20px;
    font-weight: bold;
    width:66px;
    height:30px;
    color:#fff;
    text-transform: uppercase;
    font-size:20px;
    background:#d04f3a;
    border:none;
    cursor:pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    -moz-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    border:1px solid #972f1e;
}
.ingrediends-button:focus,
.ingrediends-button:active,
.ingrediends-button:visited
{
     outline: none;
}
.ingrediends-button:active{
    -webkit-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    -moz-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   CREATE A COMBO    @@@@@@@@@@@@@@@@@@@@@@@@*/

.create-a-combo-background{   
    width: 936px;  
    height: 700px;
    background:black;
    top:-780px;
    left: 0px;
    z-index:9;
    opacity: 0.4;
    position:relative;
}
.create-a-combo-content{ 
    position: relative;
    top:-1444px;
    left:278px;
    z-index: 990;
    overflow: hidden;
    border: 1px solid #0f3300;
    width:614px;
    height:570px;
    background: #fff;
}
.create-a-combo{
    height:0px;
}
.create-a-combo-tabs{
    margin:0px;
    margin-top:10px;
}
.create-a-combo-topbar{
    background:#7d7c7c;
    height:40px;
    border-bottom:1px solid #0f3300;
}
.create-a-combo-topbar i{
    font-size: 24px;
    color:#fff;
    margin-left:20px;
    margin-top:8px;
    float:left;
}
.create-a-combo-topbar>p{
    font-size: 22px;
    font-family: "Calibri";
    color: #fff;
    margin-top:10px;
    float:left;
    text-transform: uppercase;
    margin-left:10px;
}
.create-a-combo-selectoption{
    margin-top:15px;
    height:30px;
    padding-left:10px;
    width:560px;
    font-size: 20px;
    font-family: "Calibri";
    text-transform:uppercase;
    outline: none;
}
.create-a-combo-selectoption::-webkit-input-placeholder {
    color: #5d5d5d;
}
.create-a-combo-selectoption:-moz-placeholder {
    /* FF 4-18 */
    color: #5d5d5d;
}
.create-a-combo-selectoption::-moz-placeholder {
    /* FF 19+ */
    color: #5d5d5d;
}
.create-a-combo-selectoption:-ms-input-placeholder {
    /* IE 10+ */
    color: #5d5d5d;
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
background:#d2d0d0;border: 1px solid #b5b5b5;
}
::-webkit-scrollbar-thumb {
background: #979595; 
}
::-webkit-scrollbar-button:end:increment  {
    background: url("../images/arrow_down.png") no-repeat 100%/100%;
}
::-webkit-scrollbar-button:start:decrement{
    background: url("../images/arrow_up.png") no-repeat 100%/100%;
}
#create-a-combobutton{
    margin-left:250px;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  ADD ITEM   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


.add_item{
    width:612px;     
    border: 1px solid #0f3300;
    height:650px;
    margin-top:35px;
    margin-left:45px;
    background: #ecebeb;
}
.add-item-topbar{
    height:40px;
    border-bottom:1px solid #0f3300;
    background:#7d7c7c;
}
.add-item-topbar i{
    font-size:24px;
    margin-top:8px;
    margin-left:18px;
    float:left;
    color:#fff;
}
.add-item-topbar p{
    font-size: 22px;
    font-family: "Calibri";
    color: #fff;
    text-transform: uppercase;
    margin-left:10px;
    margin-top:10px;
    float:left;
}
.add-item-contentbox input:first-child{
    width:562px;
    height:30px;
    margin-top:20px;
    margin-left:20px;
    font-size: 20px;
    font-family: "Calibri";
    color: #cdcdcd;
    text-transform: capitalize;
    padding-left:10px;
}
#add-item-textbox1::-webkit-input-placeholder {
    color: #999999;
}
#add-item-textbox1:-moz-placeholder {
    /* FF 4-18 */
    color: #999999;
}
#add-item-textbox1::-moz-placeholder {
    /* FF 19+ */
    color: #999999;
}
#add-item-textbox1:-ms-input-placeholder {
    /* IE 10+ */
    color: #999999;
}
.add-item-contentbox textarea{
    resize:none;
    font-size: 20px;
    font-family: "Calibri";
    color: #999999;
    text-transform: capitalize;    
    margin-top:10px;
    margin-left:20px;
    padding-left:10px;
    padding-top:10px;
    width:563px;
    height:76px;
}
.add-item-contentbox p:nth-child(3){
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Calibri";
    color: #414141;
    margin-top:10px;
    margin-left:20px;
}
.item-price-number-box{
    margin-top:10px;
    border:1px solid #b5b5b5;
    margin-left:20px;
    width:575px;
}
.item-price-number{
    height:48px;
    width:575px;

    background:#fff;
}
.item-price-number p:first-child{
    font-size:28px;  
    font-family: "Arial Rounded MT Bold";
    font-weight: bold;
    width:27px;
    height:27px;
    text-align: center;
    border-radius: 15px;
    color:#fff;
    background:#7d7c7c;
    float:left;
    margin-top:10px;
    margin-left:10px;
}
.item-price-number >p:nth-child(2){
    font-size: 20px;
    font-family: "Calibri";
    color:#414141;
    margin-left:15px;
    float:left;
    margin-top:14px;
}
.item-price-number input:nth-child(3),.item-price-number input:nth-child(5){ 
    width:55px;
    height:28px; 
    float:left;
    margin-left:10px;
    margin-top:8px;
    padding-left:6px;
    font-size: 20px;
    font-family: "Calibri";
    color: #414141;
    text-transform: uppercase;
}
.item-price-number input:nth-child(3)::-webkit-input-placeholder {
    color: #414141;
}
.item-price-number input:nth-child(3):-moz-placeholder {
    /* FF 4-18 */
    color: #414141;
}
.item-price-number input:nth-child(3)::-moz-placeholder {
    /* FF 19+ */
    color: #414141;
}
.item-price-number input:nth-child(3):-ms-input-placeholder {
    /* IE 10+ */
    color: #414141;
}
.item-price-number input:nth-child(5)::-webkit-input-placeholder {
    color: #414141;
}
.item-price-number input:nth-child(5):-moz-placeholder {
    /* FF 4-18 */
    color: #414141;
}
.item-price-number input:nth-child(5)::-moz-placeholder {
    /* FF 19+ */
    color: #414141;
}
.item-price-number input:nth-child(5):-ms-input-placeholder {
    /* IE 10+ */
    color: #414141;
}

.item-price-number p:nth-child(4){
    float:left;
    margin-left:214px;
    font-size: 20px;
    font-family: "Calibri";
    color: #414141;
    text-transform: capitalize;
    margin-top:14px;
}
.item-price-number p:last-child{
    width:27px;
    height:27px;
    float:left;
    margin-left:20px;
    font-size: 24px;
    font-weight: bold;
    font-family: "Calibri";
    color:#fff;
    background:#59aa57;
    text-align:center;
    border: 1px solid #467c35;
    -webkit-box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.75);
    margin-top:11px;
}
.item-price-number-grey{
    background:#e1dfdf;
}
.items-greenbutton{
    margin-top:2px;
    height:48px;
}
.items-greenbutton p:first-child ,.items-greenbutton p:nth-child(2),.items-greenbutton p:nth-child(3){
    width:60px;
    padding-left:30px;
    float:left;    
    height: 30px;
    border: 1px solid #41712c;
    background: #6db46b; /* Old browsers */
    background: -moz-linear-gradient(top,  #6db46b 0%, #58994f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db46b), color-stop(100%,#58994f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6db46b 0%,#58994f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6db46b 0%,#58994f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6db46b 0%,#58994f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #6db46b 0%,#58994f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db46b', endColorstr='#58994f',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(117,117,117,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(117,117,117,1);
    box-shadow: 0px 0px 3px 0px rgba(117,117,117,1);
    border-radius:3px;
    margin-left:20px;
    margin-top:13px;
    font-size: 16px;
    font-family: "Calibri";
    text-transform: capitalize;
}
.items-greenbutton p:first-child span:first-child,.items-greenbutton p:nth-child(3) span:first-child{
    float:left;
    margin-left:-20px;
    margin-top:3px;
}
.items-greenbutton p:nth-child(3) span:first-child{
    margin-top:5px;
}
.items-greenbutton p:first-child span:nth-child(2),.items-greenbutton p:nth-child(3) span:nth-child(2){
    float:left;
    margin-top:6px;
    margin-left:6px;
}
.items-greenbutton p:nth-child(2){
    width:85px;
}
.items-greenbutton p:nth-child(2) span:nth-child(2){
    float:right;
    margin-top:6px;
    margin-right:7px;
}

.items-greenbutton p:nth-child(2) span:first-child img{
    width:23px;
    margin-top:3px;    float:left;
    margin-left:-20px;
}
.items-greenbutton p:nth-child(3){
    width:77px;
}

.items-redbutton p:first-child{
    margin-top:20px;
    margin-left:20px;
    width:25px;
    height:25px;
    border:1px solid #878787;
    background:#cbcbcb;
    float:left;
-webkit-box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.75);
box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.75);
}
.items-redbutton p:nth-child(2){
    float:left;
 font-size: 20px;
  font-family: "Calibri";
  color: #7c7b7b;
  text-transform: uppercase;
  margin-top:28px;
  margin-left:10px;
}   
.items-redbutton input:nth-child(3){
    margin-top: 20px;
    margin-left: 152px;
    margin-bottom: 20px;
    width:66px;
    height:30px;
    color:#fff;
    text-transform: uppercase;
    font-size:20px;
    background:#d04f3a;
    border:none;
    cursor:pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    -moz-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    border:1px solid #972f1e;
}
.items-redbutton input:nth-child(3):focus,
.items-redbutton input:nth-child(3):active,
.items-redbutton input:nth-child(3):visited
{
     outline: none;
}
.items-redbutton input:nth-child(3):active{
    -webkit-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    -moz-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  ADD ITEM   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.delivery{
    border: 1px solid #0f3300;
    width:615px;
    height:319px;
    margin-top:35px;
    margin-left:40px;
}
.delivery-topbar{
    height:40px;
    background:#7d7c7c;
}
.delivery-topbar p{
    float: left;
    color:#fff;
    margin-left:20px;
    margin-top:10px;
    font-size: 22px;
    font-family: "Calibri";
    text-transform: uppercase;
}
.delivery-description{
    float:left;
    height:30px;
    color:#414141;
    margin-top:20px;
    margin-left:20px;
    font-size: 20px;
    font-family: "Calibri";
}
.delivery-content{
    height:279px;
    width:615px;
    background:#ecebeb;
    float:left; 
}
.delivery-price-number{
    background:white;
    width:575px;
    height:48px;
}
.delivery-pricebox{
    border:1px solid #b9b9b9;
    margin-top:60px;  
    width:575px;
    margin-left:20px;
}
.delivery-pricebox .delivery-price-number:nth-child(2),.delivery-pricebox .delivery-price-number:nth-child(3){

    margin-top:0;
}
.delivery-pricebox .delivery-price-number:nth-child(2){
    background:#e1dfdf;
}
.delivery-price-number >p:first-child{
    font-size:28px;  
    font-family: "Arial Rounded MT Bold";
    font-weight: bold;
    width:27px;
    height:27px;
    text-align: center;
    border-radius: 15px;
    color:#fff;
    background:#7d7c7c;
    float:left;
    margin-top:10px;
    margin-left:12px;  
}
.delivery-price-number input:nth-child(2),.delivery-price-number input:nth-child(5){ 
    width:25px;
    text-align: center;
    height:28px; 
    float:left;
    margin-left:19px;
    margin-top:8px;
    padding-left:6px;
    font-size: 20px;
    font-family: "Calibri";
    color: #414141;
    text-transform: uppercase;
}
.delivery-price-number input:nth-child(2)::-webkit-input-placeholder {
    color: #414141;
}
.delivery-price-number input:nth-child(2):-moz-placeholder {
    /* FF 4-18 */
    color: #414141;
}
.delivery-price-number input:nth-child(2)::-moz-placeholder {
    /* FF 19+ */
    color: #414141;
}
.delivery-price-number input:nth-child(2):-ms-input-placeholder {
    /* IE 10+ */
    color: #414141;
}
.delivery-price-number input:nth-child(5)::-webkit-input-placeholder {
    color: #414141;
}
.delivery-price-number input:nth-child(5):-moz-placeholder {
    /* FF 4-18 */
    color: #414141;
}
.delivery-price-number input:nth-child(5)::-moz-placeholder {
    /* FF 19+ */
    color: #414141;
}
.delivery-price-number input:nth-child(5):-ms-input-placeholder {
    /* IE 10+ */
    color: #414141;
}
.delivery-price-number p:nth-child(3),.delivery-price-number p:nth-child(4){
    float:left;
    margin-left:10px;
    font-size: 20px;
    font-family: "Calibri";
    color: #414141;
    margin-top:14px;
}
.delivery-price-number p:nth-child(4){
    margin-left:240px;
}
.delivery-price-number input:nth-child(5){
    width:40px;
    margin-left:10px;
}

.delivery-button{
    margin-top: 20px;
    margin-left: 274px;
    margin-bottom: 20px;
    font-weight: bold;
    width:66px;
    height:32px;
    color:#fff;
    text-transform: uppercase;
    font-size:20px;
    background:#d04f3a;
    border:none;
    cursor:pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    -moz-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    border:1px solid #972f1e;
}
.delivery-button:focus,
.delivery-button:active,
.delivery-button:visited
{
     outline: none;
}
.delivery-button:active{
    -webkit-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    -moz-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  ABOUT ITEM   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.about{
    width:612px;
    height:621px;
    border: 1px solid #0f3300;
    margin-top:35px;
    margin-left:45px;
    background:#ecebeb;
}
.about-topbar{
    background:#7d7c7c;
    height:40px;
    border-bottom:1px solid #0f3300;
}
.about-topbar i{
    margin-top:8px;
    margin-left:21px;
    color:#fff;
    font-size: 24px;
    float:left; 
}
.about-topbar p{
    font-size: 22px;
    font-family: "Calibri";
    color: #fff;
    margin-top:10px;
    margin-left:10px;
    text-transform: uppercase;
    float:left;
}

.about-row1 textarea{
    resize:none;
    margin-top:21px;
    margin-left:20px;
    height:100px;
    background:#fff;
    width:562px;
    padding-top:10px;
    padding-left:10px;
    font-size: 20px;
    font-family: "Calibri";
    color:#999999;
    text-transform:capitalize;
}   
.about-row2 input{
    margin-top:7px! important;
    height:28px;
    width:562px;
    padding-left:10px;
    margin-left:20px;
    text-transform: capitalize;
    font-size: 20px;
    font-family: "Calibri";
}
.about-row3 input{
    margin-left:3px;
    margin-top:8px;
    width:173px;
    text-transform: capitalize;

}
.about-content input{
    height:28px;
    margin-top:11px;
    padding-left:10px;
    font-size: 20px;
    font-family: "Calibri";
    text-transform: capitalize;
    outline: none;
}
.about-row3 input:nth-child(1){
    margin-left:20px;
}
.about-row4 i{
    font-size: 30px;
    color:#839093;
}
.about-row4 i{
    margin-top:15px;
    float:left;
}
.about-row4 i:first-child{
    margin-left:20px;    
}
.about-row4 input{
    margin-right:7px;
    float:left;
    margin-left:9px;
    width:238px;
}
.about-row5{
    margin-top:45px;
}
.about-row5 i{ 
    float:left;
    margin-left:20px;
    margin-top:20px;
    font-size: 22px;
    color:#839093;
    margin-right:10px;
}
.about-row5 input{
    width:530px;
}
.about-row6 p:nth-child(2){
    display: none;
}
.about-row6 p:nth-child(3){
    width:55px;
}
.about-row7{
    margin-top:8px;
}
.about-row7 p:first-child,.about-row8 p:first-child,.about-row9 p:first-child{
    margin-left:20px;
    margin-top:14px;
    width:24px;
    height:20px;
    color:#ecebeb;
    border-radius:13px;
    background:#839093;
    float:left;
    text-align:center;
    padding-top:4px;
    margin-right:7px;
}
.about-row7 i:nth-child(3),.about-row8 i:nth-child(3),.about-row9 i:nth-child(3){
    color:#999999;
    font-size: 22px;
    margin-top:16px;
    position:relative;
    left:-251px;
    top:16px;
}
.about-row7 input,.about-row8 input,.about-row9 input{
    float:left;
}
.about-row7 input:nth-child(2),.about-row8 input:nth-child(2),.about-row9 input:nth-child(2){
    width:256px;
}
.about-row7 input:nth-child(4),.about-row8 input:nth-child(4),.about-row9 input:nth-child(4){
    width:228px;
    margin-left:10px;
    padding-left:30px;
}

.about-row8{
    margin-top:23px;
}
.about-row9 i:nth-child(3){
    top:39px;
}
.about-fontsquare{  
    background: transparent! important;
    margin-top:14px! important;
}
.about-fontsquare img{
    margin-top:-4px;
    
}
.about-button{
    
}
#about-button{
     margin-top: 20px;
         height:33px;
          font-size:22px;
}
.about-button{
   
    margin-left: 274px;
    margin-bottom: 20px;
    font-weight: bold;
    width:66px;
    height:30px;
    color:#fff;
    text-transform: uppercase;
    font-size:20px;
    background:#d04f3a;
    border:none;
    cursor:pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    -moz-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    border:1px solid #972f1e;
}
.about-button:focus,
.about-button:active,
.about-button:visited
{
     outline: none;
}
.about-button:active{
    -webkit-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    -moz-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@     HOURS   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.hours{
    height:460px;
}
.select-hours{
    height:50px;
}
.select-hourshhide{
    display: none;
}
.select-hours .hoursx{
    float:right;
    margin-top:-22px;
    margin-right:15px;
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@     UPLOAD PHOTO   @@@@@@@@@@@@@@@@@@@@@@@@@@*/

.select-photo{
    height:0;
}


.select-photo-background{   
    width: 936px;  
    height: 700px;
    background:black;
    top:-780px;
    left: 0px;
    z-index:9;
    opacity: 0.4;
    position:relative;
}
.select-photo-content{    
    width:388px;
    height:390px;
    position: relative;
    top:-1311px;
    left:392px;
    background:#e5e5e5;
    z-index: 990;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    overflow: hidden;
    
}
.select-photo-topbar {
    height: 61px;
    background:#fff;
}
.select-photo-topbar img{
    margin-top: 20px; 
    margin-left:20px;
    width:21px;
    float:left;
}
.select-photo-topbar p{
    margin-top:18px;
    margin-left:20px;
    float:left;
    font-size: 22px;
    font-family: "Calibri";
    color: #454545;
    text-transform: uppercase;
}
.select-photo-topbar img:last-child{
    margin-left:150px;
}
.select-photocontentbox{
    width:348px;
    background: #fff;
    border: 1px solid #b6b6b6;
    margin-left:20px;
    margin-top:20px;
    height:230px;
}
.select-photocontentbox p{
    font-size: 32px;
    font-family: "Arial";
    color: rgb( 108, 108, 108 );
    font-weight: bold;
    text-transform: uppercase;
    text-align:center;
}

.select-photocontentbox p{
    margin-top:35px;
}
.select-photocontentbox p:nth-child(2){
    margin-top:29px;
}
.select-photocontentbox p:nth-child(3){
      margin-top:26px;  
}
.select-photo-button{
    margin-top:20px;
    background: #fff;
}
.select-photo-button input{
    margin-top: 14px;
    margin-left: 165px;
    margin-bottom: 20px;
    font-weight: bold;
    width:66px;
    height:32px;
    color:#fff;
    text-transform: uppercase;
    font-size:20px;
    background:#d04f3a;
    border:none;
    cursor:pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    -moz-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    border:1px solid #972f1e;
}
.select-photo-button input:focus,
.select-photo-button input:active,
.select-photo-button input:visited
{
     outline: none;
}
.select-photo-button input:active{
    -webkit-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    -moz-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@     SELECT A PHOTO   @@@@@@@@@@@@@@@@@@@@@@@@*/
.select-a-photo{
    height:0;
}
.select-a-photo-content{
    border: none;
    height:520px;
}
#select-photobutton{
    margin-left:255px;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@      REWARD     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.reward{                 
    width:615px;
    height:379px;
    border: 1px solid #0f3300;
    margin-top:35px;
    margin-left:45px;
    background:#ecebeb;
}
.reward-topbar{
    background: #7d7c7c;
    color:#fff;
    height:40px;
    border-bottom:1px solid #0f3300;
}
.reward-topbar i{
    font-size: 24px;
    font-family: "FontAwesome";
    float:left;
    margin-top:7px;
    margin-left:20px;
}
.reward-topbar p{
    float:left;
    font-size: 22px;
    font-family: "Calibri";
    text-transform: uppercase;
    margin-top:10px;
    margin-left:6px;
}
.rewardcontent{
    width:575px;
    height:240px; 
    border: 1px solid #b7b7b7; 
    margin-top:20px;
    margin-left:20px;
}
.reward-row1{
    height:48px;  
    background:#e1dfdf;
}
.reward-row1 img,.reward-row2 img{
    width:21px;
    float:left;
    margin-left:24px;
    margin-top:12px;
}
.reward-row1 p,.reward-row1 input,.reward-row2 p,.reward-row2 input{
    font-size: 20px;
    font-family: "Calibri";
    color: #414141;
    float:left;    margin-top:11px;
}
.reward-row1 p:nth-child(2),.reward-row2 p:nth-child(2){
    margin-left:15px;

}
.reward-row1 input,.reward-row2 input{
    width:30px;
    height:28px;
    text-align:center;
    margin-top:10px;
}
.reward-row1 p:nth-child(3){
    margin-left:235px;
}
.reward-row1 input,.reward-row2 input{
    margin-top:6px;
    margin-left:2px;
    margin-right:3px;
}
.reward-row2 input{
    margin-left:295px;
}

.reward-row2{
    height:48px;  
    background:#fff;
}
.reward-row2-grey{
    background:#e1dfdf;
}
.reward-row2-grey input{
    background:#f2f2f2;
    width:35px;
    border:1px solid #c2c1c1;
}

.reward-field1 input{  
    margin-left:188px;
}
.reward-field2 input{
    margin-left:340px;
}
.reward-button input{
    margin-top: 20px;
    margin-left: 273px;
    margin-bottom: 20px;
    font-weight: bold;
    width:66px;
    height:30px;
    color:#fff;
    text-transform: uppercase;
    font-size:20px;
    background:#d04f3a;
    border:none;
    cursor:pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    -moz-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    border:1px solid #972f1e;
}
.reward-button input:focus,
.reward-button input:active,
.reward-button input:visited
{
     outline: none;
}
.reward-button input:active{
    -webkit-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    -moz-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
}



/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   MODIFY ABOUT  @@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


.modify-about{
    margin-top:30px;
    margin-left:25px;
    width:615px;
    height:625px;
    background:#ecebeb;
        border:1px solid #0f3300;
}
.modify-about-topbar{
    height:40px;
    background:#7d7c7c;
    border-bottom:1px solid #0f3300;
}
.modify-about-topbar i{
    font-size: 24px;
    color:#fff;
    margin-left:20px;
    margin-top:10px;
    float:left;
}
.modify-about-topbar p{
    color:#fff;
    font-size: 22px;
    font-family: "Calibri";
    float:left;
    text-transform: uppercase;
    margin-top:11px;
    margin-left:10px;
}
#modify-digital-menu .tab-content{
    border:none;
    border-top:1px solid #798972;
    margin-top:-4px! important;
}
#modify-about-content-digital{
    margin-left:-20px;
}
.modify-about-content select{  
    height:30px;
    width:573px;
    
}
.modify-about-content select{
    background: white url('../images/arrow.png') no-repeat 100% 0px;   
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    border:1px solid #b5b5b5;
    text-transform:capitalize;
    height:35px;
    font-size: 20px;
    font-family: "Calibri";    
    color:#4c4c4c;
}

.modify-about-select-menu select{
    margin-top:13px;
    margin-left:20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width:573px;        
    padding-left:10px;    
    font-size: 20px;
    font-family: "Calibri";    
    color:#4c4c4c;
}
select::-ms-expand {
    display: none;
}  
select{
    outline:none;
}
.modify-about-select-template{
    margin-top:10px;
    margin-left:20px;
}
.modify-about-select-template select{
    width:279px;
}
.modify-about-select-template select:nth-child(2){
    margin-left:10px;
}
.modify-about-color-picker{
    margin-top:15px;
    margin-left:20px;
    height:65px;
    font-family: 'HelveticaNeueLTCom-BdCn';
}
#color-picker{
       font-family: 'HelveticaNeueLTCom-BdCn'; 
}
.modify-about-color-picker p:first-child{
    float:left;
    width:60px;
    font-size: 22px;
    font-family: "Calibri";
    color:#5b5b5b;
    text-transform: uppercase;   
    margin-top:10px;
}
.modify-about-color-picker>p:first-child span{
    display: block; 
}
.modify-about-color-picker div:nth-child(2) {
    border: 1px solid #01155c;
    float:left;
    margin-left:10px;
    height:63px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: -2px 2px 2px 0px rgba(120,120,120,1);
-moz-box-shadow: -2px 2px 2px 0px rgba(120,120,120,1);
box-shadow: -2px 2px 2px 0px rgba(120,120,120,1);
}
.modify-about-color-picker div:nth-child(2) p{
    width:77px;
    height:22px;
    float:left;
    margin:0;
    font-size: 20px;
    font-family: "Calibri";
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-top:40px;
    color:#595959;
}
.modify-about-color-picker div:nth-child(2) p:first-child{
    background: #eec17f; /* Old browsers */
    background: -moz-linear-gradient(top,  #eec17f 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eec17f), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eec17f 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eec17f 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eec17f 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eec17f 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eec17f', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.modify-about-color-picker div:nth-child(2) p:nth-child(2){
    background: #ff8a00; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff8a00 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8a00), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff8a00 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff8a00 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff8a00 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff8a00 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8a00', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.modify-about-color-picker div:nth-child(2) p:nth-child(3){
    background: #bc050a; /* Old browsers */
    background: -moz-linear-gradient(top,  #bc050a 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bc050a), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #bc050a 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #bc050a 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #bc050a 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #bc050a 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc050a', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
.modify-about-color-picker div:nth-child(2) p:nth-child(4){
    background: #7cddfd; /* Old browsers */
    background: -moz-linear-gradient(top,  #7cddfd 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7cddfd), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7cddfd 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7cddfd 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7cddfd 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7cddfd 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cddfd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.modify-about-color-picker div:nth-child(2) p:nth-child(5){
    background: #bac000; /* Old browsers */
    background: -moz-linear-gradient(top,  #bac000 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bac000), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #bac000 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #bac000 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #bac000 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #bac000 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bac000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
.modify-about-color-picker p:last-child{
    width:101px;
    float:left;
    height:60px;
    background: #6db46b; /* Old browsers */
    background: -moz-linear-gradient(top,  #6db46b 0%, #58994f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db46b), color-stop(100%,#58994f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6db46b 0%,#58994f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6db46b 0%,#58994f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6db46b 0%,#58994f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #6db46b 0%,#58994f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db46b', endColorstr='#58994f',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
    border-radius:3px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Calibri";
    font-size: 16px;
    margin-left:10px;
    margin-top:2px;
}
.modify-about-color-picker> p:last-child img{
    margin-left:5px;
    margin-top:17px;
    float:left;
}
.modify-about-color-picker> p:last-child span{
    font-size: 22px;
    font-family: "Calibri";
    margin-top:19px;
    float:left;
    margin-left:2px;
}
.modify-about-promo-content{
    border: 1px solid #b9b9b9;
    margin-top:15px;
    margin-left:20px;
    width:570px;
    height:145px;
    background:white;
}
.modify-about-row1{
    height:48px;
}
.modify-about-row1-right,.modify-about-row1-left{
    height:50px;   
    float:left;         
    width:278px;
    border-right: 1px solid #b9b9b9;   
}
.modify-about-row1-left{
    border:none;
}
.modify-about-row1-right p:first-child,
.modify-about-row1-right p:last-child,
.modify-about-row1-left p:first-child, 
.modify-about-row1-left p:last-child{ 
    margin-left:40px;
    float:left;
    margin-top:14px;
    font-size: 20px;
    font-family: "Calibri";
    color: #414141;
    text-transform: capitalize! important;
}
.modify-about-row1-left p:first-child{
    margin-left:25px;
}
.modify-about-row1-right input,.modify-about-row1-left input{
    float:left;
    margin-left:10px;
    margin-top:10px;
    width:40px;
    height:28px;
    text-align: center;
    background:#f2f2f2;
    border: 1px solid #acacac;
    font-size: 20px;
    font-family: "Calibri";
    text-transform: uppercase;
}
.modify-about-row1-left input{
    width:25px;
}
.modify-about-row1 input::-webkit-input-placeholder {
    color: #414141;
}
.modify-about-row1 input:-moz-placeholder {
    /* FF 4-18 */
    color: #414141;
}
.modify-about-row1 input::-moz-placeholder {
    /* FF 19+ */
    color: #414141;
}
.modify-about-row1input:-ms-input-placeholder {
    /* IE 10+ */
    color: #414141;
}
.modify-about-row1-right p:last-child,.modify-about-row1-left p:last-child{
    margin-left:10px; 
}
.modify-about-row2{
    height:48px;
    background:#e1dfdf;
}
.modify-about-row2 p:first-child,.modify-about-row3 p:first-child{
    float:left;
    margin-top:10px;
    margin-left:10px;
    width:25px;
    height:25px;
    background:#cef8b1;
    border:1px solid #868884;
    -webkit-box-shadow: -2px 2px 2px 0px rgba(92,92,92,1);
    -moz-box-shadow: -2px 2px 2px 0px rgba(92,92,92,1);
    box-shadow: -2px 2px 2px 0px rgba(92,92,92,1);
    cursor:pointer;
}
.modify_about-p-background{
    background: #cef8b1 url('../images/ok1.png') no-repeat 50% 50%! important;
}
.modify-about-row2 p:nth-child(2),.modify-about-row3 p:nth-child(2)
{
    float:left;
    font-size: 20px;
    font-family: "Calibri";
    color: #414141;
    text-transform: capitalize;
    margin-top:15px;
    margin-left:10px;
}
.modify-about-row3 p:nth-child(2){
    text-transform: none;
    margin-left:18px;
}
.modify-about-row2 input{
    float:left;
    width:360px;
    margin-left:7px;
    height:25px;
    margin-top:10px;
}
.modify-about-green-button{
    height:60px;
    margin-left:20px;
}
.modify-about-green-button p:first-child{
    font-size: 20px;
    font-family: "Calibri";
    color: #646464;
    margin-top: 27px;
        float:left;
    text-transform: none;
}
.modify-about-green-button p:last-child{
    float:left;
    width:60px;
    padding-left:30px;
    float:left;    
    height: 30px;
    border: 1px solid #41712c;
    background: #6db46b; /* Old browsers */
    background: -moz-linear-gradient(top,  #6db46b 0%, #58994f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db46b), color-stop(100%,#58994f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6db46b 0%,#58994f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6db46b 0%,#58994f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6db46b 0%,#58994f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #6db46b 0%,#58994f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db46b', endColorstr='#58994f',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(117,117,117,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(117,117,117,1);
    box-shadow: 0px 0px 3px 0px rgba(117,117,117,1);
    border-radius:3px;
    margin-left:20px;
    margin-top:10px;
    font-size: 16px;
    font-family: "Calibri";
    text-transform: capitalize;
    margin-top:20px;
}
.modify-about-green-button p:last-child img{
    float:left;
    margin-left:-20px;
    margin-top:3px;
}
.modify-about-green-button p:last-child span{
    float:left;
    margin-left:5px;
    margin-top:7px;
}
.modify-about-red-button{
    margin-top: 15px;
    margin-left: 273px;
    margin-bottom: 20px;
    font-weight: bold;
    width:66px;
    height:33px;
    color:#fff;
    text-transform: uppercase;
    font-size:20px;
    background:#d04f3a;
    border:none;
    cursor:pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    -moz-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    border:1px solid #972f1e;
}
.modify-about-red-button:focus,
.modify-about-red-button:active,
.modify-about-red-button:visited
{
     outline: none;
}
.modify-about-red-button:active{
    -webkit-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    -moz-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
}
#modify-digital-menu{
    margin:0;
    margin-top:15px;
}
#modify-digital-menu .tabs {
    width:615px;
    display:inline-block;    
    margin-left:45px;
    margin-top:36px;
    height:515px;
}
#modify-digital-menu .tab-links:after {
    display:block;
    clear:both;
    content:'';
    }
#modify-digital-menu .tab-links li {
    float:left;
    list-style:none; 
}
#modify-digital-menu 
.tab-links li:first-child a{
    border-left:none! important;
}
#modify-digital-menu 
.tab-links li:nth-child(2),
.tab-links li:nth-child(3),
.tab-links li:nth-child(4),
.tab-links li:nth-child(5),
.tab-links li:nth-child(6),
.tab-links li:nth-child(7)
{
    margin-left:5px; 
}
#modify-digital-menu .tab-links a {
    display:inline-block;
    border-bottom:none;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color:#cef8b1;
    width:39px;
    height:80px;
    padding-left:20px;
    color:#FFF;
    background: #393939 url('../images/screen-off.png') no-repeat 10px 10px;;
    font-size: 26px;
    font-family: "Arial Rounded MT Bold";
    padding-bottom:15px;
}
#modify-digital-menu .tab-links a span{
    float:left;
    margin-top:31px;
    margin-left:10px; 
}
#modify-digital-menu .tab-links a:hover {

}
#modify-digital-menu li.active a,#modify-digital-menu li.active a:hover {
    color:#FFF;
    background: #ecebeb url('../images/screen-on.png') no-repeat 10px 10px;;
    font-size: 26px;
    font-family: "Arial Rounded MT Bold";
}
 

#modify-digital-menu .tab-content {
    margin-top:-1px;
    padding-left:20px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background: #ecebeb;
}
 
#modify-digital-menu .tab {
    display:none;
}
 
#modify-digital-menu .tab.active {
    display:block;
}
#modify-digital-menu .tab-content> p:first-child{
    margin-top:25px;
    font-size: 20px;
    font-family: "Calibri";
    color: #4b4b4b;
    text-transform: uppercase;
}





/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@    SPECIALS    @@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.specials-row1{
    margin-top:24px;
    height:30px;
}
.specials-row1 input{
    height:30px;
    width:560px;
    font-size: 20px;
    font-family: "Calibri";
    color: #999999;
    text-transform: uppercase;
    font-weight: bold;
    padding-left:10px;
}
.specials-row2 textarea{
    resize:none;
    width:560px;
    height:50px;
    padding-left:10px;
    margin-top:16px;
    padding-top:5px;    
    font-family: "Calibri";
    color: #999999;
    font-size: 20px;
}
.specials-row31{
    margin-top:-3px;
    height:55px;
    margin-left:0px;
}
.specials-row31 p:first-child,.specials-row31 p:nth-child(6),.specials-row31 p:nth-child(10){
    font-size: 20px;
    font-family: "Calibri";
    color: #939ea0;
    font-size: 20px;
    font-family: "Calibri";
    font-weight: bold;
    margin-top:15px;
    float:left;
}
.specials-row31 p:nth-child(2),.specials-row31 p:nth-child(5){
    width:22px;
    height:22px;
    border:1px solid #717171;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #9c9b9b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#9c9b9b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#9c9b9b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#9c9b9b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#9c9b9b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#9c9b9b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9c9b9b',GradientType=0 ); /* IE6-9 */
    float:left;
    margin-left:13px;
    margin-top:15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor:pointer;
}
.specials-row31 p:nth-child(3){
    font-size: 20px;
    font-family: "Calibri";
    color: #939ea0;
    font-size: 20px;
    font-family: "Calibri";
    font-weight: bold;
    margin-top:15px;
    float:left;
    margin-left:5px;
}
.specials-row31 input:nth-child(4),.specials-row31 input:nth-child(7){
    float:left;
    width:38px;
    height:30px;
    background: #d7d6d6;
    border: 1px solid #c1c1c1;
    margin-top:11px;
    margin-left:4px;
    text-align:center;
}
.specials-row31 p:nth-child(5){
    margin-left:16px;
    
}
.specials-row31 p:nth-child(6){
    margin-left:5px;  
}
.specials-row31 input:nth-child(7){
    float:left;

}
.specials-row31 p:nth-child(8){
    float:left;
    width:24px;
    height:24px;
    border: 1px solid #000000;
    background:#4c4c4c;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    margin-top:15px;
    margin-left:37px;
}
.specials-row31 p:nth-child(9){
    float:left;
    border:1px solid #000000;
    width:10px;
    height:10px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    background:#ecebeb;
    margin-top:22px;
    margin-left:-19px;
}
.specials-row31 p:nth-child(10){ 
    text-transform:capitalize;
    margin-left:6px;
}
.specials-row32{
}
.specials-row32 select{ 
    width:574px;   
    height:33px;
    font-size: 20px;
    font-family: "Calibri";
    color:#999999;
    font-weight: bold;
    text-transform: uppercase;
    padding-left:10px;
     background: white url('../images/arrow.png') no-repeat 100% -2px;;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor:pointer;
}
.specials-row3{
    padding:0;
    height:57px;
}
.specials-row3-right{ 
     float:left;   
}
.specials-row3-right p:first-child{
     font-size: 20px;
  font-family: "Calibri";
  color: #999999;
  font-weight: bold;
  margin-top:28px;
  float:left;
}
.specials-row3-right input:nth-child(2){
    height:28px;
    width:38px;
    margin-top:22px;
    margin-left:5px;
    float:left;
}
.specials-row3-right p:nth-child(3){
    width:60px;
    padding-left:30px;
    float:left;    
    height: 32px;
    border: 1px solid #41712c;
    background: #6db46b; /* Old browsers */
    background: -moz-linear-gradient(top,  #6db46b 0%, #58994f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db46b), color-stop(100%,#58994f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6db46b 0%,#58994f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6db46b 0%,#58994f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6db46b 0%,#58994f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #6db46b 0%,#58994f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db46b', endColorstr='#58994f',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(117,117,117,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(117,117,117,1);
    box-shadow: 0px 0px 3px 0px rgba(117,117,117,1);
    border-radius:3px;
    margin-left:30px;
    margin-top:22px;
    font-size: 16px;
    font-family: "Calibri";
    text-transform: capitalize; 
    float:left;
}
.specials-row3-right p:nth-child(3) img{
    float:left;
    margin-left:-20px;
    margin-top:3px;
}
.specials-row3-right p:nth-child(3) span{
    float:left;
    margin-top:7px;
    margin-left:3px;
}
.specials-row3-left{    
    float:left;
    width:296px;
    height:42px;
    background:#d7d6d6;
    margin-top:18px;
    margin-left:30px;
}
.specials-row3-left p:first-child{
    font-size: 18px;
    font-family: "Calibri";
    color: #414141;
    text-transform: uppercase;
    margin-top:10px! important;
    float:left;
    margin-left:20px;
}
.specials-row3-left input:nth-child(2),.specials-row3-left input:nth-child(4){
    float:left;
    border:1px solid #bdbdbd;
    background: #eeeeee;
    height:30px;
    width:80px;
    font-size: 20px;
    font-family: "Calibri";
    color: rgb( 65, 65, 65 );
    margin-top:5px;
    text-transform: uppercase;
        margin-left:5px;
        text-align: center;
}
.specials-row3-left img:nth-child(3){
    float:left;
    margin-top:18px;
    margin-left:10px;
}
.specials-row3-left input:nth-child(4){
    margin-left:10px;
}
#specials-row4{
    margin-top:15px;
    height:200px;
}
.specials-row4-right{
    float:left;
    width:100px;
    height:50px;
}
.specials-row4-right img{
    float:left;
    margin-top:11px;
}
.specials-row4-right p{
    float:left;
    font-size: 20px;
    font-family: "Calibri";
    color: #16320a;
    text-transform: uppercase;
    font-weight: bold;
    margin-left:10px;
    margin-top:12px;
}
.specials-row4-left {
    float:left;
    height:100px;
    margin-top:5px;
}
.specials-row4-left-top select{
    height:34px! important;
    width:475px;
    height:30px;
    font-size: 20px;
    font-family: "Calibri";
    color: #999999;
    font-weight: bold;
    text-transform: uppercase;
    padding-left:10px;
     background: white url('../images/arrow.png') no-repeat 100% 0px;;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor:pointer;
    padding-left:10px;   
}
.specials-row4-left-bottom{
    border:1px solid #c4c4c4;
    border-top:none;
    height:150px;
}
.specials-row4-left-bottom ul:first-child,.specials-row4-left-bottom ul:last-child{
    width:237px;
    background: #fff;
    height:150px;
    float:left;
}
.specials-row4-left-bottom ul:first-child li,.specials-row4-left-bottom ul:last-child li{
    list-style-type: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Calibri";
    color: #a9a9a9;
    margin-left:10px;
    margin-top: 8px;
    cursor: pointer;
}
.specials-row4-selected{
    font-family: "Calibri";
    font-weight: bold;  
    color:#16320a !important;
    padding-left:25px;
    font-size: 20px !important;
    background: url('../images/ok.png') no-repeat;
}
.specials-button{
    margin-top:-20px;
    padding:0;
    height:86px;
}
.specials-button p:first-child img{
    width:20px;
    float:left;
    margin-top:46px;
}
.specials-button p:nth-child(2){
    font-family: "Calibri";
    float:left;
    font-weight: bold;  
    color:#16320a !important;
    text-transform: uppercase;
    font-size: 20px !important;
    margin-left:10px !important;
    margin-top:46px;
}
.specials-button input{
    margin-top: 31px;
    margin-left: 165px;
    font-weight: bold;
    width: 66px;
    height: 33px;
    float:left;
    color:#fff;
    text-transform: uppercase;
    font-size:20px;
    background:#d04f3a;
    border:none;
    cursor:pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    -moz-box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    box-shadow: -2px 2px 2px 0px rgba(102,102,102,1);
    border:1px solid #972f1e;
}
.specials-button input:focus,
.specials-button input:active,
.specials-button input:visited
{
     outline: none;
}
.specials-button input:active{
    -webkit-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    -moz-box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
    box-shadow: inset -1px 2px 6px 0px rgba(117,117,117,1);
}
.specials-row14 select{
    margin-top:20px;
    height:35px;
    width:572px;
    font-size: 20px;
    font-family: "Calibri";
    color: #999999;
    text-transform: uppercase;
    font-weight: bold;
    padding-left:10px;
        font-weight: bold;
    text-transform: uppercase;
    padding-left:10px;
     background: white url('../images/arrow.png') no-repeat 100% 0px;;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor:pointer;
}
