
/* 
Created on: 17 Sep, 2014, 4:29:37 PM
Author: senthil
*/

.ti_tx,
.mi_tx,
.mer_tx {
  width: 100%;
  text-align: center;
  margin: 5px 0;
}

.time,
.mins,
.meridian {
  width: 30px;
  float: left;
  margin: 0 18px;
  font-size: 20px;
  color: #2d2e2e;
  font-family: arial;
  font-weight: 700;
}

.prev,
.next {
  cursor: pointer;
  padding: 18px;
  width: 28%;
  border: 1px solid #ccc;
  margin: auto;
  background: url("../assets/arrow-datepicker.png") no-repeat;
  border-radius: 5px;
}

.prev:hover,
.next:hover {
  background-color: #ccc;
}

.next {
  background-position: 50% 150%;
}

.prev {
  background-position: 50% -50%;
}

.time_pick {
  position: relative;
}

.timepicker_wrap {
  padding: 10px;
  border-radius: 5px;
  z-index: 998;
  display: none;
  background: #f6f6f6;
  border: 1px solid rgba(15, 51, 0,1);
  float: left;
  position: absolute;
  top: 30px;
  left: 0;
  margin-left: 108px;
  background-color: #d4feb7;
  box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.4), -2px -2px 3px 0px rgba(0,0,0,0.4);
}

.arrow_top {
  position: absolute;
  top: -10px;
  left: 20px;
  background: url() no-repeat;
  width: 18px;
  height: 10px;
  z-index: 999;
}
input.timepicki-input {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  float: none;
  margin: 0;
  text-align: center;
  width: 70%;
}
a.reset_time {
  float: left;
  margin-top: 5px;
  color: #000;
}
.main-contain .addmenu-sec .timepicker_wrap input {
  width: 38px;
  float: none;
  font-size: 20px;
  margin-left: 0;
  padding: 0;
  border-radius: 5px;
  height: 34px;
  line-height: 34px;
}

.add_symbol{
  margin-top: 18px;
  float: left;
  padding-left: 4px;
  font-size: 20px;
  padding-right: 5px;
  position: relative;
  left: 4px;
}

.timepicki_button{
  height: 32px;
  width: 41px;
}
.timepicker_wrap .time {
  margin-right: 0;
  margin-left: 0;
}
.timepicker_wrap .mins {
  margin-left: 0;
  margin-right: 10px;
}
.main-contain .addmenu-sec .timepicker_wrap input.time_picker_format {
    background: #16320a;
    color: #fff;
    border-color: #16320a;
}
.main-contain .addmenu-sec .timepicker_wrap input.time_picker_format:focus {
  outline: none;;
}
.min_tab_select{
  height: 33px;
}
.timepicker_wrap  .meridian {
  margin-right: 8px;
  margin-left: 15px;
}
.main-contain .addmenu-sec .timepicker_wrap select {
  width: 41px;
  float: none;
  font-size: 15px;
  margin-left: 0;
  padding: 0;
  border-radius: 5px;
  height: 33px;
  line-height: 34px;
  background: #fff;
  border-color: #c9c9c9;
  color: #555;
}
.main-contain .addmenu-sec .timepicker_wrap select:focus, input:focus {
  outline: none;
}
.main-contain .addmenu-sec .timepicker_wrap input[type="text"].timepicki-input, 
.main-contain .addmenu-sec .timepicker_wrap select.min_tab_select {
  font-size: 20px;
  font-weight: normal;
}
.main-contain .addmenu-sec .timepicker_wrap select.min_tab_select{
  width: 51px;
}
.main-contain .reward-contents > .row p.arrow-right + .time_pick .timepicker_wrap {
  left: auto !important;
  right: 45px !important;
}
.main-contain .reward-contents > .row p.text_menu + .time_pick .timepicker_wrap {
  left: -88px !important;
}
.main-contain .reward-contents .time_pick .timepicker_wrap{
  top: 30px !important; 
}