<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<body>
	<th:block layout:fragment="content">
		<div class="aboutbox loginbox">
			<div th:if="${errorMsg != null}"
				class="alert alert-danger">
				<label th:text="${errorMsg}"></label><a href="#" class="close" data-dismiss="alert">X</a> 
			</div>
			<div th:if="${successMsg != null}"
				class="alert alert-success">
				<label th:text="${successMsg}" data-dismiss="alert"></label>
				<a href="#" class="close" data-dismiss="alert">X</a>
			</div>
			<div class="head">
				<i class="fa fa-lock"></i>Change your password
			</div>
			<!-- Main Bg start -->
			<div class="main-bg1">
				<!-- Rewards content start -->
				<div class="login-contents">
					<form method="post" th:action="@{/admin/resendPassword}">
						<div class="field">
							<label>New Password</label> <input type="email"
								class="form-control" name="email" placeholder="Username/Email"
								th:required="required" autofocus="autofocus" autocomplete="Off" />
						</div>
						<div class="actions">
							<input type="submit" class="save-btn forgotpswrd"
								value="Submit">
						</div>
					</form>
				</div>

			</div>
			<!-- Main Bg end -->
		</div>
	</th:block>
</body>
</html>