<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
	<script type="text/javascript">
		function loginErrorMsg(msg){
			toastr.error(msg);
		} 
		function loginSuccessMsg(msg){
			toastr.success(msg);
		} 
	</script>
</head>
<body>
	<th:block layout:fragment="content">
		<!--  LOG IN CONTENT -->
		<div class="aboutbox loginbox" sec:authorize="!isAuthenticated()">
			<div class="head">
				<i class="fa fa-user"></i>login <a class="pull-right" href="#"></a>
			</div>
			<!-- <div class="login-background"></div> -->
			<div class="login-contents" style="top: 50px; left: 155px;">
				
				<form th:action="@{/login}" method="post" class="login_form">
					<div class="row">
						<input type="text" name="username" placeholder="User Name" class="form-control">
					</div>
					<div class="row">
						<input type="password" name="password" placeholder="Password" class="form-control">
					</div>
					<div class="login__footer-required">
						<a th:href="@{/admin/forgotPassword}">Forgot your Password?</a>
					</div>
					<input type="submit" value="Submit" class="save-btn">
				</form>
			</div>
		</div>
		
		<div th:if="${errorMsg != null}" class="alert">
			<script th:inline="javascript">
				/*<![CDATA[*/
				window.onload = function() {
					loginErrorMsg([[${errorMsg}]]);
				}
				/*]]>*/
			</script>
			<!-- <label th:text="${errorMsg}"></label><a href="#" class="close" data-dismiss="alert">X</a> --> 
		</div>
		<div th:if="${successMsg != null}" class="alert">
			<script th:inline="javascript">
				/*<![CDATA[*/
				window.onload = function() {
					loginSuccessMsg([[${successMsg}]]);
				}
				/*]]>*/
			</script>
			<!-- <label th:text="${successMsg}" data-dismiss="alert"></label><a href="#" class="close" data-dismiss="alert">X</a> -->
		</div>
		<div class="alert" role="alert" th:if="${param.error != null && session[SPRING_SECURITY_LAST_EXCEPTION] != null}">
			<script th:inline="javascript">
				/*<![CDATA[*/
				window.onload = function() {
					loginErrorMsg([[${session[SPRING_SECURITY_LAST_EXCEPTION].message}]]);
				}
				/*]]>*/
			</script>
			
			<!-- <div th:if="${session[SPRING_SECURITY_LAST_EXCEPTION] != null}"> -->
	
			<!-- <label class="" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}"></label>
			<a href="#" class="close" data-dismiss="alert">X</a> -->
	
		  	<!-- <div th:if="${session[SPRING_SECURITY_LAST_EXCEPTION].message == #messages.msg('AbstractUserDetailsAuthenticationProvider.disabled')}">
				<p>please <a th:href="@{/site/redirect}" style="cursor: pointer;">click hear</a> to resend activation email</p>
			</div> -->
			<!-- </div> -->
		</div>
		
		<!--  LOG IN CONTENT -->
	</th:block>
</body>
</html>