<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<style type="text/css">
		 @import url('https://fonts.googleapis.com/css?family=Lato:400,300,700,900'); 
	
		body {
		  	/*background-color: #f2f2f2;*/
		    font-family: 'Lato', sans-serif;
		    font-weight: 300;
		    font-size: 16px;
		    color: #555;
		    line-height: 1.6em;
		    -webkit-font-smoothing: antialiased;
		    -webkit-overflow-scrolling: touch;
		}
		
		h1, h2, h3, h4, h5, h6 {
		    font-family: 'Lato', sans-serif;
		    font-weight: 300;
		    color: #444;
		}
		.container {
		    padding: 15px;
		    margin-right: auto;
		    margin-left: auto;
		}
	</style>
</head>
<body>
	<div style="background-color: #f2f2f2;padding: 20px;">
		<div style="background-color: #ffffff;" class="container">
		    Hello <span th:text="${firstName}"></span>,<br/> here are your new Login details, please keep it somewhere safe.<br/><br/><br/>
			UserName : <span th:text="${email}"></span> <br/>
			Password : <span th:text="${password}"></span><br/><br/><br/>
			<p>
				Sincerely,<br/>
				Phone My Food - Support Team
			</p>
	    </div>
    </div>
</body>
</html>