<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<style type="text/css">
		@import url('https://fonts.googleapis.com/css?family=Lato:400,300,700,900');
	
		body {
		  	/*background-color: #f2f2f2;*/
		    font-family: 'Lato', sans-serif;
		    font-weight: 300;
		    font-size: 16px;
		    color: #555;
		    line-height: 1.6em;
		    -webkit-font-smoothing: antialiased;
		    -webkit-overflow-scrolling: touch;
		}
		
		h1, h2, h3, h4, h5, h6 {
		    font-family: 'Lato', sans-serif;
		    font-weight: 300;
		    color: #444;
		}
		.container {
		    padding: 15px;
		    margin-right: auto;
		    margin-left: auto;
		}
	</style>
</head>
<body>
	<div style="background-color: #f2f2f2;padding: 20px;">
		<div style="background-color: #ffffff;" class="container">
		    Thank-You for signing up <span th:text="${firstName}"></span>,
		    
		    <p>We Built Phone My Food especially for the Food Industry, we are working hard to build you a spectacular Menu and Application. We will be contacting you to get details about your <th:block th:text="${businessType}"></th:block>.</p>
		    
		    <fieldset>
    			<legend>Here are some of the things we will need:</legend>
				<ul>
					<li>High Resolution Images or your LOGO and FOOD ITEMS</li>
					<li>Complete Menu with Prices, Description</li>
					<li>Hours: both Menu and Open hours</li>
					<li>Contact Details: Email, Social Accounts, Address and Phone contacts</li>
				</ul>
		  	</fieldset><br/>
		  	
		  	<br/><fieldset>
    			<legend>TV Screen Recommendations:</legend>
    			<p>We want you to have the very best Experience, we support both <b>Vertical</b> and <b>Horizontal</b> mounted displays</p>
				<ul>
					<li>4k TV Resolution</li>
					<li>SEMI GLOSS (less reflective)</li>
				</ul>
		  	</fieldset>
		    	
			<!-- <h4>Please signin with Resturent . You can do this through the link below.</h4></br> -->
			<p><a th:href="${confirmationUrl}" >Change my password</a></p><br/>
			<h4>If this link is not working, you can <a th:href="${confirmationUrl}" >Click Here</a>  and reset your password</h4></br>

			<h4>If you didn't request this, please ignore this email.</h4><br>
			<h4>Your password won't change until you access the link above and create a new one. </h4>
			
			<p>
				We look forward to providing you great service!
			</p>
			<p>
				Sincerely, Phone My Food - Support Team
			</p>


		    <!-- <h1 th:text="#{email.body.text}">Welcome To PhoneMyFood</h1>
		    
		    <h4>Please confirm your email id And Reset Password.</h4>
		    <p><a th:href="${confirmationUrl}" th:text="${confirmationUrl}"></a></p> -->
	    </div>
    </div>
</body>
</html>